<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录画面</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	
</style>
<script type="text/javascript">
	//查看活动详情
	function amtf_getactivity(_this, _is) {
		var newinput = getNewInput('activity_id', _this.activity_id);
		amtf_form.appendChild(newinput);
		amtf_submit(amtf_form, '/f010005/T002');
	}
	/*function amtf_getactivity(_this, _is) {
		$('#getactivity').modal('show');
		$('#activity_modal_head').text(_this.activity_head);
		if (_this.activity_img1 != '') {
			$('#activity_modal_img1').css('display', 'block');
			$('#activity_modal_img1').attr(
					'src',
					'/amtf/activityimg/' + _this.activity_img1 + '?r='
							+ Math.random());
		} else {
			$('#activity_modal_img1').css('display', 'none');
		}
		if (_this.activity_img2 != '') {
			$('#activity_modal_img2').css('display', 'block');
			$('#activity_modal_img2').attr(
					'src',
					'/amtf/activityimg/' + _this.activity_img2 + '?r='
							+ Math.random());
		} else {
			$('#activity_modal_img2').css('display', 'none');
		}
		if (_this.activity_img3 != '') {
			$('#activity_modal_img3').css('display', 'block');
			$('#activity_modal_img3').attr(
					'src',
					'/amtf/activityimg/' + _this.activity_img3 + '?r='
							+ Math.random());
		} else {
			$('#activity_modal_img3').css('display', 'none');
		}
		if (_this.activity_img4 != '') {
			$('#activity_modal_img4').css('display', 'block');
			$('#activity_modal_img4').attr(
					'src',
					'/amtf/activityimg/' + _this.activity_img4 + '?r='
							+ Math.random());
		} else {
			$('#activity_modal_img4').css('display', 'none');
		}
		if (_this.activity_img5 != '') {
			$('#activity_modal_img5').css('display', 'block');
			$('#activity_modal_img5').attr(
					'src',
					'/amtf/activityimg/' + _this.activity_img5 + '?r='
							+ Math.random());
		} else {
			$('#activity_modal_img5').css('display', 'none');
		}
		$('#activity_modal_activitytext').html(_this.activity_text);
		$('#activity_modal_activityname').text(
				'发布人：' + _this.activity_name + '  自   ' + _this.activity_time
						+ '发起');
		$('#activity_modal_activityymd').text(
				'活动日期：' + _this.activity_sttymd + '开始，' + _this.activity_endymd
						+ '结束');
		$('#activity_modal_activityid').val(_this.activity_id);
		if (_is == '1') {
			$('#getactivity_y').css('display','block');
			$('#getactivity_g').css('display','none');
		} else {
			$('#getactivity_g').css('display','block');
			$('#getactivity_y').css('display','none');
		}
	}*/
	// 参加活动
	function amtf_setusetactivity() {
		showdiv();
		$.ajax({
			url : CONTEXT_PATH + '/f010005/T001',
			type : 'post',
			dateType : 'html',
			async : true,
			data : {
				id : $('#activity_modal_activityid').val(),
			},
			success : function(result) {
				hidediv();
				if (result.isuseractivity > 0) {
					md.showNotification('top', 'center', '3', '参加成功。。。');
				} else if (result.isuseractivity == 0) {
					setCodeErrList("错误！！！请和管理员联系。。。");
				} else {
					md.showNotification('bottom', 'center', '2', '你已经参加过了。。。');
				}
			},
			error : function(res, textStaus) {
				hidediv();
				setCodeErrList("错误！！！请和管理员联系。。。");
			},
		});
	}
</script>
</head>
<body>
	<div class="wrapper">
		<th:block th:replace="navbar :: mynavbar"></th:block>
		<div class="main-panel">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!-- 活动一览 -->
				<div class="container-fluid dashboardclass" id="f010005">
					<div class="container-fluid d-flex">
						<i-form class="col-sm-12" th:action="@{/f010005}" method="post" style="height:100%;width: 100%" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f010005"/>
						<div class="row">
							<div class="col-md-8">
								<div class="card">
									<div class="card-header card-header-primary card-header-icon">
										<div class="card-icon">
											<i class="fa fa-bullhorn fa-2x"></i>
										</div>
										<h4 class="card-title">活动一览</h4>
									</div>
									<div class="card-body">
										<div class="toolbar"></div>
										<div class="material-datatables">
											<table id="activity_datatables" class="table table-hover" cellspacing="0" width="100%" style="width: 100%">
												<thead>
													<tr>
														<th class="">活动名称</th>
														<th class="text-left">发布人</th>
														<th class="">开始时间</th>
														<th class="">截至时间</th>
														<th class="">发布时间</th>
														<th class="text-center ">参加人数</th>
														<th class="disabled-sorting text-right">操作</th>
													</tr>
												</thead>
												<!--<tfoot>
													<tr>
														<th>活动名称</th>
														<th class="text-center">发布人</th>
														<th>开始时间</th>
														<th>截至时间</th>
														<th>发布时间</th>
														<th class="text-center">参加人数</th>
														<th class="text-right">操作</th>
													</tr>
												</tfoot>-->
												<tbody>
													<tr th:each="entity,idx:${f010005Params.select9}">
														<td>[[${entity.activity_head}]]</td>
														<td>[[${entity.activity_name}]]</td>
														<td>[[${entity.activity_sttymd}]]</td>
														<td>[[${entity.activity_endymd}]]</td>
														<td>[[${entity.activity_time}]]</td>
														<td class="text-center">[[${entity.count}]]</td>
														<td class="text-right">
															<!-- <a href="#" class="btn btn-link btn-info btn-just-icon like" title="加入">
																<i class="material-icons">favorite</i>
															</a> -->
															<a href="#" class="btn btn-link btn-warning btn-just-icon edit" title="查看" th:onclick="amtf_getactivity([[${entity}]],'0')">
																<i class="material-icons">dvr</i></a>
															<!--<a href="#" class="btn btn-link btn-danger btn-just-icon remove">
																<i class="material-icons">close</i>
															</a> -->
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-header card-header-primary card-header-icon">
										<h3 class="card-title"> <small>我参加的活动</small></h3>
                                    </div>
                                    <div class="card-body">
										<div class="toolbar"></div>
                                        <div class="material-datatables">
                                            <table id="activity_datatables_i" class="table table-hover" cellspacing="0" width="100%" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>活动名称</th>
                                                        <th>开始时间</th>
                                                        <th>截至时间</th>
                                                        <th class="text-center">参加人数</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
													<tr th:each="entity,idx:${f010005Params.select1}" class="" th:onclick="amtf_getactivity([[${entity}]],'1')">
														<td>[[${entity.activity_head}]]</td>
														<td>[[${entity.activity_sttymd}]]</td>
														<td>[[${entity.activity_endymd}]]</td>
														<td class="text-center">[[${entity.count}]]</td>
													</tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
								<div class="card">
									<div class="card-header card-header-primary card-header-icon">
										<h3 class="card-title"> <small>我发布的活动</small></h3>
									</div>
									<div class="card-body">
										<div class="toolbar"></div>
										<div class="material-datatables">
											<table id="activity_datatables_s" class="table table-hover" cellspacing="0" width="100%" style="width: 100%">
												<thead>
													<tr>
														<th>活动名称</th>
														<th>开始时间</th>
														<th>截至时间</th>
														<th class="text-center">参加人数</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="entity,idx:${f010005Params.select2}" class="" th:onclick="amtf_getactivity([[${entity}]],'1')">
														<td>[[${entity.activity_head}]]</td>
														<td>[[${entity.activity_sttymd}]]</td>
														<td>[[${entity.activity_endymd}]]</td>
														<td class="text-center">[[${entity.count}]]</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
                            </div>
                        </div>
						</i-form>
					</div>
				</div>
				<!-- 详细活动 -->
				<div class="modal fade" id="getactivity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-notice">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">活动详情</h3>
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">
									<i class="material-icons">close</i>
								</button>
							</div>
							<div class="modal-body">
								<div class="instruction">
									<div class="row">
										<div class="col-md-8">
											<strong id="activity_modal_head"></strong>
											<p class="description" id="activity_modal_activitytext">
											</p>
										</div>
										<div class="col-md-4">
											<div class="picture">
												<img th:src="@{/img/image_placeholder.jpg}" alt="..." id="activity_modal_img1" class="rounded img-fluid">
											</div>
											<div class="picture mt-2">
												<img th:src="@{/img/image_placeholder.jpg}" alt="..." id="activity_modal_img2" class="rounded img-fluid">
											</div>
											<div class="picture mt-2">
												<img th:src="@{/img/image_placeholder.jpg}" alt="..." id="activity_modal_img3" class="rounded img-fluid">
											</div>
											<div class="picture mt-2">
												<img th:src="@{/img/image_placeholder.jpg}" alt="..." id="activity_modal_img4" class="rounded img-fluid">
											</div>
											<div class="picture mt-2">
												<img th:src="@{/img/image_placeholder.jpg}" alt="..." id="activity_modal_img5" class="rounded img-fluid">
											</div>
										</div>
									</div>
								</div>
								<p>
									<span id="activity_modal_activityymd"></span>
									<!-- <h5 id="activity_modal_activityname" class="col-r"></h5> -->
								</p>
							</div>
							<div class="modal-footer justify-content-center">
								<button type="button" class="btn btn-info btn-round" data-dismiss="modal" id="getactivity_y" style="display: none">
									确认
								</button>
								<button type="button" class="btn btn-info btn-round" data-dismiss="modal" onclick="amtf_setusetactivity()" id="getactivity_g">
									参加
								</button>
								<input type="hidden" id="activity_modal_activityid"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>