<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	.lookeye{
		color: #7d8590;
	}
	.btn_login{
		width: 70px;
		height: 30px;
		background-color:transparent;
		border-style:none;
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.btn_login:hover{
		width: 70px;
		height: 30px;
		background-color:#b4b8b956;
		border-style:none;
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.li_bottom{
		border-bottom :1px solid;
		border-bottom-color:#b4b8b956;
	}
	.li_top{
		border-top :1px solid;
		border-top-color:#b4b8b956;
		padding-top: 3px;
	}
	.dis_none{
		display:none;
	}
	.dis_block{
		display:block;
	}
</style>
<script type="text/javascript">
	var _replyid='';
	$(function(){
		$('#activity_activitytext').html(htmlRestore('[[${f010005Params.select3.activity_text}]]'));
		$(document).click( function (e) {  // 在页面任意位置点击而触发此事件
			if(!$(e.target).hasClass('comment_now')){
				$('#comment_text').attr('rows','2');
				$('.comment2').css('display','none');
				$('#comment1').css('display','block');
			}
			if(!$(e.target).hasClass('commentreply_now')){
				$('#comment_replydiv').remove();
			}
		})
	})
	//查看活动详情
	function amtf_getactivity(_this) {
		var newinput = getNewInput('activity_id', _this.activity_id);
		amtf_form.appendChild(newinput);
		amtf_submitNew(amtf_form, '/f010005/T002');
	}
	//text聚焦事件
	function amtf_activeTextClick() {
		$('#comment_text').prop('rows','6');
		$('#comment1').css('display','none');
		$('.comment2').css('display','block');
		$('#comment_text').focus();
	}
	// 发言
	function amtf_activeText(_is){
		if(_is != 1){
			if($('#comment_text').val() == '') {
				$('#comment_text').attr('rows','2');
				$('#comment1').css('display','block');
				$('.comment2').css('display','none');
			} else {
				$.ajax({
					url : CONTEXT_PATH + '/f010005/T003',
					type : 'post',
					dateType : 'html',
					async : true,
					data : {
						id : '[[${f010005Params.select3.activity_id}]]',
						text : $('#comment_text').val(),
					},
					success : function(result) {
						if (result.iscomment < 1){
							md.showNotification('bottom', 'center', '2', '发言失败。。。');
						} else{
							$.ajax({
								url : CONTEXT_PATH + '/f010005/T004',
								type : 'post',
								dateType : 'html',
								async : true,
								data : {
									id : '[[${f010005Params.select3.activity_id}]]',
								},
								success : function(result) {
									if(result != ''){
										$('#commentselect5').replaceWith(result);
										$('#comment_text').val('');
									}
								},
								error : function(res, textStaus) {
									setCodeErrList("错误！！！请和管理员联系。。。");
								},
							});
						}
					},
					error : function(res, textStaus) {
						setCodeErrList("错误！！！请和管理员联系。。。");
					},
				});
			}
		} else {
			if($('#comment_reply').val() == '') {
				$('#comment_replydiv').remove();
			} else {
				$.ajax({
					url : CONTEXT_PATH + '/f010005/T005',
					type : 'post',
					dateType : 'html',
					async : true,
					data : {
						id : _replyid,
						text : $('#comment_reply').val(),
					},
					success : function(result) {
						if (result.isreply < 1){
							md.showNotification('bottom', 'center', '2', '发言失败。。。');
						} else{
							$.ajax({
								url : CONTEXT_PATH + '/f010005/T004',
								type : 'post',
								dateType : 'html',
								async : true,
								data : {
									id : '[[${f010005Params.select3.activity_id}]]',
								},
								success : function(result) {
									if(result != ''){
										$('#commentselect5').replaceWith(result);
										$('#comment_reply').val('');
									}
								},
								error : function(res, textStaus) {
									setCodeErrList("错误！！！请和管理员联系。。。");
								},
							});
						}
					},
					error : function(res, textStaus) {
						setCodeErrList("错误！！！请和管理员联系。。。");
					},
				});
			}
		}
	}
	// 快速发言
	function amtf_activeQuickSpeech(_is) {
		var speechs=new Array();
		speechs.push('阿弥陀佛🙏');
		speechs.push('善哉善哉。。。');
		speechs.push('🙏🙏🙏🙏🙏🙏');
		speechs.push('说的太对了🙏');
		if (_is != 1){
			$('#comment_text').val(speechs[getRandomInt(0,3)]);
		} else {
			$('#comment_reply').val(speechs[getRandomInt(0,3)]);
		}
	}
	//手势变更
	function amtf_thumbsFocus(_this) {
		$(_this).removeClass('fa-thumbs-o-up');
		$(_this).addClass('fa-thumbs-up');
	}
	function amtf_thumbsBlur(_this) {
		$(_this).removeClass('fa-thumbs-up');
		$(_this).addClass('fa-thumbs-o-up');
	}
	// 回复按钮押下
	function amtf_comment_reply(_dom,_this) {
		if($('#comment_replydiv').html() == undefined){
			var str='';
			str +="<div class='card-body d-flex commentreply_now' id='comment_replydiv'>";
			str +="<div class='commentreply_now'>";
			str += $("#comment_div img").prop('outerHTML')
			str += "</div>";
			str += "<div class='col-sm-10 commentreply_now'>";
			str += "<textarea class='col-sm-12 m-0 pl-0 commentreply_now' defaultValue='请输入你的评论。。。' cols='40' rows='2' id='comment_reply'></textarea>";
			str += "</div>";
			str += "<div class='col-sm-1 pad-0 commentreply_now'>";
			str += "<button class='btn pad-0 m-0 commentreply_now text-center btn-reddit commentreply2' onclick='amtf_activeText(1)'>发表评论</button>";
			str += "<button class='btn pad-0 m-0 commentreply_now text-center btn-info commentreply2 mt-2' onclick='amtf_activeQuickSpeech(1)'>快速发言</button>";
			str += "</div>";
			str += "</div>";
			$(_this).parents('li').after(str);
			_replyid = _dom.activity_comment_id;
		}
	}
	//删除评论
	function amtf_removeReply(_entity) {

	}
	//点赞
	function amtf_activeFabulous() {
		$.ajax({
			url : CONTEXT_PATH + '/f010005/T006',
			type : 'post',
			dateType : 'html',
			async : true,
			data : {
				id : '[[${f010005Params.select3.activity_id}]]',
			},
			success : function(result) {
				if(result.isfabulous == 'insert0'){
					md.showNotification('bottom', 'center', '2', '点赞失败。。。');
				} else if(result.isfabulous == 'delete0') {
					md.showNotification('bottom', 'center', '2', '取消点赞失败。。。');
				} else if(result.isfabulous == 'insert1') {
					if($('#fabulouscount').text() == '') {
						$('#fabuloustext').after("<span id=\"fabulouscount\">1</span>");
					} else {
						$('#fabulouscount').text(parseInt($('#fabulouscount').text()) + 1);
					}
				} else if(result.isfabulous == 'delete1') {
					if((parseInt($('#fabulouscount').text()) - 1) == 0) {
						$('#fabulouscount').remove();
					} else {
						$('#fabulouscount').text(parseInt($('#fabulouscount').text()) - 1);
					}
				}
			},
			error : function(res, textStaus) {
				setCodeErrList("错误！！！请和管理员联系。。。");
			},
		});
	}
</script>
</head>
<body>
	<div class="wrapper">
		<th:block th:replace="navbar :: mynavbar"></th:block>
		<div class="main-panel">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!-- 活动一览 -->
				<div class="container-fluid dashboardclass" id="f010005">
					<div class="container-fluid d-flex">
						<i-form class="col-sm-12" th:action="@{/f010005}" method="post" style="height:100%;width: 100%" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f010005"/>
						<div class="row">
							<div class="col-md-2">
								<div class="card m-2">
									<div class="card-body">
										<div class="material-datatables">
											<div class="photo">
												<img th:src="@{/imgs/userimg.jpg}" th:if="${f010005Params.select4.imgpath == ''}" id="img1" style="height:34px;"/>
												<img th:src="@{/istatic/{fileNmame}(fileNmame=${f010005Params.select4.imgpath})}" th:if="${f010005Params.select4.imgpath != ''}" id="img1" style="height:34px;"/>
												<span>
													[[${f010005Params.select4.user_name}]]
													<b class="caret"></b>
												</span>
											</div>
											<div class="pl-1">
												<span>发布</span>
												<span class="pl-2">[[${f010005Params.select2.size()}]]</span>
											</div>
											<div class="">
												<button class="btn btn-sm">TA的主页</button>
												<button class="btn btn-sm btn-reddit">关注</button>
											</div>
										</div>
									</div>
								</div>
								<div class="card m-2">
									<div class="card-body">
										<div class="text-center">
											<span class="h5">TA的活动</span>
										</div>
										<div class="row ">
											<table class="table-hover col-sm-12">
												<tr th:each="entity,idx:${f010005Params.select2}" class="col-sm-12">
													<td th:onclick="amtf_getactivity([[${entity}]])" class="lookeye hand">
														[[${entity.activity_head}]]&nbsp;&nbsp;
														<i class="fa fa-user lookeye" aria-hidden="true"></i>
														[[${entity.count}]]
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="card m-1">
									<div class="card-body">
										<h1>[[${f010005Params.select3.activity_head}]]</h1>
										<div class="row bgc_block center">
											<a href="#">
												[[${f010005Params.select4.user_name}]]
											</a>
											<span class="h5 pl-4">[[${f010005Params.select3.activity_time}]]</span>
											<span class="h5 pl-4"><i class="fa fa-user lookeye" aria-hidden="true"></i> [[${f010005Params.select3.count}]]</span>
										</div>
										<div class="row center pt-4">
											<p class="description" id="activity_activitytext"></p>
										</div>
										<div class="row bgc_block center pl-2">
											<a class="btn_login text-center" onclick="amtf_activeFabulous()">
												<i class="fa fa-thumbs-up lookeye" aria-hidden="true" id="fabulous"></i>
												<span id="fabuloustext">点赞</span>
												<span th:if="${f010005Params.fabulouscount != 0}" id="fabulouscount">
													[[${f010005Params.fabulouscount}]]
												</span>
											</a>
											<a class="btn_login text-center comment_now" onclick="amtf_activeTextClick()">
												<i class="fa fa-commenting lookeye" aria-hidden="true"></i>评论
											</a>
											<a class="btn_login text-center">
												<i class="fa fa-bookmark lookeye" aria-hidden="true"></i>收藏
											</a>
											<a class="btn_login text-center">
												<i class="fa fa-exclamation lookeye" aria-hidden="true"></i>举报
											</a>
										</div>
									</div>
								</div>
								<div class="card m-1">
									<div class="card-body d-flex comment_now" id="comment_div" >
										<div class="comment_now">
											<img th:src="@{/imgs/userimg.jpg}" th:if="${main_params.logInFo.imgpath == ''}" class="comment_now" id="img1" style="height:34px;"/>
											<img th:src="@{/istatic/{fileNmame}(fileNmame=${main_params.logInFo.imgpath})}" class="comment_now" th:if="${main_params.logInFo.imgpath != ''}" id="img1" style="height:34px;"/>
										</div>
										<div class="col-sm-10 comment_now">
											<textarea class="col-sm-12 m-0 pl-0 comment_now" defaultValue="请输入你的评论。。。" cols="40" rows="2" onclick="amtf_activeTextClick()" id="comment_text"></textarea>
										</div>
										<div class="col-sm-1 pad-0 comment_now">
											<button class="btn btn-kv pad-0 m-0 text-center comment_now" id="comment1" onclick="amtf_activeTextClick()">评论</button>
											<button class="btn btn-kv pad-0 m-0 text-center comment_now btn-reddit comment2" onclick="amtf_activeText(0)">发表评论</button>
											<button class="btn btn-kv pad-0 m-0 text-center comment_now btn-info comment2 mt-2" onclick="amtf_activeQuickSpeech(0)">快速发言</button>
										</div>
									</div>
									<div class="card-body" id="commentselect5" th:fragment="commentselect5" th:if="${not #lists.isEmpty(f010005Params.commentlist)}">
										<ul class="navbar-nav">
											<div th:each="entity1,idx:${f010005Params.commentlist}" th:if="${entity1 != null}">
												<li class="nav-item d-flex" th:classappend="${idx.index == 0 ? '' : 'li_top'}">
													<div>
														<img th:src="@{/imgs/userimg.jpg}" th:if="${entity1.amtfactivitycommententity.imgpath == ''}" id="img1" style="height:34px;"/>
														<img th:src="@{/istatic/{fileNmame}(fileNmame=${entity1.amtfactivitycommententity.imgpath})}" th:if="${entity1.amtfactivitycommententity.imgpath != ''}" id="img1" style="height:34px;"/>
													</div>
													<div class="col-sm-10">
														<p>
															<a href="#" class="lookeye">[[${entity1.amtfactivitycommententity.user_name}]]：</a>
															[[${entity1.amtfactivitycommententity.user_text}]]
															<a href="#" class="commentreply_now" style="color: #00a5bb" th:onclick="amtf_comment_reply([[${entity1.amtfactivitycommententity}]],this)">
																回复&nbsp;&nbsp;&nbsp;
															</a>
															<a href="#" class="" style="color: #00a5bb" th:if="${entity1.amtfactivitycommententity.user_id == main_params.logInFo.user_email}">
																删除&nbsp;&nbsp;&nbsp;
															</a>
															<i class="fa fa-exclamation lookeye hand" aria-hidden="true" title="举报"></i>
														</p>
													</div>
													<div class="col-sm-1 pad-0 text-right">
														<i class="fa fa-thumbs-o-up lookeye hand" aria-hidden="true" onmousemove="amtf_thumbsFocus(this)" onmouseout="amtf_thumbsBlur(this)"></i>
													</div>
												</li>
												<div th:each="entity2,idxs: ${entity1.amtfactivitycommentreplyentity}" class="pl-4">
													<li class="nav-item d-flex" th:classappend="${idxs.index == 0 ? '' : 'li_top'}">
														<div>
															<img th:src="@{/imgs/userimg.jpg}" th:if="${entity2.imgpath == ''}" id="img1" style="height:34px;"/>
															<img th:src="@{/istatic/{fileNmame}(fileNmame=${entity2.imgpath})}" th:if="${entity2.imgpath != ''}" id="img1" style="height:34px;"/>
														</div>
														<div class="col-sm-10">
															<p>
																<a href="#" class="lookeye">[[${entity2.user_name}]]&nbsp;回复了：</a>
																[[${entity2.user_text}]]
																<a href="#" class="commentreply_now" style="color: #00a5bb" th:onclick="amtf_comment_reply([[${entity1}]],this)">
																	回复&nbsp;&nbsp;&nbsp;
																</a>
																<a href="#" class="" style="color: #00a5bb" th:if="${entity2.user_id == main_params.logInFo.user_email}" th:onclick="amtf_removeReply([[entity2]])">
																	删除&nbsp;&nbsp;&nbsp;
																</a>
																<i class="fa fa-exclamation lookeye hand" aria-hidden="true" title="举报"></i>
															</p>
														</div>
													</li>
												</div>
											</div>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="card m-2">
									<div class="card-body">
										<div class="text-center">
											<span class="h5">热门活动</span>
										</div>
										<div class="row ">
											<table class="table-hover col-sm-12">
												<tr th:each="entity,idx:${f010005Params.select9}" class="col-sm-12">
													<td th:onclick="amtf_getactivity([[${entity}]])" class="lookeye hand">
														[[${entity.activity_head}]]&nbsp;&nbsp
														<i class="fa fa-user lookeye" aria-hidden="true"></i>
														[[${entity.count}]]
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
								<div class="card m-2">
									<div class="card-body">
										<div class="toolbar"></div>
										<div class="material-datatables text-center">
											<h1>广告位</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
						</i-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>