<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<th:block th:fragment="myactivity_table(_this,_url,_id,_activity_id)">
	<head>
		<meta charset="UTF-8">
		<style type="text/css">

		</style>
		<script type="text/javascript">
		</script>
	</head>
	<body>
	<ul class="pagination">
		<li class="page-item"><a class="page-link" th:onclick="amtf_activity_table([[${_id}]],[[${_url}]],[[${_this.prePage}]],[[${_activity_id}]])"><i class="fa fa-2x fa-chevron-left" aria-hidden="true"></i></a></li>
		<li class="page-item"><a class="page-link" th:if="${_this.prePage != 0}" th:onclick="amtf_activity_table([[${_id}]],[[${_url}]],[[${_this.prePage}]],[[${_activity_id}]])"><span class="h4" th:text="${_this.prePage}"></span></a></li>
		<li class="page-item"><a class="page-link"><span th:text="${_this.pageNum}" class="h4" style="color: red"></span></a></li>
		<li class="page-item"><a class="page-link" th:if="${_this.nextPage > _this.pageNum}" th:onclick="amtf_activity_table([[${_id}]],[[${_url}]],[[${_this.nextPage}]],[[${_activity_id}]])"><span class="h4" th:text="${_this.nextPage}"></span></a></li>
		<!--<li class="page-item"><a class="page-link"><span th:text="共+${_this.pages}+页"></span></a></li>-->
		<li class="page-item"><a class="page-link" th:onclick="amtf_activity_table([[${_id}]],[[${_url}]],[[${_this.nextPage}]],[[${_activity_id}]])"><i class="fa fa-2x fa-chevron-right" aria-hidden="true"></i></a></li>
	</ul>
	</body>
</th:block>
</html>