<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>[[${f010011Params.select1.user_name}]]的主页</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	.li_top{
		border-top :1px solid;
		border-top-color:#b4b8b956;
		padding-top: 3px;
	}
	#activitylists img{
		/*超出部分隐藏*/
		overflow: hidden;
	}
	#img_modal img{
		/*让鼠标显示缩小镜*/
		cursor:zoom-out;
	}
	#activitylists img{
		/*让鼠标显示放大镜*/
		cursor: zoom-in;
		/*过渡时间(缓慢放大时间)*/
		transition:1s;
	}
	#activitylists img:hover{
		/*放大*/
		transform: scale(1.1);
	}
</style>
<script type="text/javascript">

	window.onload = function(){

		var activity_userinfo = new Vue({
			el: '#main',
			data: {
				follow: "[[${f010011Params.attention < 1 ? '关注' : '已关注'}]]",
				followclass : {
					btn:true, 'btn-rose':[[${f010011Params.attention < 1 ? true : false}]], 'btn-round':true
				},
				followstyle : '',
				maximgmodal : '',
			},
			methods:{
				amtf_userInfoFollow(event) {
					// 发送 POST 请求
					axios.post(CONTEXT_PATH + '/f010011/T001', {
						id : '[[${f010011Params.select1.user_email}]]'
					}).then(function (response) {
						if(response.data.attention == 'insert0'){
							md.showNotification('bottom', 'center', '2', '关注失败。。。');
						} else if(response.data.attention == 'delete0') {
							md.showNotification('bottom', 'center', '2', '取消关注失败。。。');
						} else if(response.data.attention == 'insert1') {
							Vue.set(activity_userinfo.followclass ,'btn-rose',false);
							Vue.set(activity_userinfo ,'follow','已关注');
						} else if(response.data.attention == 'delete1') {
							Vue.set(activity_userinfo.followclass ,'btn-rose',true);
							Vue.set(activity_userinfo ,'follow','关注');
						}
					}).catch(function (error) {
						setCodeErrList("错误！！！请和管理员联系。。。");
					});
				},
				amtf_activityUserInFo(event) {
					var newinput = getNewInput('activity_id', event);
					amtf_form.appendChild(newinput);
					amtf_submitNew(amtf_form, '/f010005/T002');
					reomveNewInput('activity_id');
				},
				amtf_img(event) {
					$('#img_modal').modal('show');
					this.maximgmodal = event.currentTarget.src;
				}
			}
		})
	}
</script>
</head>
<body>
	<div class="wrapper" id="main">
		<!--<th:block th:replace="navbar :: mynavbar"></th:block>-->
		<div class="">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!-- 个人资料 -->
				<div class="container-fluid dashboardclass" id="userinfo">
					<div class="container-fluid">
					<i-form class="" th:action="@{/f010011}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
					<input type="hidden" name="IViewId" value="f010011"/>
						<div class="row m-auto col-md-11">
							<div class="col-md-3">
								<div class="card card-profile">
									<div class="card-avatar">
										<a href="#pablo">
											<img class="img" th:src="@{/imgs/userimg.jpg}" th:if="${f010011Params.select1.imgpath == ''}" id="img2" style="height:130px;"/>
											<img class="img" th:src="@{/istatic/{fileNmame}(fileNmame=${f010011Params.select1.imgpath})}" th:if="${f010011Params.select1.imgpath != ''}" id="img2" style="height:130px;"/>
										</a>
									</div>
									<div class="card-body">
										<h4 class="card-title">[[${f010011Params.select1.user_name}]]</h4>
										<span th:text="${f010011Params.select1.user_phone}"></span>
										<span th:text="${f010011Params.select1.user_city}"></span>
										<p class="card-description">
											[[${f010011Params.select1.user_introduce}]]
										</p>
										<a href="#pablo" @click="amtf_userInfoFollow" v-bind:class="followclass" :style="followstyle">{{follow}}</a>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="card" id="activitylists" th:fragment="activitylists">
									<ul class="navbar-nav">
										<li class="nav-item d-flex" th:each="entity,idx:${f010011Params.select5.list}" th:classappend="${idx.index == 0 ? '' : 'li_top'}">
											<div class="col-sm-10">
												<input type="hidden" v-bind:id="1231"/>
												<a class="h3" href="#" style="color: rgb(0, 5, 8)" th:@click="|amtf_activityUserInFo(${entity.activity_id})|">[[${entity.activity_head}]]</a>
												<div class="d-flex">
													<div class="col-sm-3 pl-0 pb-2" th:if="${entity.cover_img != '' && entity.cover_img != null}" >
														<img th:src="${entity.cover_img}" class="col-sm-12 pl-0 pr-0" height="88px" @click="amtf_img">
													</div>
													<div class="col-sm-12 pl-0 pb-2">
														<span class="h5" style="color: rgba(0, 0, 0, 0.39)" th:v-if="|${entity.cover_text != '' && entity.cover_text != null}|">[[${entity.cover_text}]]</span>
														<span class="h5" style="color: rgba(0, 0, 0, 0.39)" th:v-if="|${entity.cover_text == '' || entity.cover_text == null}|">[[${entity.activity_time}]]</span>
													</div>
												</div>
											</div>
										</li>
									</ul>
									<div class="center-block col-sm-12" th:v-if="|${f010011Params.select5.total > 10}|">
										<div class="m-auto col-sm-2">
											<th:block th:replace="activity_table :: myactivity_table(${f010011Params.select5},'/f010011/T002','activitylists',${f010011Params.select5.list.get(0).activity_name})"></th:block>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 图片放大 -->
						<div class="modal fade" id="img_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-notice img_modal">
								<img :src="maximgmodal" class="col-sm-12">
							</div>
						</div>
						</i-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>