<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>人员管理页面</title>
<th:block th:replace="vue-import :: vue-import"></th:block>
<style type="text/css">

</style>
<body class="">
	<div class="wrapper" id="admin_id">
		<i-form class="" th:action="@{/f020003}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
			<input type="hidden" name="IViewId" value="f020001"/>
			<div id="app">
				<el-container>
					<th:block th:replace="admin_navbar :: admin_navbar"></th:block>
					<el-main style="padding-top: 0px">
						<th:block th:replace="admin_head :: admin_head"></th:block>
						<el-table
								:data="tableData"
								style="width: 100%"
								v-loading="loading">
							<el-table-column
									label="账户"
									width="180">
								<template slot-scope="scope">
									<span style="margin-left: 10px">{{ scope.row.user_account }}</span>
								</template>
							</el-table-column>
							<el-table-column
									label="姓名"
									width="180">
								<template slot-scope="scope">
									<el-popover trigger="hover" placement="top">
										<p>姓名: {{ scope.row.user_name }}</p>
										<p>电话: {{ scope.row.user_phone }}</p>
										<p>邮箱: {{ scope.row.user_email }}</p>
										<div slot="reference" class="name-wrapper">
											<el-tag size="medium">{{ scope.row.user_name }}</el-tag>
										</div>
									</el-popover>
								</template>
							</el-table-column>
							<el-table-column
									label="认证"
									width="180">
								<template slot-scope="scope">
									<span style="margin-left: 10px" v-if="scope.row.user_attestation == '0'">未认证</span>
									<span style="margin-left: 10px" v-if="scope.row.user_attestation != '0'">认证</span>
								</template>
							</el-table-column>
							<el-table-column
									label="住址"
									width="180">
								<template slot-scope="scope">
									<span style="margin-left: 10px">{{ scope.row.user_country }}-{{scope.row.user_province}}-{{scope.row.user_city}}</span>
								</template>
							</el-table-column>
							<el-table-column
									label="权限"
									width="180">
								<template slot-scope="scope">
									<span style="margin-left: 10px" v-if="scope.row.user_power == '0'">普通用户</span>
									<span style="margin-left: 10px" v-if="scope.row.user_power != '0'">管理员</span>
								</template>
							</el-table-column>
							<el-table-column label="操作">
								<template slot-scope="scope">
									<el-button
											size="small"
											@click="handleEdit(scope.$index, scope.row)">编辑</el-button>
									<el-button
											size="small"
											@click="handleDelete(scope.$index, scope.row)">查看</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-dialog
								title="详细信息"
								:visible.sync="dialogVisible"
								width="30%"
								:before-close="handleClose">
							<el-row :gutter="20">
								<el-col :span="5">
									<div class="block">
										<div class="block">
											<el-avatar :size="80" :src="dialog.src"></el-avatar>
										</div>
									</div>
								</el-col>
								<el-col :span="19">
									<el-row>
										<el-col :span="12">
											<span>姓名：{{dialog.name}}</span>
										</el-col>
										<el-col :span="12">
											<span>邮箱：{{dialog.email}}</span>
										</el-col>
									</el-row>
									<el-row>
										<el-col :span="24">
											<span>座右铭：{{dialog.introduce}}</span>
										</el-col>
									</el-row>
								</el-col>
							</el-row>
							<span slot="footer" class="dialog-footer">
								<!--<el-button @click="dialogVisible = false">取 消</el-button>-->
								<el-button type="primary" @click="dialogVisible = false">确 定</el-button>
							</span>
						</el-dialog>
					</el-main>

				</el-container>
			</div>
		</i-form>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el: '#admin_id',
		data: {
			tableData:'',
			dialogVisible:false,
			dialog:{
				name:'',
				src:'',
				email:'',
				introduce:'',
			}
		},
		methods: {
			amtf_loginhead(event) {
				alert(event)
			},
			handleDelete(idx,row) {
				if(this.tableData[idx].user_path == ''){
					this.dialog.src = '/amtf/imgs/userimg.jpg';
				} else {
					this.dialog.src = '/amtf/istatic/' + this.tableData[idx].user_path;
				}
				this.dialog.name = this.tableData[idx].user_name;
				this.dialog.email = this.tableData[idx].user_email;
				axios.post('/amtf/Vf020001/getUser',{
					userId:this.tableData[idx].user_email
				}).then(response => {
					if(response.data.message != '' && response.data.message != null){
						this.Message('error',response.data.message);
					} else {
						//绑定数据！
						this.dialog.introduce = response.data.userHistory.user_introduce
						this.dialogVisible=true;
					}
				})
			},
			// 消息框
			Message(type,message) {
				if(type == 'error'){
					this.$message.error(message);
				} else {
					this.$message({
						message: message,
						type: type
					});
				}
			}
		},
		created()
		{
			axios.post('/amtf/Vf020001').then(response => {
				//绑定数据！
				this.tableData = response.data.select1;
			})
		}
	})
</script>
</html>