<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>发布通知</title>
<th:block th:replace="import :: myimport"></th:block>
<th:block th:replace="vue-import :: vue-import"></th:block>
<style type="text/css">

</style>
<script type="text/javascript">

</script>
<body class="">
	<div class="wrapper card m-0" id="adminId">
		<!-- 全体通知 -->
		<div class="" id="main">
			<i-form class="" th:action="@{/f020004}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
			<input type="hidden" name="IViewId" value="f020004"/>
				<div class="col-md-12">
					<div class="mb-2">
						<div class="row m-auto col-sm-8">
							<div class="col-sm-11">
								<el-input
										type="text"
										placeholder="通知标题"
										v-model="noticeHead"
										maxlength="20"
										show-word-limit
								>
								</el-input>
								<input type="hidden" name="noticeHeadName" id="noticeHeadId" :value="noticeHead"/>
							</div>
							<div class="col-sm-1">
								<el-button type="primary" @click="saveNotice">发布<i class="el-icon-upload el-icon--right"></i></el-button>
							</div>
						</div>
					</div>
				</div>
				<div class="m-auto col-sm-8" style="">
					<div class="panel-body">
						<div id="editor"></div>
					</div>
				</div>
			</i-form>
		</div>
	</div>
</body>
<script type="text/javascript">
	var headVue = new Vue({
		el: '#adminId',
		data: {
			noticeHead: ''
		},
		methods: {
			// 消息框
			Message(type, message) {
				if (type == 'error') {
					this.$message.error(message);
				} else {
					this.$message({
						message: message,
						type: type
					});
				}
			},
			Notify(title, message, type) {
				this.$notify({
					title: title,
					message: message,
					type: type
				});
			},
			//发布活动
			saveNotice(){
				amtf_allnotices();
			}
		}
	})
	var editor;
	$(function(){
		// 注册wangEditor插件
		var wangEditor = window.wangEditor;
		editor = new wangEditor('#editor');
		editor.config.zIndex = 10;
		//开启debug模式
		editor.config.debug = true;
		// 关闭粘贴内容中的样式
		editor.config.pasteFilterStyle = false
		editor.config.height = '780'
		// 忽略粘贴内容中的图片
		editor.config.pasteIgnoreImg = true
		// 上传路径
		editor.config.uploadFileName = 'myFile'
		editor.config.uploadImgServer = '/amtf/f020005/T002'
		// 进行下文提到的其他配置
		// 将图片大小限制为 3M
		editor.config.uploadImgMaxSize = 3 * 1024 * 1024
		// 自己写上传图片
		editor.config.customUploadImg = function (resultFiles, insertImgFn) {
			// resultFiles 是 input 中选中的文件列表
			// insertImgFn 是获取图片 url 后，插入到编辑器的方法
			var formData = new FormData($('#amtf_form')[0]);
			formData.append("myFile", resultFiles[0]);
			$.ajax({
				url : CONTEXT_PATH + '/f020004/T002',
				type : 'post',
				dateType : 'html',
				async : true,
				cache: false,
				processData : false, // 用于对data参数进行序列化处理
				contentType : false, // 不要设置Content-Type请求头
				data : formData,
				success : function(result) {
					// 上传图片，返回结果，将图片插入到编辑器中
					insertImgFn('/amtf/wangallnoticesimg/' + result.data[0].replace('C:/wangEdito_AllnoticesImg'));
				},
				error : function(res, textStaus) {
					headVue.Message('error','错误！！！请和管理员联系。。。');
				},
			});
		}
		editor.create();
	});
	function amtf_allnotices() {
		$.ajax({
			url: CONTEXT_PATH + '/f020004/T001',
			type: 'post',
			dateType: 'html',
			async: true,
			data: {
				release_head: $('#noticeHeadId').val(),
				release_name: editor.txt.html()
			},
			success: function (result) {
				if(result.message != "" && result.message != null){
					headVue.Message('error', result.message);
				} else {
					headVue.Message('success','发布成功！');
				}
			},
			error: function (res, textStaus) {
				headVue.Message('error','错误！！！请和管理员联系。。。');
			},
		});

	}
</script>
</html>