<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>管理页面</title>
<th:block th:replace="vue-import :: vue-import"></th:block>
<style type="text/css">

</style>
</head>
<body class="">
	<div class="wrapper">
		<i-form class="" th:action="@{/f020001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
		<input type="hidden" name="IViewId" value="f020001"/>
			<div id="app">
				<el-container style="height: 500px; border: 1px solid #eee">
					<th:block th:replace="admin_navbar :: admin_navbar"></th:block>
					<th:block th:replace="admin_head :: admin_head"></th:block>
				</el-container>
			</div>
		</i-form>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el: '#app',
		data: {

		},
		methods:function (){
			axios.post(CONTEXT_PATH + '/f020001', {

			}).then(function (response) {

			}).catch(function (error) {
				setCodeErrList("错误！！！请和管理员联系。。。");
			});
		}
	})
</script>
</html>