<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>人员管理页面</title>
<th:block th:replace="vue-import :: vue-import"></th:block>
<style type="text/css">

</style>
<body class="" onunload="myFunction()">
	<div class="wrapper" id="admin_id">
		<i-form class="" th:action="@{/f020003}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
			<input type="hidden" name="IViewId" value="f020001"/>
			<div id="app">
				<el-container>
					<th:block th:replace="admin_navbar :: admin_navbar"></th:block>
					<el-main>
						<el-table
								:data="tableData"
								style="width: 100%">
							<el-table-column
									label="账户"
									width="180">
								<template slot-scope="scope">
									<i class="el-icon-time"></i>
									<span style="margin-left: 10px">{{ scope.row.user_account }}</span>
								</template>
							</el-table-column>
							<el-table-column
									label="姓名"
									width="180">
								<template slot-scope="scope">
									<el-popover trigger="hover" placement="top">
										<p>姓名: {{ scope.row.user_name }}</p>
										<p>住址: {{ scope.row.user_email }}</p>
										<div slot="reference" class="name-wrapper">
											<el-tag size="medium">{{ scope.row.user_name }}</el-tag>
										</div>
									</el-popover>
								</template>
							</el-table-column>
							<el-table-column label="操作">
								<template slot-scope="scope">
									<el-button
											size="mini"
											@click="handleEdit(scope.$index, scope.row)">编辑</el-button>
									<el-button
											size="mini"
											type="danger"
											@click="handleDelete(scope.$index, scope.row)">删除</el-button>
								</template>
							</el-table-column>
						</el-table>
					</el-main>
					<th:block th:replace="admin_head :: admin_head"></th:block>
				</el-container>
			</div>
		</i-form>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el: '#admin_id',
		data: {
			tableData:'',
		},
		methods: {
			amtf_loginhead(event) {
				alert(event)
			}
		},
		created()
		{
			axios.post('/amtf/Vf020001').then(response => {
				//绑定数据！
				this.tableData = response.data.select1;
			})
		}
	})
</script>
</html>