<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>页面管理页面</title>
<th:block th:replace="vue-import :: vue-import"></th:block>
<style type="text/css">
	.colorSuccess{
		color: #07bf07;
	}
	.d-none{
		display: none;
	}
	.el-dropdown-link {
		cursor: pointer;
		color: #409EFF;
	}
	.el-icon-arrow-down {
		font-size: 12px;
	}
	.demonstration {
		display: block;
		color: #8492a6;
		font-size: 14px;
		margin-bottom: 20px;
	}
</style>
<body class="">
	<div class="wrapper" id="admin_id">
		<i-form class="" th:action="@{/f020003}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
			<input type="hidden" name="IViewId" value="f020001"/>
            <el-container>
                <th:block th:replace="admin_navbar :: admin_navbar"></th:block>
                <el-main style="padding-top: 0px">
                    <th:block th:replace="admin_head :: admin_head"></th:block>
                    <p style="text-align: center; margin: 0 0 20px">客户端可用画面显示</p>
                    <div style="text-align: center">
                        <el-transfer
                                style="text-align: left; display: inline-block"
                                v-model="pagesShow"
                                filterable
                                :render-content="renderFunc"
                                :titles="['隐藏画面', '显示画面']"
                                :button-texts="['隐藏', '显示']"
                                :format="{
                                    noChecked: '${total}',
                                    hasChecked: '${checked}/${total}'
                                }"
                                @change="handleChange"
                                :data="pages"
                                :loading="pagesLoading">
                        </el-transfer>
                    </div>
                    <p style="text-align: center; margin: 0 0 20px">
                        <el-button type="primary" icon="el-icon-check" @click="save" :loading="saveLoading">保存</el-button>
                    </p>
                    <el-table
                            :data="menuTableData"
                            height="430"
                            border
                            style="width: 100%">
                        <el-table-column
                                prop="menuType"
                                label="类型"
                                width="380">
                        </el-table-column>
                        <el-table-column
                                prop="menuName"
                                label="画面名"
                                width="480">
                        </el-table-column>
                        <el-table-column
                                prop="menuGrade"
                                label="等级">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="100">
                            <template slot-scope="scope">
                                <el-button type="text" size="small" @click="upMenuName(scope.row)">编辑</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-drawer
                            title="页面修改"
                            :visible.sync="upMenuDrawer"
                            :direction="direction"
                            custom-class="demo-drawer"
                            ref="drawer">
                        <div class="demo-drawer__content">
                            <el-divider></el-divider>
                            <span class="Medium">修改页面类型和页面名字时，请与最高管理员联系。因为关系较大，需谨慎修改！</span>
                            <el-divider></el-divider>
                            <el-form :model="form">
                                <div class="demo-drawer__content">
                                    <el-form :model="form">
                                        <el-row :gutter="20" style="margin-left:10%">
                                            <el-col :span="20">
                                                <el-select v-model="upMenuDrawerType" placeholder="请选择">
                                                    <el-option
                                                            v-for="item in menuDrawerTypeLists"
                                                            :key="item"
                                                            :label="item"
                                                            :value="item">
                                                    </el-option>
                                                </el-select>
                                            </el-col>
                                        </el-row>
                                        <el-row :gutter="20" style="margin-left:10%;margin-top: 40%">
                                            <el-col :span="20">
                                                <el-input
                                                        type="text"
                                                        placeholder="请输入内容"
                                                        maxlength="6"
                                                        show-word-limit
                                                        v-model="upMenuDrawerName">
                                                    <template slot="prepend">页面名</template>
                                                </el-input>
                                            </el-col>
                                        </el-row>
                                    </el-form>
                                </div>
                            </el-form>
                        </div>
                        <div class="demo-drawer__footer" style="margin-top: 60%;margin-left: 10%">
                            <el-button @click="clearMenuDrawer" style="width: 221px">取 消</el-button>
                            <el-button type="primary" @click="submitMenuDrawer" :loading="submitMenuDrawerLoading" style="width: 221px">{{ submitMenuDrawerLoading ? '提交中 ...' : '确 定' }}</el-button>
                        </div>
                    </el-drawer>
                </el-main>
            </el-container>
		</i-form>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el: '#admin_id',
		data: {
            pages:[],
            pagesShow: [],
            saveLoading: false,
            pagesLoading: false,
            pagesSave: [],
            menuTableData: [],
            upMenuDrawer: false,
            upMenuDrawerType: '',
            upMenuDrawerName: '',
            submitMenuDrawerLoading: false,
            menuDrawerTypeLists: []
		},
		methods: {
		    //穿梭框点击后
            handleChange(value, direction, movedKeys) {
            },
            //保存按钮押下
            save(){
                this.saveLogining = true;
                this.pagesLoading = true;
                axios.post('/amtf/Vf020006/upPage',{
                    pagesShow: this.pagesShow
                }).then(response => {
                    if(response.message != '' && response.message != null){
                        headVue.Message('error',response.message);
                    } else {
                        headVue.Message('success','成功更新了' + response.data.pageCount + '条');
                    }
                })
            },
            //修改页面名字
            upMenuName(dataRow){
                this.upMenuDrawer = true;
                this.upMenuDrawerType = dataRow.menuType;
                this.upMenuDrawerName = dataRow.menuName;
            },
            //关闭抽屉
            clearMenuDrawer(){
                this.upMenuDrawer = false;
                this.submitMenuDrawerLoading = false;
            },
            //提交修改页面
            submitMenuDrawer(){


            }
		},
		//初期化获取数据
		created()
		{
            axios.post('/amtf/Vf020006').then(response => {
                //总页面
                for (let i = 0; i < response.data.totalClientPage.length; i++) {
                    this.pages.push({
                        key: response.data.totalClientPage[i].power_id,
                        label: response.data.totalClientPage[i].power_type + " - " + response.data.totalClientPage[i].power_name,
                        disabled: parseInt(response.data.totalClientPage[i].power_pow) >= parseInt(response.data.userPower)
                    });
                    this.menuTableData.push({
                        id: response.data.totalClientPage[i].power_id,
                        menuType: response.data.totalClientPage[i].power_type,
                        menuName: response.data.totalClientPage[i].power_name,
                        menuGrade:response.data.totalClientPage[i].power_pow
                    });
                    if(this.menuDrawerTypeLists.indexOf(response.data.totalClientPage[i].power_type) == -1){
                        this.menuDrawerTypeLists.push(response.data.totalClientPage[i].power_type);
                    }
                }
                //显示的页面
                for (let i = 0; i < response.data.clientPageDisplayed.length; i++) {
                    this.pagesShow.push(
                        response.data.clientPageDisplayed[i].power_id
                    );
                }
            })
		}
	})
</script>
</html>