<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>发布活动</title>
<th:block th:replace="import :: myimport"></th:block>
<th:block th:replace="vue-import :: vue-import"></th:block>
<style type="text/css">

</style>
<body class="">
	<div class="wrapper" id="adminId" style="background-color:#fff">
		<!-- 全体通知 -->
		<div class="" id="main" style="height: 100%;">
			<i-form class="h-100" th:action="@{/f020005}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
			<input type="hidden" name="IViewId" value="f020005"/>
				<div class="col-md-12">
					<div class="mb-2 mt-1">
						<div class="row m-auto col-sm-8">
							<div class="col-sm-11">
								<el-input
										type="text"
										placeholder="活动标题"
										v-model="activityHead"
										maxlength="20"
										show-word-limit
								>
								</el-input>
								<input type="hidden" name="activity_head" id="activity_head" :value="activityHead"/>
							</div>
							<div class="col-sm-1">
								<el-button type="primary" @click="saveActivity">发布<i class="el-icon-upload el-icon--right"></i></el-button>
							</div>
						</div>
						<div class="row text-center">
							<div class="col-sm-12">
								<div class="col-sm-12 checkbox-radios">
									<div class="form-check form-check-inline">
										<el-radio v-model="radioMember" label="0" border>普通成员</el-radio>
										<el-radio v-model="radioMember" label="1" border>管理成员</el-radio>
										<el-radio v-model="radioMember" label="2" border>全体成员</el-radio>
										<input type="hidden" id="activityCheck" :value="radioMember">
									</div>
									<div class="d-flex m-auto col-sm-12">
										<div class="row m-auto col-sm-6">
											<div class="col-sm-12 m-auto">
												<div class="block">
													<el-date-picker
															v-model="value1"
															type="daterange"
															range-separator="~"
															start-placeholder="开始日期"
															end-placeholder="结束日期"
															value-format="yyyy/MM/dd"
															format="yyyy 年 MM 月 dd 日">
													</el-date-picker>
													<input type="hidden"name="activity_sttymd" id="activity_sttymd" :value="value1[0]"/>
													<input type="hidden"name="activity_sttymd" id="activity_endymd" :value="value1[1]"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-auto col-sm-8" style="">
					<div class="panel-body">
						<div id="activity_editor"></div>
					</div>
				</div>
			</i-form>
		</div>
	</div>
</body>
<script type="text/javascript">
	var headVue = new Vue({
		el: '#adminId',
		data: {
			sttYmd: new Date(),
			endYmd: '',
			radioMember: '2',
			activityHead: '',
			value1: ''
		},
		methods: {
			// 消息框
			Message(type, message) {
				if (type == 'error') {
					this.$message.error(message);
				} else {
					this.$message({
						message: message,
						type: type
					});
				}
			},
			Notify(title, message, type) {
				this.$notify({
					title: title,
					message: message,
					type: type
				});
			},
			//发布活动
			saveActivity(){
				amtf_activity();
			}
		}
	})
	var activity_editor;
	$(function(){
		// 注册wangEditor插件
		const E = window.wangEditor;
		activity_editor = new E('#activity_editor');
		//开启debug模式
		activity_editor.config.debug = true;
		// 关闭粘贴内容中的样式
		activity_editor.config.pasteFilterStyle = false
		// 忽略粘贴内容中的图片
		activity_editor.config.pasteIgnoreImg = true
		// 上传路径
		activity_editor.config.uploadFileName = 'myFile'
		activity_editor.config.uploadImgServer = '/amtf/f020005/T002'
		activity_editor.config.height = '700'
		activity_editor.config.zIndex = '10'
		// 进行下文提到的其他配置
		// 将图片大小限制为 3M
		activity_editor.config.uploadImgMaxSize = 3 * 1024 * 1024
		// 自己写上传图片
		activity_editor.config.customUploadImg = function (resultFiles, insertImgFn) {
			// resultFiles 是 input 中选中的文件列表
			// insertImgFn 是获取图片 url 后，插入到编辑器的方法
			var formData = new FormData($('#amtf_form')[0]);
			formData.append("myFile", resultFiles[0]);
			$.ajax({
				url : CONTEXT_PATH + '/f020005/T002',
				type : 'post',
				dateType : 'html',
				async : true,
				cache: false,
				// 用于对data参数进行序列化处理
				processData : false,
				// 不要设置Content-Type请求头
				contentType : false,
				data : formData,
				success : function(result) {
					// 上传图片，返回结果，将图片插入到编辑器中
					insertImgFn('/amtf/wangactivityimg/' + result.data[0].replace('C:/wangEdito_ActivityImg'));
				},
				error : function(res, textStaus) {
					headVue.Message('error','错误！！！请和管理员联系。。。');
				},
			});
		}
		//自定义上传图片事件
		activity_editor.config.uploadImgHooks = {
			// 上传图片之前
			before: function(xhr) {
				console.log(xhr)

				// 可阻止图片上传
				return {
					prevent: true,
					msg: '需要提示给用户的错误信息'
				}
			},
			// 图片上传并返回了结果，图片插入已成功
			success: function(xhr) {
				console.log('success', xhr)
			},
			// 图片上传并返回了结果，但图片插入时出错了
			fail: function(xhr, editor, resData) {
				console.log('fail', resData)
			},
			// 上传图片出错，一般为 http 请求的错误
			error: function(xhr, editor, resData) {
				console.log('error', xhr, resData)
			},
			// 上传图片超时
			timeout: function(xhr) {
				console.log('timeout')
			},
			// 图片上传并返回了结果，想要自己把图片插入到编辑器中
			// 例如服务器端返回的不是 { errno: 0, data: [...] } 这种格式，可使用 customInsert
			customInsert: function(insertImgFn, result) {
				// insertImgFn 可把图片插入到编辑器，传入图片 src ，执行函数即可
				insertImgFn('/amtf/wangeditorimg/' + result.data[0].replace('C:/wangEdito_Img'))
			}
		}
		activity_editor.create();
	});

	$(document).ready(function() {
		md.initDashboardPageCharts();
		md.initVectorMap();
	});
	$(function(){
		$(".dateymd").datetimepicker({
			format : "YYYY/MM/DD",
			icons : {
				time : "fa fa-clock-o",
				date : "fa fa-calendar",
				up : "fa fa-chevron-up",
				down : "fa fa-chevron-down",
				previous : "fa fa-chevron-left",
				next : "fa fa-chevron-right",
				today : "fa fa-screenshot",
				clear : "fa fa-trash",
				close : "fa fa-remove"
			}
		})
	});
	// 活动发布
	function amtf_activity() {
		var check = $('#activityCheck').val();
		var formData = new FormData($('#amtf_form')[0]);
		formData.set("activity_head", $('#activity_head').val());
		formData.set("activity_position", $('#activity_position').val());
		formData.set("activity_check", check);
		formData.set("activity_sttymd", $('#activity_sttymd').val());
		formData.set("activity_endymd", $('#activity_endymd').val());
		formData.set("activity_editor", activity_editor.txt.html());
		$.ajax({
			url : CONTEXT_PATH + '/f020005/T001',
			type : 'post',
			dateType : 'html',
			async : true,
			cache: false,
			// 用于对data参数进行序列化处理
			processData : false,
			// 不要设置Content-Type请求头
			contentType : false,
			data : formData,
			success : function(result) {
				if(result.message != "" && result.message != null){
					headVue.Message('error', result.message);
				} else {
					if (result.isactivity == '1') {
						headVue.Message('error','发布失败，请重试。');
					} else {
						headVue.Message('success','发布成功。。。');
					}
				}
			},
			error : function(res, textStaus) {
				headVue.Message('error','错误！！！请和管理员联系。。。');
			},
		});
	}
</script>
</html>