<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>人员管理页面</title>
<th:block th:replace="vue-import :: vue-import"></th:block>
<style type="text/css">
	.colorSuccess{
		color: #07bf07;
	}
	.d-none{
		display: none;
	}
	.el-dropdown-link {
		cursor: pointer;
		color: #409EFF;
	}
	.el-icon-arrow-down {
		font-size: 12px;
	}
	.demonstration {
		display: block;
		color: #8492a6;
		font-size: 14px;
		margin-bottom: 20px;
	}
</style>
<body class="">
	<div class="wrapper" id="admin_id">
		<i-form class="" th:action="@{/f020003}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
			<input type="hidden" name="IViewId" value="f020001"/>
            <el-container>
                <th:block th:replace="admin_navbar :: admin_navbar"></th:block>
                <el-main style="padding-top: 0px">
                    <th:block th:replace="admin_head :: admin_head"></th:block>
                    <!--:data -> data.user_name.toLowerCase().includes(search.toLowerCase()) ->将输入框模糊匹配user_name的值-->
                    <el-table
                            :data="tableData.filter(data => !search || data.user_name.toLowerCase().includes(search.toLowerCase()) || data.user_account.toLowerCase().includes(search.toLowerCase()))"
                            :style="tableData.length > 12 ? 'width: 100%;height=800' : 'width: 100%;'"
                            v-loading="userTableLoading"
                            :cell-class-name="getCellClass"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                label="账户"
                                width="180">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.user_account }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="姓名"
                                width="180">
                            <template slot-scope="scope">
                                <el-popover trigger="hover" placement="top">
                                    <p>姓名: {{ scope.row.user_name }}</p>
                                    <p>电话: {{ scope.row.user_phone }}</p>
                                    <p>邮箱: {{ scope.row.user_email }}</p>
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium" v-bind:id="'userNameId' + scope.$index">{{ scope.row.user_name }}</el-tag>
                                    </div>
                                </el-popover>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="tag"
                                label="认证"
                                width="180"
                                :filters="[{ text: '已认证', value: '1' }, { text: '未认证', value: '0' }]"
                                :filter-method="filterAttestation "
                                filter-placement="bottom-end"
                                >
                            <template slot-scope="scope">
                                <span style="margin-left: 10px" v-if="scope.row.user_attestation == '0'">未认证</span>
                                <span style="margin-left: 10px" :class="scope.row.user_attestation == '0' ? '' : 'colorSuccess'" v-if="scope.row.user_attestation != '0'">已认证</span>
                                <el-popconfirm
                                        confirm-button-text='确定'
                                        cancel-button-text='取消'
                                        icon="el-icon-info"
                                        icon-color="red"
                                        title="当前是认证状态，确定修改-未认证-吗？"
                                        :class="scope.row.user_attestation == '0' ? 'd-none' : ''"
                                        @confirm="modificationStatusConfirmation(scope.$index, scope.row)">
                                    <el-button icon="el-icon-check" type="success" slot="reference" circle @click="certificationStatus(scope.$index, scope.row)" size="mini"></el-button>
                                </el-popconfirm>
                                <el-button icon="el-icon-minus" type="info" :class="scope.row.user_attestation == '1' ? 'd-none' : ''" circle @click="certificationStatus(scope.$index, scope.row)" size="mini"></el-button>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="住址"
                                width="180">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px">{{ scope.row.user_country }}-{{scope.row.user_province}}-{{scope.row.user_city}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="权限"
                                width="180">
                            <template slot-scope="scope">
                                <span style="margin-left: 10px" v-if="scope.row.user_power == '0'">未认证用户</span>
                                <span style="margin-left: 10px" v-if="scope.row.user_power != '0'">{{scope.row.user_power}}级用户</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-dropdown trigger="click" @command="statusCommand">
                                    <span class="el-dropdown-link">
                                        <span style="color: #67C23A" v-if="scope.row.user_status == '0'">正常</span>
                                        <span style="color: #909399" v-if="scope.row.user_status == '1'">禁用</span>
                                        <i class="el-icon-arrow-down el-icon--right"></i>
                                    </span>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item icon="el-icon-plus" :command="statusCommandItem(scope.$index, 2)" style="color: #409EFF">升级</el-dropdown-item>
                                        <el-dropdown-item icon="el-icon-close" v-if="scope.row.user_status != '1'" :command="statusCommandItem(scope.$index, 1)" style="color: #909399">禁用</el-dropdown-item>
                                        <el-dropdown-item icon="el-icon-check" v-if="scope.row.user_status != '0'" :command="statusCommandItem(scope.$index, 0)" style="color: #67C23A">正常</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                                <el-button
                                        size="small"
                                        @click="viewUserInformation(scope.$index, scope.row)">查看</el-button>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="right">
                            <template slot="header" slot-scope="scope">
                                <el-input
                                        v-model="search"
                                        size="mini"
                                        placeholder="输入账户或姓名搜索"/>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div style="margin-top: 20px">
                        <el-button type="primary" icon="el-icon-circle-check" @click="selectCertification()" :loading="selectLoading" :disabled="selectDisabled">选中-认证</el-button>
                        <el-button type="primary" icon="el-icon-refresh" @click="refresh" :loading="refreshLoading" :disabled="refreshDisabled">刷新</el-button>
                    </div>
                    <el-dialog
                            title="基本信息"
                            :visible.sync="basicInformationVisible"
                            width="30%"
                            :before-close="handleClose"
                            center>
                        <el-row :gutter="20">
                            <el-col :span="5">
                                <div class="block">
                                    <div class="block">
                                        <el-avatar :size="80" :src="dialog.src"></el-avatar>
                                        <el-link type="primary" :click="goToHomepage">进入TA的主页</el-link>
                                    </div>
                                </div>
                            </el-col>
                            <el-col :span="19">
                                <el-row>
                                    <el-col :span="24">
                                        <span>姓名：{{dialog.name}}</span>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <span>邮箱：{{dialog.email}}</span>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <span>座右铭：{{dialog.userIntroduce}}</span>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <span>参加的活动：{{dialog.numberOfActivities}}</span>
                                    </el-col>
                                    <el-col :span="8">
                                        <span>发布的问题：{{dialog.numberOfQuestions}}</span>
                                    </el-col>
                                    <el-col :span="8">
                                        <span>发布的视频：{{dialog.numberOfVideo}}</span>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </el-dialog>
                    <el-dialog
                            title="用户升级"
                            :visible.sync="userUpgradeVisible"
                            width="50%"
                            :before-close="handleClose"
                            center>
                        <el-row :gutter="20">
                            <el-row style="margin-bottom:20px">
                                <el-col :span="13">
                                    <p style="text-align: left; margin: 0 0 20px">
                                        不同等级可进行不同的操作，如果你要为当前用户提升或降低等级（提升等级只能在你的权限之下），请选择右边下拉框中的选项。
                                        如果中途废止或启用升级权限，可以选中开关按钮进行切换。（废止权限后用户的级别是0级，并且级别是0级后不可再废止也不可再提交。）
                                    </p>
                                </el-col>
                                <el-col :span="6">
                                    <el-select v-model="levelOptionsValue" :disabled="levelSelectDisabled" placeholder="请选择级别" @change="levelOptionsChange">
                                        <el-option
                                                v-for="item in levelOptions"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-col>
                                <el-col :span="4">
                                    <el-switch
                                            v-model="upgradeFlg"
                                            active-text="启用"
                                            inactive-text="禁用"
                                            :disabled="upgradeDisabled"
                                            @change="userDisableFlg">
                                    </el-switch>
                                </el-col>
                            </el-row>
                            <el-row style="margin-bottom:20px">
                                <el-col :span="24">
                                    <el-steps :active="stepBar">
                                        <el-step title="设置等级" description="权限提升"></el-step>
                                        <el-step title="升级" description="升级中，请稍等"></el-step>
                                        <el-step title="成功升级" description="权限已升级"></el-step>
                                    </el-steps>
                                </el-col>
                            </el-row>
                            <el-row>
                                <p style="text-align: center; margin: 0 0 20px">
                                    <el-button type="primary" @click="levelClick" :loading="levelLoading" :disabled="levelBtnDisabled">升级</el-button>
                                </p>
                            </el-row>
                        </el-row>
                    </el-dialog>
                </el-main>
            </el-container>
		</i-form>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el: '#admin_id',
		data: {
			tableData: '',
            basicInformationVisible: false,
            userUpgradeVisible: false,
            levelBtnDisabled: true,
            upgradeFlg: true,
            upgradeDisabled: true,
			userNameId: '',
			search: '',
			dialog:{
				name:'',
				src:'',
				email:'',
				userIntroduce:'',
				numberOfActivities:'',
				numberOfQuestions:'',
				numberOfVideo:''
			},
			multipleSelection: [],
			selectLoading: false,
            refreshLoading: false,
            userTableLoading: false,
            levelLoading: false,
            selectDisabled: true,
            refreshDisabled: true,
            statusClickIndex: '',
            levelOptions: [],
            levelOptionsValue: '',
            getIndex: '',
            getCommand: '',
            stepBar: 0,
            levelSelectDisabled: false
		},
		methods: {
			//用户基本信息
			viewUserInformation(idx, row) {
				if(this.tableData[idx].user_path == ''){
					this.dialog.src = '/amtf/imgs/userimg.jpg';
				} else {
					this.dialog.src = '/amtf/istatic/' + this.tableData[idx].user_path;
				}
				//姓名
				this.dialog.name = this.tableData[idx].user_name;
				//邮箱
				this.dialog.email = this.tableData[idx].user_email;
				//获取基本信息
				axios.post('/amtf/Vf020001/getUser',{
					userId:this.tableData[idx].user_no
				}).then(response => {
					if(response.message != '' && response.message != null){
                        headVue.Message('error',response.message);
					} else {
						//自我介绍
						if(response.data.userHistory.userIntroduce != ''){
							this.dialog.userIntroduce = response.data.userHistory.userIntroduce;
						}
						//参加活动次数
						this.dialog.numberOfActivities = response.data.userHistory.numberOfActivities;
						//发布问题次数
						this.dialog.numberOfQuestions = response.data.userHistory.numberOfQuestions;
						//发布视频次数
						this.dialog.numberOfVideo = response.data.userHistory.numberOfVideo;
						//打开模态框
						this.basicInformationVisible = true;
					}
				})
			},
			//编辑用户
			editUser(idx,row){
				this.userNameId = 'userNameId' + idx;

			},
            //修改认证状态-未认证
			modificationStatusConfirmation(idx, row){
				if(row.user_attestation == '1'){
					this.upAttestation(this.tableData[idx].user_no, '0', row);
				}
			},
			//用户主页
			goToHomepage(){

			},
			//修改认证状态-认证
			certificationStatus(idx, row){
				if(row.user_attestation == '0'){
					this.upAttestation(this.tableData[idx].user_no, '1', row);
				}
			},
			//认证状态修改axios
			upAttestation(userid, userAttestation, row){
				axios.post('/amtf/Vf020001/upAttestation',{
					userId:userid,
					userAttestation:userAttestation
				}).then(response => {
					if(response.message != '' && response.message != null){
                        headVue.Message('error',response.message);
					} else {
						row.user_attestation = userAttestation;
                        row.user_power = userAttestation;
					}
				})
			},
			//筛选
			filterAttestation(value, row){
				return row.user_attestation === value;
			},
			//选中
			handleSelectionChange(val) {
				this.multipleSelection = val;
			},
			//选中认证
			selectCertification(){
				this.selectLoading = true;
				if(this.multipleSelection.length > 0 ){
                    this.multipleSelection.forEach(entity => {
                        if(entity.user_attestation == '0'){
                            this.upAttestation(entity.user_no, '1', entity);
                        }
                    })
                    headVue.Message('success','已全部完成，未防止有遗漏，请点击左下角刷新本页面。。。');
                } else {
                    headVue.Message('info','请选择需要认证的用户。。。');
                }
				this.selectLoading = false;
			},
			//刷新
			refresh(){
                this.userTableLoading = true;
				this.refreshLoading = true;
				axios.post('/amtf/Vf020001').then(response => {
					//绑定数据
					this.tableData = response.data.select1;
                    headVue.Notify('成功', '已成功刷新了会员数据。。。', 'success');
					this.refreshLoading = false;
                    this.userTableLoading = false;
				})
			},
            //状态点击
            statusCommand(command){
			    if(command.command == '2'){
			        let power = this.tableData[command.index].user_power;
                    this.levelOptionsValue = '等级-' + power;
                    this.userUpgradeVisible = true;
                    this.stepBar = 0;
                    this.levelOptionsChange(power);
                    if( this.tableData[command.index].user_status == '1'){
                        this.upgradeFlg = false;
                        this.levelSelectDisabled = true;
                        this.levelBtnDisabled = true;
                    }
                } else {
                    this.upStatus(command.index, command.command);
                }
			    this.getIndex = command.index;
			    this.getCommand = command.command;
            },
            //修改状态
            upStatus(index, command){
                axios.post('/amtf/Vf020001/upStatus',{
                    userId: this.tableData[index].user_no,
                    userStatus: command
                }).then(response => {
                    if(response.message != '' && response.message != null){
                        headVue.Message('error',response.message);
                    } else {
                        this.tableData[index].user_status = command;
                    }
                })
            },
            statusCommandItem(idx, command){
                return {
                    'index': idx,
                    'command':command
                }
            },
            //升级提交
            levelClick(){
                this.stepBar = 2;
                axios.post('/amtf/Vf020001/modifyLevel',{
                    userId: this.tableData[this.getIndex].user_no,
                    levelOptionsValue: this.levelOptionsValue
                }).then(response => {
                    this.stepBar = 3;
                    if(response.message != '' && response.message != null){
                        headVue.Message('error',response.message);
                    } else {
                        this.stepBar = 4;
                    }
                })
            },
            //选中级别
            levelOptionsChange(value){
                this.levelBtnDisabled = false;
                this.upgradeDisabled = false;
            },
            //等級下拉框刷新
            levelOptionsPush(power){
			    this.levelOptions = [];
                for (let i = 0; i < parseInt(power); i++){
                    this.levelOptions.push({
                        label: '等级-' + i,
                        value: i
                    })
                }
            },
            //开关按钮
            userDisableFlg(){
			    if(!this.upgradeFlg){
                    this.levelSelectDisabled = true;
                    this.levelBtnDisabled = true;
                    this.upStatus(this.getIndex, '1');
                } else {
                    this.levelSelectDisabled = false;
                    this.levelBtnDisabled = false;
                    this.upStatus(this.getIndex, '0');
                }
            }
		},
		//初期化获取数据
		created()
		{
			axios.post('/amtf/Vf020001').then(response => {
				//绑定数据
				this.tableData = response.data.select1;
				if(this.tableData.length > 0){
                    this.selectDisabled = false;
                    this.refreshDisabled = false;
                }
                let power = response.data.logInFo.user_power;
                this.levelOptionsPush(power);
			})
		}
	})
</script>
</html>