<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="admin_navbar">
		<head>
		<meta charset="UTF-8"/>
		</head>
		<body id="navBarVue">
			<el-aside width="200px" style="overflow-y:hidden">
				<el-menu :default-openeds="['1', '3']" th:each="mapkey,idx:${main_params.navigation_bar}">
					<el-submenu index="1">
						<template slot="title">
							<i th:class="${mapkey.value[0].power_class}"></i>
							[[${mapkey.key}]]
						</template>
						<el-menu-item-group th:each="fileInfo,idxs: ${mapkey.value}">
							<el-menu-item index="1-2" th:onclick="amtf_loginhead([[${fileInfo.power_path}]])">
								[[${fileInfo.power_name}]]
							</el-menu-item>
						</el-menu-item-group>
					</el-submenu>
				</el-menu>
			</el-aside>
		</body>
		<script type="text/javascript">
			function amtf_loginhead(_path) {
				// 生成name
				var tempInput = document.createElement("input");
				tempInput.type = "hidden";
				tempInput.name = 'login_html';
				tempInput.value = _path;
				const CONTEXT_PATH = "/amtf";
				const TARGET = "_self";
				let form = document.createElement("form");
				form.action = CONTEXT_PATH + '/going/admin';
				form.method = 'post';
				form.target = TARGET;
				document.getElementById('navBarVue').appendChild(form);
				form.appendChild(tempInput);
				form.submit();
			}
		</script>
	</th:block>
</html>