<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>管理页面</title>
<th:block th:replace="vue-import :: vue-import"></th:block>
<style type="text/css">

</style>
</head>
<body>
	<div class="wrapper" id="admin_id">
		<i-form class="" th:action="@{/f020001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
		<input type="hidden" name="IViewId" value="f020001"/>
			<div id="app">
				<el-container>
					<th:block th:replace="admin_navbar :: admin_navbar"></th:block>
					<el-main style="padding-top: 0px">
						<th:block th:replace="admin_head :: admin_head"></th:block>
					</el-main>
				</el-container>
			</div>
		</i-form>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el: '#admin_id',
		data: {

		},
		methods: {
			amtf_loginhead(event) {
				alert(event)
			}
		}
	})
</script>
</html>