<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="import :: myimport"></th:block>
<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
<link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>管理页面</title>
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<link th:href="@{/css/material-dashboard.css?v=2.1.2}" rel="stylesheet" />
</head>
<style type="text/css">

</style>
<script type="text/javascript">
	var activity_editor;
	$(function(){
		// 注册wangEditor插件
		const E = window.wangEditor;
		activity_editor = new E('#activity_editor');
		/*activity_editor.config.menus = [
			'head',  // 标题
			'bold' /!** 粗体*!/, 'fontSize' /!** 字号 *!/, 'fontName' /!** 字体 *!/,'italic' /!** 斜体 *!/,
			'underline',  // 下划线
			'strikeThrough',  // 删除线
			'foreColor',  // 文字颜色
			'backColor',  // 背景颜色
			'link',  // 插入链接
			'list',  // 列表
			'justify',  // 对齐方式
			'quote',  // 引用
			'emoticon',  // 表情   打开后支持表情功能
			'image',  // 插入图片
			'table',  // 表格
			'video',  // 插入视频
			'code',  // 插入代码
			'undo',  // 撤销
			'redo'  // 重复
		]*/
		//开启debug模式
		activity_editor.config.debug = true;
		// 关闭粘贴内容中的样式
		activity_editor.config.pasteFilterStyle = false
		// 忽略粘贴内容中的图片
		activity_editor.config.pasteIgnoreImg = true
		// 上传路径
		activity_editor.config.uploadFileName = 'myFile'
		activity_editor.config.uploadImgServer = '/amtf/f020005/T002'
		activity_editor.config.height = '700'
		activity_editor.config.zIndex = '10'
		// 进行下文提到的其他配置
		// 将图片大小限制为 3M
		activity_editor.config.uploadImgMaxSize = 3 * 1024 * 1024
		// 自己写上传图片
		activity_editor.config.customUploadImg = function (resultFiles, insertImgFn) {
			// resultFiles 是 input 中选中的文件列表
			// insertImgFn 是获取图片 url 后，插入到编辑器的方法
			var formData = new FormData($('#amtf_form')[0]);
			formData.append("myFile", resultFiles[0]);
			$.ajax({
				url : CONTEXT_PATH + '/f020005/T002',
				type : 'post',
				dateType : 'html',
				async : true,
				cache: false,
				processData : false, // 用于对data参数进行序列化处理
				contentType : false, // 不要设置Content-Type请求头
				data : formData,
				success : function(result) {
					// 上传图片，返回结果，将图片插入到编辑器中
					insertImgFn('/amtf/wangactivityimg/' + result.data[0].replace('C:/wangEdito_ActivityImg'));
				},
				error : function(res, textStaus) {
					hidediv();
					setCodeErrList("错误！！！请和管理员联系。。。");
				},
			});
		}
		//自定义上传图片事件
		activity_editor.config.uploadImgHooks = {
			// 上传图片之前
			before: function(xhr) {
				console.log(xhr)

				// 可阻止图片上传
				return {
					prevent: true,
					msg: '需要提示给用户的错误信息'
				}
			},
			// 图片上传并返回了结果，图片插入已成功
			success: function(xhr) {
				console.log('success', xhr)
			},
			// 图片上传并返回了结果，但图片插入时出错了
			fail: function(xhr, editor, resData) {
				console.log('fail', resData)
			},
			// 上传图片出错，一般为 http 请求的错误
			error: function(xhr, editor, resData) {
				console.log('error', xhr, resData)
			},
			// 上传图片超时
			timeout: function(xhr) {
				console.log('timeout')
			},
			// 图片上传并返回了结果，想要自己把图片插入到编辑器中
			// 例如服务器端返回的不是 { errno: 0, data: [...] } 这种格式，可使用 customInsert
			customInsert: function(insertImgFn, result) {
				// result 即服务端返回的接口
				console.log('customInsert', result)

				// insertImgFn 可把图片插入到编辑器，传入图片 src ，执行函数即可
				insertImgFn('/amtf/wangeditorimg/' + result.data[0].replace('C:/wangEdito_Img'))
			}
		}
		activity_editor.create();
	});

	$(document).ready(function() {
		md.initDashboardPageCharts();
		md.initVectorMap();
	});
	$(function(){
		$(".dateymd").datetimepicker({
			format : "YYYY/MM/DD",
			icons : {
				time : "fa fa-clock-o",
				date : "fa fa-calendar",
				up : "fa fa-chevron-up",
				down : "fa fa-chevron-down",
				previous : "fa fa-chevron-left",
				next : "fa fa-chevron-right",
				today : "fa fa-screenshot",
				clear : "fa fa-trash",
				close : "fa fa-remove"
			}
		})
	});
	// 活动的check限制
	function amtf_activityCheck(_this) {
		if($(_this).is(':checked') && $(_this).val() == '2'){
			$('#activitycheck1').removeAttr('checked');
			$('#activitycheck2').removeAttr('checked');
		} else {
			$('#activitycheck3').removeAttr('checked');
		}
	}
	// 活动发布
	function amtf_activity() {
		var check;
		if($('#activitycheck3').is(':checked') || $('#activitycheck1').is(':checked') && $('#activitycheck2').is(':checked')){
			check = '0';
		} else {
			if($('#activitycheck1').is(':checked')) {
				check = '0';
			} else if($('#activitycheck2').is(':checked')) {
				check = '1';
			}
		}
		var formData = new FormData($('#amtf_form')[0]);
		formData.set("activity_head", $('#activity_head').val());
		formData.set("activity_position", $('#activity_position').val());
		formData.set("activity_check", check);
		formData.set("activity_sttymd", $('#activity_sttymd').val());
		formData.set("activity_endymd", $('#activity_endymd').val());
		formData.set("activity_editor", activity_editor.txt.html());
		//showdiv();
		$.ajax({
			url : CONTEXT_PATH + '/f020005/T001',
			type : 'post',
			dateType : 'html',
			async : true,
			cache: false,
			processData : false, // 用于对data参数进行序列化处理
			contentType : false, // 不要设置Content-Type请求头
			data : formData,
			success : function(result) {
				//hidediv();
				if(result.ErrMessage != ""){
					let errlist = result.ErrMessage;
					Message('error', errlist[0]);
				} else {
					if (result.isactivity == '1') {
						setCodeErrList("发布失败，请重试。");
					} else {
						setCodeSuccess("发布成功。。。");
					}
				}
			},
			error : function(res, textStaus) {
				//hidediv();
				setCodeErrList("错误！！！请和管理员联系。。。");
			},
		});
	}
</script>
<body class="" onunload="myFunction()">
	<div class="wrapper card m-0">
		<!-- 全体通知 -->
		<div class="" id="main" style="height: 100%;">
			<i-form class="h-100" th:action="@{/f020005}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
			<input type="hidden" name="IViewId" value="f020005"/>
				<div class="col-md-12">
					<div class="card">
						<div class="row m-auto col-sm-8">
							<div class="col-sm-11">
								<input type="text" class="form-control" name="activity_head" id="activity_head" placeholder="活动标题"/>
							</div>
							<div class="col-sm-1">
								<button class="btn btn-info" onclick="amtf_activity()">发布</button>
							</div>
						</div>
						<!--<div class="row m-auto col-sm-8">
							<div class="col-sm-12">
								<input type="text" class="form-control" name="activity_position" id="activity_position" placeholder="活动备注">
							</div>
						</div>-->
						<div class="row text-center">
							<div class="col-sm-12">
								<div class="col-sm-12 checkbox-radios">
									<div class="form-check form-check-inline">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" value="0" onclick="amtf_activityCheck(this)" id="activitycheck1" name="activity_check">
											普通成员
											<span class="form-check-sign">
												<span class="check"></span>
											</span>
										</label>
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" value="1" onclick="amtf_activityCheck(this)" id="activitycheck2" name="activity_check">
											管理成员
											<span class="form-check-sign">
												<span class="check"></span>
											</span>
										</label>
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" value="2" onclick="amtf_activityCheck(this)" id="activitycheck3" name="activity_check" checked>
											全体
											<span class="form-check-sign">
												<span class="check"></span>
											</span>
										</label>
									</div>
									<div class="d-flex m-auto col-sm-12">
										<div class="row m-auto col-sm-6">
											<div class="col-sm-6 ml-auto">
												<input type="text" class="form-control dateymd" name="activity_sttymd" id="activity_sttymd" placeholder="开始日期">
											</div>
										</div>
										<div class="row m-auto col-sm-6">
											<div class="col-sm-6 mr-auto">
												<input type="text" class="form-control dateymd" name="activity_endymd" id="activity_endymd" placeholder="结束日期">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-auto col-sm-8" style="">
					<div class="panel-body">
						<div id="activity_editor"></div>
					</div>
				</div>
			</i-form>
		</div>
	</div>
</body>
</html>