<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"></meta>
<th:block th:fragment="codeErr">
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal_codeErr" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="z-index: 111111;">
		<div class="mod1class">
			<div class="" style="padding-left:35%;" id="modthis">
				<div class="modal-content" style="width: 400px;">
					<div class="modal-header">
						 <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeModl()">&times;</button>
					</div>
					<div class="modal-body text-center">
						<span class="text-danger">[[${codemsg}]]</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>