<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"></meta>
<th:block th:fragment="f010003_modl">
	<style type="text/css">
	.modal_contain{
	   width : 500px;
	}
	tr{
		height:68px;
	}
	#modal_content_id{
		background: url("/amtf/imgs/regist8.jpg") no-repeat center fixed; 
		background-size: <span style="font-family: 微软雅黑; rgb(239, 239, 239);">cover</span>;
	 	font-size: 16px;
	 	background-position: center 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
	}
	</style>
	<script type="text/javascript" >
		//复选框的唯一选择
		$(function(){
			$(":checkbox").click(function(){
				$(this).attr("checked",true);
				$(this).siblings().attr("checked",false);
			})
		})
		//注册按钮押下
		function amtf_regist(){
			$('#regist_confirm_user_password_err').remove();
			var password1=$('#regist_user_password').val();
			var password2=$('#regist_confirm_user_password').val();
			if(password1 != password2){
				setErrList("{name:regist_confirm_user_password}{err:密码不一致，请重输!+}");
			}else {
				amtf_submit(amtf_form , '/f010001/T002');
			}
		}
		
		function amtf_getmail() {
			$.ajax({
				url: CONTEXT_PATH + '/f010001/T003',
				type: 'post',
				data: {
					phone_number:$('#phone_number').val()
				},
				success: function (result) {
					evenOff();
					if('0' == result){
						alert('发送失败');
					}
				},
				error: function (res, textStaus) {
					evenOff();
				},
			});
		}
	</script>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="z-index: 111111;">
		<div class="mod1class">
			<div class="" style="padding-left:35%;" id="modthis">
				<div class="modal-content modal_contain" id="modal_content_id">
					<table style="width:300px;margin:0 auto">
						<tr>
						<td colspan="2" style="text-align:center">注册</td>
						</tr>
						<tr>
							<td>用户名：</td>
							<td><input class="form-control required" type="text" placeholder="账户" name="regist_user_name" autofocus="autofocus" maxlength="20" id="regist_user_name" th:value="${f010001Params.regist_user_name}"/></td>
						</tr>
						<tr>
							<td>密码：</td>
							<td><input class="form-control required" type="password" placeholder="密码" name="regist_user_password" maxlength="8" id="regist_user_password" th:value="${f010001Params.regist_user_password}"/></td>
						</tr>
						<tr>
							<td>确认密码：</td>
							<td><input class="form-control required" type="password" placeholder="确认密码" name="regist_confirm_user_password" maxlength="8" id="regist_confirm_user_password" th:value="${f010001Params.regist_confirm_user_password}"/></td>
						</tr>
						<tr>
							<td>性别：</td>
							<td><input type="checkbox" value="男" name="man" id="man" checked="true">男&nbsp;&nbsp;<input type="checkbox" value="女" name="woman" id="woman">女</td>
						</tr>
						<tr>
							<td>邮箱：</td>
							<td>
								<input class="form-control required" type="text" placeholder="邮箱" name="phone_number" autofocus="autofocus" maxlength="20" id="phone_number" />
								<input type="button" value="发送验证码" onclick="amtf_getmail()"/>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center"><input type="button" value="提交" onclick="amtf_regist()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="返回" data-dismiss="modal"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>