<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>佛</title>
<style type="text/css">
.mod1class{
	padding-top:10%;
	width:100%;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/common.js}" th:line="javascript"></script>
<script type="text/javascript" th:src="@{/js/common2.js}" th:line="javascript"></script>
<script type="text/javascript">
	$(function(){
		setErrList("[[${errMessageList}]]");
		setCodeErrList("[[${codemsg}]]");
	});
	//登录按钮押下
	function amtf_login(){
		amtf_submit(amtf_form , '/f010001/T001');
	}
	//打开模态框
	function show_modal() {
		$('#myModal').modal('show');
	}
	var lookpwdindex = 0;
	function lookpwd(thisid){
		if (lookpwdindex == 0) {
			lookpwdindex = 1;
			$('#userpassword').attr('type','text');
			$(thisid).val('隐藏密码');
			$('#lookpwd_img').attr('src','/amtf/imgs/block_pwd.jpg');
		} else {
			lookpwdindex = 0;
			$('#userpassword').attr('type','password');
			$(thisid).val('查看密码');
			$('#lookpwd_img').attr('src','/amtf/imgs/view_pwd.jpg');
		}
	}

	function closeModl(){
		$("#myModal_codeErr").css("display","none");
		$(".modal-backdrop.fade").hide();
	}
</script>
</head>
<body>
	<div style="height:100%;">
		<form class="" th:action="@{/f010001}" method="post" style="height:100%;" id="amtf_form">
			<input type="hidden" name="IViewId" value="f010001"/>
			<div class="">
				<div class="col-md-7">
					<img th:src="@{/imgs/longin_img.png}" alt="佛" class="col-md-9 img-thumbnail center-block" style="height:100%;">
				</div>
				<div class="col-md-5">
					<div class="d-flex" style="padding-top:50%;">
						<div class="col-md-8">	
							<div class="col-md-12">
								<div class="col-md-8">
									<input type="text" class="form-control" id="username" placeholder="账户" name="User_Account" maxlength="9" th:value="${f010001Params.User_Account}">
								</div>
							</div>
							<div class="col-md-12 mt-4">
								<div class="col-md-8">
									<input type="password" class="form-control " id="userpassword" placeholder="密码" name="User_Password" maxlength="13" th:value="${f010001Params.User_Password}">
								</div>
								<div class="col-md-2">
									<button type="button" class="btn" value="查看密码" onclick="lookpwd(this)">
										<img th:src="@{/imgs/view_pwd.jpg}" id="lookpwd_img" alt="密码" class="" style="width:20px;height:20px;"/>
									</button>
								</div>
							</div>
							<div>
								<div class="col-md-12">
									<button type="submit" class="btn btn-info col-md-4" onclick="amtf_login()">登录</button>
									<button class="btn btn-primary ml-3 col-md-4" type="button" data-target="#myModal" onclick="show_modal()">注册</button>
									<a href="#">忘记密码</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:replace="~{mod1 :: mod1}"></th:block>
			<th:block th:replace="~{codeErr :: codeErr}"></th:block>
		</form>
	</div>
</body>
</html>