<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>main</title>
<th:block th:replace="head :: myhead"></th:block>
<script type="text/javascript">
function aaa(){
	amtf_submit(amtf_form , '/f010002/F001');
}
</script>
</head>
<body>
	<i-form class="" th:action="@{/f010002}" method="post" id="amtf_form" >
		<footer class="navbar navbar-fixed-bottom text-center bg-primary">
        	<p>© AlexanderZhao </p>
		</footer>
	</i-form>
</body>
</html>