<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"></meta>
<th:block th:fragment="f010005_modl">
	<style type="text/css">
	.modal_contain{
	   width : 500px;
	}
	tr{
		height:68px;
	}
	</style>
	<script type="text/javascript" >
	
	</script>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="f010005" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="z-index: 111111;">
		<div class="mod1class">
			<div class="" style="padding-left:35%;" id="modthis">
				<div class="modal-content modal_contain" id="modal_content_id">
					<table style="width:300px;margin:0 auto">
						<tr>
							<td colspan="2" style="text-align:center">任务</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center"><input type="button" value="修改" onclick="amtf_upduser()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="返回" data-dismiss="modal"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>