<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="head :: myhead"></th:block>
<head>
<meta charset="UTF-8">
<title></title>
<script type="text/javascript">
function aaa(){
	amtf_submit(amtf_form , '/f010002/F001');
}
</script>
</head>
<body>
	<i-form class="" th:action="@{/f010002}" method="post" id="amtf_form" >
		<th:block th:replace="~{f010004 :: f010003_modl}"></th:block>
	 	<div class="container body-content">
		   <div class="row">
				<div id="imgs" data-interval="2000" data-ride="carousel" class="carousel slide" style="width: 100%">
					<div class="carousel-inner">
						<div class="item active">
							<img th:src="@{/imgs/longin.jpg}" style="width: 100%;height: 500px;">
						</div>
						<div class="item">
							<img th:src="@{/imgs/regist8.jpg}"  style="width: 100%;height: 500px;">
						</div>
						<ul class="carousel-indicators">
							<li data-target="#imgs" data-slide-to="0" class="active"></li>
							<li data-target="#imgs" data-slide-to="1"></li>
						</ul>
					</div>
					<a href="#imgs" data-slide="prev" class="carousel-control left" style="margin-top:180px;height:0px;color:#fff;"><</a>
					<a href="#imgs" data-slide="next" class="carousel-control right" style="margin-top:180px;height:0px;color:#fff;">></a>
				</div>
			</div>
			<hr>
	    </div>
	 	<div class="container body-content">
	   		<div class="row">
	   			最新变更
	   		</div>
	   		<hr>
	    </div>
	    <div class="container body-content">
	   		<div class="row">
	   			动听音乐
	   		</div>
	   		<hr>
	    </div>
	    <div class="container body-content">
	   		<div class="row">
	   			精彩视频
	   		</div>
	   		<hr>
	    </div>
	    <div class="container body-content">
	   		<div class="row">
	   			最火帖子
	   		</div>
	   		<hr>
	    </div>
	    <div style="height:40px;">
			<footer class="navbar navbar-fixed-bottom text-center bg-primary">
	        	<p>© [[${f010002Params.User_Account}]] <br/>本网站开发人员：王意鑫  方军  张春程  王杰 李方方 倪捷扬</p>
			</footer>
		</div>
	</i-form>
</body>
</html>