<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"></meta>
<th:block th:fragment="f010004_modl">
	<style type="text/css">
	.modal_contain{
	   width : 500px;
	}
	tr{
		height:68px;
	}
	</style>
	<script type="text/javascript" >
		//注册按钮押下
		function amtf_upduser(){
			amtf_submit(amtf_form , '/f010001/T002');
		}

		$(function(){
			$('#file0').change(function(){
				//获取图片途径
				var objUrl = getObjectURL(this.files[0]) ;
				//判断是否存在
				if (objUrl) {
					$("#img1").attr("src", objUrl) ;
					$("#img1").show() ;
				}
			}) ;
		})

		//根据浏览器获取图片路径
		function getObjectURL(file) {
			var url = null ;

			if (window.createObjectURL!=undefined) { // basic
				url = window.createObjectURL(file) ;
			} else if (window.URL!=undefined) { // mozilla(firefox) 火狐
				url = window.URL.createObjectURL(file) ;
			} else if (window.webkitURL!=undefined) { // webkit or chrome 谷歌
				url = window.webkitURL.createObjectURL(file) ;
			}
			return url ;
		}
	</script>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="f010004" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="z-index: 111111;">
		<div class="mod1class">
			<div class="" style="padding-left:35%;" id="modthis">
				<div class="modal-content modal_contain" id="modal_content_id">
					<table style="width:300px;margin:0 auto">
						<tr>
							<td colspan="2" style="text-align:center">用户详细信息</td>
						</tr>
						<tr>
							<td colspan="2" class="text-center">
								<img th:src="@{/imgs/userimg.jpg}" th:if="${f010002Params.logInFo.imgpath == ''}" width="80px" height="80px" id="img1"/>
								<img th:src="@{/istatic/{fileNmame}(fileNmame=${f010002Params.logInFo.imgpath})}" th:if="${f010002Params.logInFo.imgpath != ''}" width="80px" height="80px" id="img1"/>
								<button type="button" id="i-check" value="" class="btn" onclick="$('#file0').click();" width="30px" height="20px">更换头像</button>
								<input type="file" name="file0" id="file0" multiple="multiple" style="display:none;"/>
							</td>
						</tr>
						<tr>
							<td>用户名：</td>
							<td>
								<input class="form-control required" type="text" placeholder="账户" name="upd_user_name" autofocus="autofocus" maxlength="20" id="upd_user_name" th:value="${f010002Params.logInFo.User_Account}"/>
							</td>
						</tr>
						<tr>
							<td>密码：</td>
							<td>
								<input class="form-control required" type="password" placeholder="密码" name="upd_user_password" maxlength="8" id="upd_user_password"/>
							</td>
						</tr>
						<tr>
							<td>资格：</td>
							<td>
								<input class="form-control required" type="text" th:value="${f010002Params.logInFo.User_Attestation == '1' ? '已认证':'未认证'}" name="upd_user_attestation" id="upd_user_attestation" disabled>
							</td>
						</tr>
						<tr>
							<td>联系电话：</td>
							<td>
								<input class="form-control required" type="text" placeholder="联系电话" name="upd_phone_number" autofocus="autofocus" maxlength="20" id="upd_phone_number" th:value="${f010002Params.logInFo.User_Phone}" disabled/>
							</td>
						</tr>
						<tr>
							<td>住址：</td>
							<td>
								<input class="form-control required" type="text" placeholder="住址" name="upd_user_homeaddress" autofocus="autofocus" maxlength="20" id="upd_user_homeaddress" th:value="${f010002Params.logInFo.User_HomeAddress}"/>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center"><input type="button" value="修改" onclick="amtf_upduser()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="返回" data-dismiss="modal"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>