<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AMTF管理画面</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	.mod1class{
		padding-top:10%;
		width:100%;
	}
   .form{
		background: rgba(255,255,255,0.2);
		width:400px;margin:100px auto;
	}  
	#login_form{
		display: block;
	}  
	#register_form{
		display: none;
	}  
	.fa{
		display: inline-block;
		top: 27px;
		left: 6px;
		position: relative;
		color: #ccc;
	}  
   input[type="text"],input[type="password"]{
		padding-left:26px;
	}  
	.checkbox{
		padding-left:21px;
	}  
	.padding-top-3{
		padding-top: 10%
	}
</style>
<script type="text/javascript">
	//初始化方法
	$(function(){
		setErrList("[[${errMessageList}]]");
		setCodeErrList("[[${codemsg}]]");
	
	});

	//登录按钮押下
	function amtf_login(){
		amtf_submit(amtf_form , '/f010001/T001');
	}
	//打开模态框
	function show_modal() {
		$('.dropdown-toggle').dropdown();
		$('#myModal').modal('show');
	}
	
	//返回
	function amtf_return(){
		amtf_submit(amtf_form , '/f010002');
	}
	
	//top点击时去掉所有的active样式(选中的样式)并给自己添加active
	function amtf_activeclick(thisid){
		$('.active').removeClass("active"); 
		$(thisid).addClass("active");
	}
</script>
</head>
<body>
	<div class="row bg col-md-12">
	<i-form class="" th:action="@{/f020001}" method="post" style="height:100%;" id="amtf_form">
		<input type="hidden" name="IViewId" value="f010001"/>
		<th:block th:replace="~{codeErr :: codeErr}"></th:block>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                        	<a class="icon-bar" href="#setup" data-toggle="tab" onclick="amtf_activeclick(this)">网站设置</a>
                        </li>
                        <li>
                        	<a href="#classification" data-toggle="tab" onclick="amtf_activeclick(this)">分类管理</a>
                        </li>
                        <li>
                        	<a href="#personnel" data-toggle="tab" onclick="amtf_activeclick(this)">人员管理</a>
                        </li>
                        <li>
                        	<a href="#advertisement" data-toggle="tab" onclick="amtf_activeclick(this)">广告栏设置</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    	<li>
		                    <a class="navbar-brand" href="#">
		                    	<img th:src="@{/imgs/userimg.jpg}" height="100%" th:if="${f020001Params.imgPath == ''}"/>
		                        <img th:src="@{/istatic/{fileNmame}(fileNmame=${f020001Params.imgPath})}" height="100%" th:if="${f020001Params.imgPath != ''}"/>
		                    </a>
		                </li>
                        <li>
                        	<a>[[${f020001Params.User_Name}]]</a>
                        </li>
                        <li>
                        	<a href="#" onclick="amtf_return()">返回</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
            	 <!--左边菜单栏-->
                <div class="col-sm-2">
                    <a href="#picture" class="list-group-item" data-toggle="tab" onclick="amtf_activeclick(this)">
                    	<span class="glyphicon glyphicon-home">
                    	</span>图片管理
                    </a>
                    <a href="#personal" class="list-group-item" data-toggle="tab" onclick="amtf_activeclick(this)">
                        <span class="glyphicon glyphicon-user">
                    	</span>个人设置
                    </a>
                </div>
                <div id="myTabContent" class="tab-content">
	                <div class="col-sm-10 tab-pane active" id="setup">
	                    <ol class="breadcrumb">
	                        <li class="active">
	                        	网站
	                        </li>
	                        <li class="active">
	                        	设置
	                        </li>
	                    </ol>
	                </div>
           			<div class="col-sm-10 tab-pane" id="classification">
           				<ol class="breadcrumb">
	                        <li class="active">
	                        	分类
	                        </li>
	                        <li class="active">
	                        	管理
	                        </li>
	                    </ol>
           			</div>
           			<div class="col-sm-10 tab-pane" id="personnel">
           				<ol class="breadcrumb">
	                        <li class="active">
	                        	人员
	                        </li>
	                        <li class="active">
	                        	管理
	                        </li>
	                    </ol>
           				<div class="panel panel-default">
	                        <div class="panel-heading">
	                         		   搜索
	                        </div>
	                        <div class="panel-body">
	                            <form role="form" class="form-inline">
	                                <div class="form-group">
	                                    <label for="name">名称</label>
	                                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
	                                </div>
	                                <div class="form-group">
	                                    <label for="name">状态</label>
	                                    <select class="form-control">
	                                        <option>认证</option>
	                                        <option>未认证</option>
	                                    </select>
	                                </div>
	                                <div class="form-group">
	                                    <button type="submit" class="btn btn-default">开始搜索</button>
	                                </div>
	                            </form>
	                        </div>
	                    </div>
	                    <!-- 列表展示 -->
	                    <div class="table-responsive">
	                        <table class="table table-striped ">
	                            <thead>
	                                <tr>
	                                    <th>账户</th>
	                                    <th>图片</th>
	                                    <th>姓名</th>
	                                    <th>地址</th>
	                                    <th>电话</th>
	                                    <th>状态</th>
	                                    <th>操作</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr>
	                                    <td>123</td>
	                                    <td>
	                                        <img src="images/a.jpg" class="img-thumbnail" style="height: 30px;" />
	                                    </td>
	                                    <td>阿玛</td>
	                                    <td>北京市故宫</td>
	                                    <td>11111884664</td>
	                                    <td>认证</td>
	                                    <td>
	                                        <div class="btn-group">
	                                            <a href="" class="btn btn-default">修改</a>
	                                            <!-- <a href="" class="btn btn-default">下架</a> -->
	                                            <a href="" class="btn btn-danger">删除</a>
	                                        </div>
	                                    </td>
	                                </tr>
	                            </tbody>
	                        </table>
	                         <!--   <ul class="pagination" style="float: right;">
	                        <li><a href="#">&laquo;</a>
	                        </li>
	                        <li class="active"><a href="#">1</a>
	                        </li>
	                        <li class="disabled"><a href="#">2</a>
	                        </li>
	                        <li><a href="#">3</a>
	                        </li>
	                        <li><a href="#">4</a>
	                        </li>
	                        <li><a href="#">5</a>
	                        </li>
	                        <li><a href="#">&raquo;</a>
	                        </li>
	                   		</ul> -->
	                    </div>
           			</div>
           			<div class="col-sm-10 tab-pane" id="advertisement">
           				<ol class="breadcrumb">
	                        <li class="active">
	                        	广告栏
	                        </li>
	                        <li class="active">
	                        	设置
	                        </li>
	                    </ol>
           			</div>
           			<div class="col-sm-10 tab-pane" id="picture">
           				<ol class="breadcrumb">
	                        <li class="active">
	                        	图片
	                        </li>
	                        <li class="active">
	                        	管理
	                        </li>
	                    </ol>
           			</div>
           			<div class="col-sm-10 tab-pane" id="personal">
           				<ol class="breadcrumb">
	                        <li class="active">
	                        	个人
	                        </li>
	                        <li class="active">
	                        	管理
	                        </li>
	                    </ol>
           			</div>
           		</div>
            </div>
        </div>
	</i-form>
	</div>
</body>
</html>