<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>任务一栏</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	
</style>
<script type="text/javascript">

</script>
</head>
<body>
	<div class="row bg col-md-12">
	<i-form class="" th:action="@{/f060001}" method="post" style="height:100%;" id="amtf_form">
		<input type="hidden" name="IViewId" value="f060001"/>
			
		</i-form>
	</div>
</body>
</html>