<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>论坛画面</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">

</style>
<script type="text/javascript">

</script>
</head>
<body>
	<div class="wrapper">
		<!--<th:block th:replace="navbar :: mynavbar"></th:block>-->
		<div class="">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!-- 论坛 -->
				<div class="container-fluid dashboardclass" id="f030001">
					<div class="container-fluid">
						<i-form class="" th:action="@{/f030001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f030001"/>
							<div class="row card m-0">
								<div class="input-group no-border col-sm-12">
									<div class="m-auto d-flex">
										<div class="nav-item dropdown">
											<a class="nav-link" data-toggle="dropdown" data-target="" aria-haspopup="true" aria-expanded="false">
												<p class="h5 pt-1 mb-0">
													论坛首页 <b class="caret"></b>
												</p>
											</a>
										</div>
										<div class="nav-item dropdown">
											<a class="nav-link" data-toggle="dropdown" data-target="" aria-haspopup="true" aria-expanded="false">
												<p class="h5 pt-1 mb-0">
													论坛明星 <b class="caret"></b>
												</p>
											</a>
										</div>
										<div class="nav-item dropdown">
											<a class="nav-link" data-toggle="dropdown" data-target="" aria-haspopup="true" aria-expanded="false">
												<p class="h5 pt-1 mb-0">
													排行榜 <b class="caret"></b>
												</p>
											</a>
										</div>
										<div class="nav-item dropdown">
											<a class="btn btn-sm btn-reddit" data-toggle="dropdown" data-target="" aria-haspopup="true" aria-expanded="false">
												我要发帖
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row m-auto col-md-10">
								<div class="col-md-1">
									<div class="card card-profile m-1">
										<div class="text-center">
											<span class="h5">分类导航</span>
										</div>
									</div>
								</div>
								<div class="col-md-9 pl-0 pr-0">
									<div class="card card-profile m-1">
										<div class="text-center">
											<span class="h5">主页面</span>
										</div>
										<table class="table-hover col-sm-12">
										</table>
									</div>
								</div>
								<div class="col-md-2">
									<div class="card card-profile m-1">
										<div class="text-center">
											<span class="h5">信息页面</span>
										</div>
										<table class="table-hover col-sm-12">
										</table>
									</div>
									<div class="card card-profile m-1">
										<div class="text-center">
											<span class="h5">人最多页面</span>
										</div>
										<table class="table-hover col-sm-12">
										</table>
									</div>
									<div class="card card-profile m-1">
										<div class="text-center">
											<span class="h5">广告页面</span>
										</div>
										<table class="table-hover col-sm-12">
										</table>
									</div>
								</div>
							</div>
						</i-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>