<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="myhead">
<head>

</head>
<body>
	<th:block th:replace="import :: myimport"></th:block>
	<div class="footer">
		<div class="d-flex" style="height:45px;">
			<!-- <input th:value="*{f010001Params.User_Account}"/>
			<input th:value="*{f010001Params.User_Password}"/>
			<input th:value="*{f010001Params.User_id}"/> -->
			<div class="col-md-11"></div>
			<div class="col-md-1" style="height:100%;">
				<button type="button" class="btn btn-default" title="用户信息">
					<img th:src="@{/imgs/userimg.jpg}" alt="用户" class="img-responsive" style="width:40px;height:30px;"/>
				</button>
			</div>
		</div>
	</div>
</body>
</th:block>
</html>
