<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="myimport">
	<head>
	<meta charset="UTF-8">
		<!-- 项目图标 -->
		<link rel="icon" type="image/x-icon" th:href="@{/imgs/head1.jpg}"/>
		<!-- bootstarp的css包 -->
		<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"> -->
		<link rel="stylesheet" th:href="@{/css/fileinput.css}">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/loading.css}">
		<link rel="stylesheet" th:href="@{/css/material-dashboard.css}">
		<link rel="stylesheet" th:href="@{/css/material-dashboard.css.map}">
		<link rel="stylesheet" th:href="@{/css/material-dashboard.min.css}">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- 视频插件css -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/video-js.min.css}">
		<!--Swiper 轮播图插件css-->
		<link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
		<!-- jq -->
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<!-- bootstarp的js包 -->
		<!-- <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>-->
		<!-- BootStarp Table -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
		<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
		<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/locale/bootstrap-table-zh-CN.min.js"></script> -->
		<!-- 共通js包-->
		<script th:src="@{/js/jquerysession.js}"></script>
		<!-- axios引入 -->
		<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
		<!-- vue.js引入 -->
		<script th:src="@{/js/vue.js}"></script>
		<script type="text/javascript" th:src="@{/js/wangEditor.min1.js}"></script>
		<script type="text/javascript" th:src="@{/js/media.js}"></script>
		<script type="text/javascript" th:src="@{/js/material-dashboard.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/material-dashboard.js.map}"></script>
		<script type="text/javascript" th:src="@{/js/material-dashboard.js}"></script>
		<script th:src="@{/js/core/popper.min.js}"></script>
		<script th:src="@{/js/core/bootstrap-material-design.min.js}"></script>
		<script th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
		<script th:src="@{/js/plugins/moment.min.js}"></script>
		<script th:src="@{/js/plugins/sweetalert2.js}"></script>
		<script th:src="@{/js/plugins/jquery.validate.min.js}"></script>
		<script th:src="@{/js/plugins/jquery.bootstrap-wizard.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-selectpicker.js}"></script>
		<!-- 日期选择下拉日历 -->
		<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.zh-CN.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-datetimepicker.min.js}"></script>
		<script th:src="@{/js/plugins/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-tagsinput.js}"></script>
		<script th:src="@{/js/plugins/jasny-bootstrap.min.js}"></script>
		<script th:src="@{/js/plugins/fullcalendar.min.js}"></script>
		<script th:src="@{/js/plugins/jquery-jvectormap.js}"></script>
		<script th:src="@{/js/plugins/nouislider.min.js}"></script>
		<!--Swiper 轮播图插件js-->
		<script th:src="@{/js/swiper-bundle.js}"></script>
		<!-- 视频插件js -->
		<script th:src="@{/js/video.min.js}"></script>
		<!-- 弹幕插件 -->
		<script th:src="@{/js/jquery.danmu.js}"></script>
		<!-- <script
			src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
		<script th:src="@{/js/plugins/arrive.min.js}"></script>
		<script th:src="@{/js/plugins/chartist.min.js}"></script>
		<script th:src="@{/js/plugins/bootstrap-notify.js}"></script>
		<script th:src="@{/js/material-dashboard.js?v=2.1.2}"
			type="text/javascript"></script>
		<script th:src="@{/demo/demo.js}"></script>
		<!-- 共通js包 -->
		<script type="text/javascript" th:src="@{/js/common.js}" th:line="javascript"></script>
		<script type="text/javascript" th:src="@{/js/common2.js}" th:line="javascript"></script>
		<script type="text/javascript" th:src="@{/js/common3.js}"></script>
		<!-- Message js包-->
		<script type="text/javascript" th:src="@{/js/bootstarpMessage.js}" th:line="javascript"></script>
		<!-- 文件上传插件
		<script type="text/javascript" th:src="@{/js/fileinput.js}"></script>
			 文件上传插件汉化包 
		<script type="text/javascript" th:src="@{/js/zh.js}"></script>-->
		<!-- scss文件 -->
		<link th:href="@{/scss/import.scss}">
		<!-- GoEasy实时通信 -->
		<!--[if lte IE 8]>//如果需要支持低版本的IE8及以下
		<script  type="text/javascript" src="https://cdn.goeasy.io/json2.js"></script>
		<![endif]-->
		<script type="text/javascript" src="https://cdn.goeasy.io/goeasy-1.1.1.js"></script>
	</head>
	<body>
		<div id="loding_div">
			<div class="loadEffect">
				<span></span> <span></span> <span></span> <span></span> <span></span>
				<span></span> <span></span> <span></span>
			</div>
		</div>
		<div id="loginstop" class="bg">
			<div class="zhezhao">
				<p class="s1 bg-danger" align="center">A</p>
				<p class="s2 bg-info" align="center">M</p>
				<p class="s3 bg-primary" align="center">T</p>
				<p class="s4 bg-success" align="center">F</p>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		// 初始化GoEasy
		var goEasy = new GoEasy({
			host : 'hangzhou.goeasy.io', //应用所在的区域地址: 【hangzhou.goeasy.io |singapore.goeasy.io】
			appkey : "BC-6bb634d86a8c493799745be104a4e0c0", //替换为您的应用appkey
		});
		//提示框
		$(function () { $("[data-toggle='tooltip']").tooltip(); });
		// 接受信息
		goEasy.subscribe({
			channel : "amtf_channel", //替换为您自己的channel
			onMessage : function(message) {
				var _updontice_size = 1;
				// 判断通知数量是否是空个
				if ($('#updontice_size').text() != '') {
					// 不是空就在原有基础上加一
					_updontice_size = parseInt($('#updontice_size').text()) + 1;
				} else {
					// 是空就渲染数量html
					$('#i_notifications').after("<span class='notification' id='updontice_size'></span>");
				}
				$('#updontice_size').text(_updontice_size);
				// 定义通知栏对象
				var _entity = {};
				_entity.updnotice_id = message.content.split(',')[0];
				_entity.updnotice_head = message.content.split(',')[1];
				_entity.updnotice_text = message.content.split(',')[2];
				if ($('#showupdnotice').find('a').length == 0) {
					$('#navbarDropdownMenuLink').after("<div class='dropdown-menu dropdown-menu-right' id='showupdnotice' aria-labelledby='navbarDropdownMenuLink'><a class='dropdown-item updnotice' data-toggle='modal' onclick='amtf_getupdontice(" + JSON.stringify(_entity) + ")'>" + _entity.updnotice_head + "</a></div>");
				} else {
					$('#showupdnotice').append("<a class='dropdown-item updnotice' data-toggle='modal' onclick='amtf_getupdontice(" + JSON.stringify(_entity) + ")'>" + _entity.updnotice_head + "</a>");
				}
			}
		});
		// 初始化方法
		$(function() {
			//setErrList("[[${errMessageList}]]");
			setCodeErrList("[[${codemsg}]]");
			setCodeSuccess("[[${success}]]");
			/* 定时器  间隔1秒检测是否长时间未操作页面  */
			/*window.setInterval(testTime, 1000);*/
			blurSetInputTextVal();
			formCheck();
		});
		// 注册模态框
		$(document).ready(function() {
			//demo.showSwal();
		});
		/* 鼠标移动事件 */
		/*$(document).mouseover(function() {
			//更新操作时间
			lastTime = new Date().getTime();
		});
		var lastTime = new Date().getTime();
		var currentTime = new Date().getTime();
		//设置超时时间： 10分
		var timeOut = 10 * 60 * 1000;
		// 超长待机后进入锁定画面
		function testTime() {
			//更新当前时间
			currentTime = new Date().getTime();
			//判断是否超时
			if (currentTime - lastTime > timeOut) {
				amtf_submit(amtf_form, '/f010002/T003');
			}
		}*/
		// 每一个form表达都进行check
		function formCheck() {
			$('form').each(function() {
				setFormValidation('#' + this.id);
			});
		}
		// 无条件分页
		function amtf_table(_id,_url,_pageNum) {
			$.ajax({
				url : CONTEXT_PATH + _url,
				type : 'post',
				dateType : 'html',
				async : true,
				data : {
					pageNum : _pageNum,
				},
				success : function(result) {
					if(result != ''){
						$('#' + _id).replaceWith(result);
					}
				},
				error : function(res, textStaus) {
					setCodeErrList("错误！！！请和管理员联系。。。");
				},
			});
		}
		// 条件分页
		function amtf_activity_table(_id,_url,_pageNum,_activity_id) {
			$.ajax({
				url : CONTEXT_PATH + _url,
				type : 'post',
				dateType : 'html',
				async : true,
				data : {
					id : _activity_id,
					pageNum : _pageNum,
				},
				success : function(result) {
					if(result != ''){
						$('#' + _id).replaceWith(result);
					}
				},
				error : function(res, textStaus) {
					setCodeErrList("错误！！！请和管理员联系。。。");
				},
			});
		}
	</script>
</th:block>
</html>
