<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="myimport">
	<head>
	<meta charset="UTF-8">
		<!-- 项目图标 -->
		<link rel="icon" type="image/x-icon" th:href="@{/imgs/head.jpg}"/>
		<!-- bootstarp的css包 -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
		<link rel="stylesheet" th:href="@{/css/fileinput.css}">
		<link rel="stylesheet" th:href="@{/css/common.css}">
		<link rel="stylesheet" th:href="@{/css/material-dashboard.css}">
		<link rel="stylesheet" th:href="@{/css/material-dashboard.css.map}">
		<link rel="stylesheet" th:href="@{/css/material-dashboard.min.css}">
		<!-- jq -->
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<!-- bootstarp的js包 -->
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<!-- BootStarp Table -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
		<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
		<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/locale/bootstrap-table-zh-CN.min.js"></script> -->
		<script type="text/javascript" th:src="@{/js/fileinput.js}"></script>
		<script type="text/javascript" th:src="@{/js/zh.js}"></script>
		<!-- 共通js包-->
		<script type="text/javascript" th:src="@{/js/common.js}" th:line="javascript"></script>
		<script type="text/javascript" th:src="@{/js/common2.js}" th:line="javascript"></script>
		<script type="text/javascript" th:src="@{/js/wangEditor.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/media.js}"></script>
		<script type="text/javascript" th:src="@{/js/material-dashboard.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/material-dashboard.js.map}"></script>
		<script type="text/javascript" th:src="@{/js/material-dashboard.js}"></script>
	</head>
	<body>
		<th:block th:replace="~{codeErr :: codeErr}"></th:block>
		<th:block th:replace="~{wait :: wait}"></th:block>
		<th:block th:replace="~{codeSuccess :: success}"></th:block>
	</body>
	<script type="text/javascript">
		//初始化方法
		$(function() {
			setErrList("[[${errMessageList}]]");
			setCodeErrList("[[${codemsg}]]");
			setCodeSuccess("[[${success}]]");
		});
	</script>
</th:block>
</html>
