<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="myimport">
	<head>
	<meta charset="UTF-8">
		<!-- 项目图标 -->
		<link rel="icon" type="image/x-icon" th:href="@{/imgs/head.jpg}"/>
		<!-- bootstarp的css包 -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
		<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-fileinput/5.1.0/css/fileinput.min.css" rel="stylesheet">
		<!-- jq -->
		<script th:src="@{/js/jquery.min.js}"></script>
		<!-- bootstarp的js包 -->
		<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-fileinput/5.1.0/js/fileinput.min.js"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<!-- BootStarp Table -->
	<!-- 	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
		<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
		<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/locale/bootstrap-table-zh-CN.min.js"></script> -->
		<!-- 共通js包-->
		<script type="text/javascript" th:src="@{/js/common.js}" th:line="javascript"></script>
		<script type="text/javascript" th:src="@{/js/common2.js}" th:line="javascript"></script>
		<script type="text/javascript">
			//初始化方法
			$(function() {
				setErrList("[[${errMessageList}]]");
				setCodeErrList("[[${codemsg}]]");
				setCodeSuccess("[[${success}]]");
			});
		</script>
	</head>
	<body>
	</body>
</th:block>
</html>
