<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录画面</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	
</style>
<script type="text/javascript">
//rtc object
var rtc = {
  client: null,
  joined: false,
  published: false,
  localStream: null,
  remoteStreams: [],
  params: {}
};

// Options for joining a channel
var option = {
  appID: "Your App ID",
  channel: "Channel name",
  uid: null,
  token: "Your token"
}
// mode 用于设置频道场景。一对一或多人通话中，建议设为 "rtc" ，使用通信场景；互动直播中，建议设为 "live"，使用直播场景。
//codec 用于设置浏览器使用的编解码格式。如果你需要使用 Safari 12.1 及之前版本，将该参数设为 "h264"；如果你需要在手机上使用 Agora Web SDK，请参考移动端使用 Web SDK。
rtc.client = AgoraRTC.createClient({mode: "live", codec: "h264"});

// Initialize the client
rtc.client.init(option.appID, function () {
  console.log("init success");
  }, (err) => {
  console.error(err);
});
//让用户选择自己的角色是主播（"host"）还是观众（"audience"）。
rtc.client.setClientRole("host"); 
// 在 Client.init 的 onSuccess 回调中调用 Client.join 加入频道。
rtc.client.join(option.token ? option.token : null, option.channel, option.uid ? +option.uid : null, function (uid) {
    console.log("join channel: " + option.channel + " success, uid: " + uid);
    rtc.params.uid = uid;
  }, function(err) {
    console.error("client join failed", err)
})
// Create a local stream
rtc.localStream = AgoraRTC.createStream({
  streamID: rtc.params.uid,
  audio: true,
  video: true,
  screen: false,
})
// Initialize the local stream
rtc.localStream.init(function () {
  console.log("init local stream success");
  // play stream with html element id "local_stream"
  rtc.localStream.play("local_stream");
}, function (err) {
  console.error("init local stream failed ", err);
});
//Publish the local stream
rtc.client.publish(rtc.localStream, function (err) {
  console.log("publish failed");
  console.error(err);
})
// 离开频道
rtc.client.leave(function () {
  // Stop playing the local stream
  rtc.localStream.stop();
  // Close the local stream
  rtc.localStream.close();
  // Stop playing the remote streams and remove the views
  while (rtc.remoteStreams.length > 0) {
    var stream = rtc.remoteStreams.shift();
    var id = stream.getId();
    stream.stop();
    removeView(id);
  }
  console.log("client leaves channel success");
}, function (err) {
  console.log("channel leave failed");
  console.error(err);
})
</script>
</head>
<body>
	<div class="wrapper">
		<th:block th:replace="navbar :: mynavbar"></th:block>
		<div class="main-panel">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!-- 个人资料 -->
				<div class="container-fluid dashboardclass" id="userinfo">
					<div class="container-fluid">
					<!-- <i-form class="" th:action="@{/f010010}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data"> <input type="hidden" name="IViewId" value="f010010" /> -->
						<div class="navbar-fixed">
							<nav class="agora-navbar">
								<div class="nav-wrapper agora-primary-bg valign-wrapper">
									<h5 class="left-align">Basic Live Broadcast</h5>
								</div>
							</nav>
						</div>
						<form id="form" class="row col l12 s12">
							<div class="row container col l12 s12">
								<div class="col" style="min-width: 433px; max-width: 443px">
									<div class="card" style="margin-top: 0px; margin-bottom: 0px;">
										<div class="row card-content" style="margin-bottom: 0px;">
											<div class="input-field">
												<label for="appID" class="active">App ID</label> <input
													type="text" placeholder="App ID" name="appID">
											</div>
											<div class="input-field">
												<label for="channel" class="active">Channel</label> <input
													type="text" placeholder="channel" name="channel">
											</div>
											<div class="input-field">
												<label for="token" class="active">Token</label> <input
													type="text" placeholder="token" name="token">
											</div>
											Host: <input id="role" type="checkbox" checked></input>
											<div class="row" style="margin: 0">
												<div class="col s12">
													<button
														class="btn btn-raised btn-primary waves-effect waves-light"
														id="join">JOIN</button>
													<button
														class="btn btn-raised btn-primary waves-effect waves-light"
														id="leave">LEAVE</button>
													<button
														class="btn btn-raised btn-primary waves-effect waves-light"
														id="publish">PUBLISH</button>
													<button
														class="btn btn-raised btn-primary waves-effect waves-light"
														id="unpublish">UNPUBLISH</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col s7">
									<div class="video-grid" id="video">
										<div class="video-view">
											<div id="local_stream" class="video-placeholder"></div>
											<div id="local_video_info" class="video-profile hide"></div>
											<div id="video_autoplay_local" class="autoplay-fallback hide"></div>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!-- </i-form> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>