<!--
=========================================================
Material Dashboard PRO - v1.0.0
=========================================================

Product Page: http://localhost:8080/amtf/login
Copyright 2020 Creative Tim (https://www.zhangchuncheng.top)
Coded by zhangchuncheng

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:replace="import :: myimport"></th:block>
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
		<link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
		<link th:href="@{/demo/demo.css}" rel="stylesheet" />
		<title>
			登录
		</title>
		<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
		<script type="text/javascript">
		var pwsShowFlag = true; 
		function lookpwd() {
			if (pwsShowFlag == true) {
				pwsShowFlag = false;
				$('#userpassword').attr('type','text');
			} else {
				pwsShowFlag = true;
				$('#userpassword').attr('type','password');
			}
		}
		
		//登录按钮押下
		function amtf_login() {
			if(!window.localStorage){
				alert("浏览器支持localstorage");
				return false;
			}else{
				var storage=window.localStorage;
				if($('#remember_checkbox').is(':checked')){
					storage.name=$('#username').val();
					storage.pwd=$('#userpassword').val();
				} else {
					storage.name='';
					storage.pwd='';
				}
				console.log(typeof storage["name"]);
				console.log(typeof storage["pwd"]);
			}
			amtf_submit(amtf_form , '/f010001/T001');
		}
		</script>
		
		<style>
		    .pointer:hover{
      cursor:pointer;
      /*光标呈现为指示链接的指针（一只手）*/
    }
		</style>
	</head>

	<body class="off-canvas-sidebar">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
			<div class="container">
				<div class="navbar-wrapper">
					<a class="navbar-brand" href="javascript:;">登录 页面</a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false"
				 aria-label="Toggle navigation">
					<span class="sr-only">切换 导航</span>
					<span class="navbar-toggler-icon icon-bar"></span>
					<span class="navbar-toggler-icon icon-bar"></span>
					<span class="navbar-toggler-icon icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="../dashboard.html" class="nav-link">
								<i class="material-icons">dashboard</i>
								仪表盘
							</a>
						</li>
						<li class="nav-item ">
							<a href="../pages/register.html" class="nav-link">
								<i class="material-icons">person_add</i>
								注冊
							</a>
						</li>
						<li class="nav-item  active ">
							<a href="../pages/login.html" class="nav-link">
								<i class="material-icons">fingerprint</i>
								登录
							</a>
						</li>
						<li class="nav-item ">
							<a href="../pages/lock.html" class="nav-link">
								<i class="material-icons">lock_open</i>
								锁定
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->
		<div class="wrapper wrapper-full-page">
			<div class="page-header login-page header-filter" filter-color="black" style="background-image: url('/amtf/img/login.jpg'); background-size: cover; background-position: top center;">
				<!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
							<i-form class="" th:action="@{/f010001}" method="post" id="amtf_form">
								<div class="card card-login card-hidden">
									<div class="card-header card-header-rose text-center">
										<h3 class="card-title">登录</h3>
										<div class="social-line">
											<a href="#pablo" class="btn btn-just-icon btn-link btn-white">
												<i class="fa fa-facebook-square"></i>
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-link btn-white">
												<i class="fa fa-twitter"></i>
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-link btn-white">
												<i class="fa fa-google-plus"></i>
											</a>
										</div>
									</div>
									<div class="card-body ">
										<p class="card-description text-center">其他方式登录</p>
										<span class="bmd-form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text">
														<i class="material-icons">face</i>
													</span>
												</div>
												<input type="text" class="form-control" placeholder="请输入用户名..." name="User_Account" autofocus="autofocus" id="username" th:value="${f010001Params.User_Account}">
											</div>
										</span>
										<span class="bmd-form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text">
														<i class="material-icons">email</i>
													</span>
												</div>
												<input type="email" class="form-control" placeholder="请输入邮箱地址...">
											</div>
										</span>
										<span class="bmd-form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text">
														<i class="material-icons pointer" onclick="lookpwd()">lock_outline</i>
													</span>
												</div>
												<input type="password" class="form-control" placeholder="请输入密码..." name="User_Password" maxlength="8" id="userpassword" th:value="${f010001Params.User_Password}">
											</div>
										</span>
									</div>
									<div class="card-footer justify-content-center">
										<a href="#pablo" class="btn btn-rose btn-link btn-lg" onclick="amtf_login()">登录</a>
									</div>
								</div>
							</i-form>
						</div>
					</div>
				</div>
				<footer class="footer">
					<div class="container">
						<nav class="float-left">
							<ul>
								<li>
									<a href="https://www.creative-tim.com/">
										加入我们
									</a>
								</li>
								<li>
									<a href="https://www.creative-tim.com/presentation">
										关于我们
									</a>
								</li>
								<li>
									<a href="https://www.creative-tim.com/blog">
										博客
									</a>
								</li>
								<li>
									<a href="https://www.creative-tim.com/license">
										许可证
									</a>
								</li>
							</ul>
						</nav>
						<div class="copyright float-right">
							&copy;
							<script>
								document.write(new Date().getFullYear())
							</script>, made with <i class="material-icons">favorite</i> by
							<a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a> for a better web.
						</div>
					</div>
				</footer>
			</div>
		</div>
		<!--   Core JS Files   -->
		<script src="../../assets/js/core/jquery.min.js"></script>
		<script src="../../assets/js/core/popper.min.js"></script>
		<script src="../../assets/js/core/bootstrap-material-design.min.js"></script>
		<script src="../../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
		<!--  Google Maps Plugin    -->
		<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
		<!-- Chartist JS -->
		<script src="../../assets/js/plugins/chartist.min.js"></script>
		<!--  Notifications Plugin    -->
		<script src="../../assets/js/plugins/bootstrap-notify.js"></script>
		<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
		<script src="../../assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
		<!-- Material Dashboard DEMO methods, don't include it in your project! -->
		<script src="../../assets/demo/demo.js"></script>
		<script>
			$(document).ready(function() {
				$().ready(function() {
					$sidebar = $('.sidebar');

					$sidebar_img_container = $sidebar.find('.sidebar-background');

					$full_page = $('.full-page');

					$sidebar_responsive = $('body > .navbar-collapse');

					window_width = $(window).width();

					fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

					if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
						if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
							$('.fixed-plugin .dropdown').addClass('open');
						}

					}

					$('.fixed-plugin a').click(function(event) {
						// Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
						if ($(this).hasClass('switch-trigger')) {
							if (event.stopPropagation) {
								event.stopPropagation();
							} else if (window.event) {
								window.event.cancelBubble = true;
							}
						}
					});

					$('.fixed-plugin .active-color span').click(function() {
						$full_page_background = $('.full-page-background');

						$(this).siblings().removeClass('active');
						$(this).addClass('active');

						var new_color = $(this).data('color');

						if ($sidebar.length != 0) {
							$sidebar.attr('data-color', new_color);
						}

						if ($full_page.length != 0) {
							$full_page.attr('filter-color', new_color);
						}

						if ($sidebar_responsive.length != 0) {
							$sidebar_responsive.attr('data-color', new_color);
						}
					});

					$('.fixed-plugin .background-color .badge').click(function() {
						$(this).siblings().removeClass('active');
						$(this).addClass('active');

						var new_color = $(this).data('background-color');

						if ($sidebar.length != 0) {
							$sidebar.attr('data-background-color', new_color);
						}
					});

					$('.fixed-plugin .img-holder').click(function() {
						$full_page_background = $('.full-page-background');

						$(this).parent('li').siblings().removeClass('active');
						$(this).parent('li').addClass('active');


						var new_image = $(this).find("img").attr('src');

						if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
							$sidebar_img_container.fadeOut('fast', function() {
								$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
								$sidebar_img_container.fadeIn('fast');
							});
						}

						if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
							var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

							$full_page_background.fadeOut('fast', function() {
								$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
								$full_page_background.fadeIn('fast');
							});
						}

						if ($('.switch-sidebar-image input:checked').length == 0) {
							var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
							var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

							$sidebar_img_container.css('background-image', 'url("' + new_image + '")');
							$full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
						}

						if ($sidebar_responsive.length != 0) {
							$sidebar_responsive.css('background-image', 'url("' + new_image + '")');
						}
					});

					$('.switch-sidebar-image input').change(function() {
						$full_page_background = $('.full-page-background');

						$input = $(this);

						if ($input.is(':checked')) {
							if ($sidebar_img_container.length != 0) {
								$sidebar_img_container.fadeIn('fast');
								$sidebar.attr('data-image', '#');
							}

							if ($full_page_background.length != 0) {
								$full_page_background.fadeIn('fast');
								$full_page.attr('data-image', '#');
							}

							background_image = true;
						} else {
							if ($sidebar_img_container.length != 0) {
								$sidebar.removeAttr('data-image');
								$sidebar_img_container.fadeOut('fast');
							}

							if ($full_page_background.length != 0) {
								$full_page.removeAttr('data-image', '#');
								$full_page_background.fadeOut('fast');
							}

							background_image = false;
						}
					});

					$('.switch-sidebar-mini input').change(function() {
						$body = $('body');

						$input = $(this);

						if (md.misc.sidebar_mini_active == true) {
							$('body').removeClass('sidebar-mini');
							md.misc.sidebar_mini_active = false;

							$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

						} else {

							$('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

							setTimeout(function() {
								$('body').addClass('sidebar-mini');

								md.misc.sidebar_mini_active = true;
							}, 300);
						}

						// we simulate the window Resize so the charts will get updated in realtime.
						var simulateWindowResize = setInterval(function() {
							window.dispatchEvent(new Event('resize'));
						}, 180);

						// we stop the simulation of Window Resize after the animations are completed
						setTimeout(function() {
							clearInterval(simulateWindowResize);
						}, 1000);

					});
				});
			});
		</script>
		<script>
			$(document).ready(function() {
				md.checkFullPageBackgroundImage();
				setTimeout(function() {
					// after 1000 ms we add the class animated to the login/register card
					$('.card').removeClass('card-hidden');
				}, 700);
			});
		</script>
	</body>

</html>
