<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:replace="import :: myimport"></th:block>
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
		<link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
		<link th:href="@{/demo/demo.css}" rel="stylesheet" />
		<title>
			登录
		</title>
		<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
		<style>
			.padding-15{
				padding: 15px !important;
			}
			.dispaly_none{
				display: none;
			}
			.display_block{
				display: block;
			}
		</style>
		<script type="text/javascript">
		document.onreadystatechange=function(){
			showdiv();
			//是否加载完毕
			if(document.readyState =='complete'){
				hidediv();//加载完成 隐藏加载图案
			}
		}
		// 初始化方法
		$(function() {
			var storage=window.localStorage;
			var name=storage.name;
			var pwd=storage.pwd;
			if (name != '' && pwd != '') {
				$('#username').val(name);
				$('#userpassword').val(pwd);
				$('#registercheck').attr('checked','true');
			} else {
				$('#registercheck').removeAttr('checked');
			}
			if ("[[${f010001Params.yesorno}]]" != "") {
				alert('注册成功');
			}
			if ("[[${f010001Params.verifyCode}]]" != "") {
				amtf_loginhead($('#userregister_id'));
			}
			if ('[[${f010001Params.locking}]]' != '') {
				amtf_loginhead($('#lockingid'));
				$('#exampleInput1').focus();
			}
		});
		// 查看密码
		var pwsShowFlag = true; 
		function lookpwd(_this) {
			if (pwsShowFlag == true) {
				pwsShowFlag = false;
				$(_this).text('lock_open');
				$('#userpassword').attr('type','text');
			} else {
				pwsShowFlag = true;
				$(_this).text('lock_outline');
				$('#userpassword').attr('type','password');
			}
		}
		// 登录按钮押下
		function amtf_login() {
			if ($("#amtf_form").valid()) {
				if(!window.localStorage){
					alert("浏览器支持localstorage");
					return false;
				}else{
					var storage=window.localStorage;
					if($('#registercheck').is(':checked')){
						storage.name=$('#username').val();
						storage.pwd=$('#userpassword').val();
					} else {
						storage.name='';
						storage.pwd='';
					}
					console.log(typeof storage["name"]);
					console.log(typeof storage["pwd"]);
				}
				showdiv();
				amtf_submit(amtf_form , '/f010001/T001');
			}
		}
		// 登陆页面head选中样式变换
		function amtf_loginhead(_this) {
			$('.loginhead').each(function(){
				$(this).parent().removeClass('active');
				var _href = $(this).attr('href');
				if (typeof(_href) != "undefined"){
					_href = _href.replace('#','');
					$('#' + _href).removeClass('show');
					$('#' + _href).removeClass('collapse');
					$('#' + _href).removeClass('container');
					$('#' + _href).addClass('dispaly_none');
				}
			});
			$(_this).parent().addClass('active');
			var _href = $(_this).attr('href');
			_href = _href.replace('#','');
			$('#' + _href).removeClass('dispaly_none');
			$('#' + _href).addClass('container');
			if (_href == 'userregister') {
				$('#logintext').text('注册 页面');
				$('#login_image').css('background-image',"url('/amtf/img/register.jpg')");
			} else if (_href == 'userlogin') {
				$('#logintext').text('登录 页面');
				$('#login_image').css('background-image',"url('/amtf/img/login.jpg')");
			} else if (_href == 'pricing') {
				$('#logintext').text('产品 介绍');
				$('#login_image').css('background-image',"url('/amtf/img/bg-pricing.jpg')");
			} else if (_href == 'locking') {
				$('#logintext').text('锁定 页面');
				$('#login_image').css('background-image',"url('/amtf/img/lock.jpg')");
			}
		}
		// 发送验证码
		function amtf_submitYFCode(_this){
			if ($('#email_id').val() != '') {
				showdiv();
				$.ajax({
					url: CONTEXT_PATH + '/f010001/T003',
					type: 'post',
					data: {
						phone_number:$('#email_id').val()
					},
					success: function (result) {
						hidediv();
						var data_s=60;
						if('0' == result){
							alert('发送失败');
						} else {
							$('#yfcode').removeClass('dispaly_none');
							setInterval(function(){
								if(data_s > 0) {
									$(_this).val('重发验证（' + data_s + ')');
									$(_this).attr('disabled','true');
								} else {
									$(_this).val('发送验证码');
									$(_this).removeAttr('disabled');
									
								}
								data_s-=1; 
							}, 1000);
						}
					},
					error: function (res, textStaus) {
						hidediv();
					},
				});
			}
		}
		// 注册按钮押下
		function amtf_regist(){
			if ($("#amtf_form_register").valid()) {
				if ($('#mailcode').val() == '') {
					
				} else {
					amtf_submit(amtf_form_register , '/f010001/T002');
				}
			}
		}
		// 保存账户密码的Check
		function amtf_registerCheck(_this) {
			if($('#registercheck').is(':checked')) {
				$('#registercheck').removeAttr('checked');
			} else {
				$('#registercheck').prop("checked",true);
			}
		}
		// 解锁
		function amtf_setlock() {
			amtf_submit(amtf_formlock , '/f010001/T001');
		}
		</script>
	</head>
	<body class="off-canvas-sidebar">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
			<div class="container">
				<div class="navbar-wrapper">
					<a class="navbar-brand" href="javascript:;" id="logintext">登录 页面</a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false"
				 aria-label="Toggle navigation">
					<span class="sr-only">切换 导航</span>
					<span class="navbar-toggler-icon icon-bar"></span>
					<span class="navbar-toggler-icon icon-bar"></span>
					<span class="navbar-toggler-icon icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link loginhead" data-toggle="collapse" href="#pricing" onclick="amtf_loginhead(this)">
								<i class="material-icons">dashboard</i>
								产品介绍
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link loginhead" data-toggle="collapse" href="#userregister" onclick="amtf_loginhead(this)" id="userregister_id">
								<i class="material-icons">person_add</i>
								注冊
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link loginhead" data-toggle="collapse" href="#userlogin" id="userlogin_id" onclick="amtf_loginhead(this)">
								<i class="material-icons">fingerprint</i>
								登录
							</a>
						</li>
						<li class="nav-item" th:if="${f010001Params.logInFo != null}">
							<a href="#locking" class="nav-link loginhead" onclick="amtf_loginhead(this)" id="lockingid">
								<i class="material-icons">lock_open</i>
								锁定
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->
		<div class="wrapper wrapper-full-page">
			<div class="page-header login-page header-filter" filter-color="black" id="login_image" style="background-image: url('/amtf/img/login.jpg'); background-size: cover; background-position: top center;">
				<!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
				<div class="collapse" data-toggle="collapse" id="pricing">
					<div class="row">
						<div class="col-md-6 ml-auto mr-auto text-center">
							<h2 class="title">独具匠心</h2>
							<h5 class="description">每个功能都为您贴心打造。</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="card card-pricing card-plain">
								<h6 class="card-category"> 上网追剧</h6>
								<div class="card-body">
									<div class="card-icon icon-white ">
										<i class="material-icons">weekend</i>
									</div>
									<h3 class="card-title">免费</h3>
									<p class="card-description">你想看的我们这里都有!</p>
								</div>
								<div class="card-footer justify-content-center ">
									<a href="#" onclick="amtf_loginhead($('#userlogin_id'))" class="btn btn-round btn-white">就是他了</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="card card-pricing ">
								<h6 class="card-category"> 在家办公</h6>
								<div class="card-body">
									<div class="card-icon icon-rose ">
										<i class="material-icons">home</i>
									</div>
									<h3 class="card-title">轻松</h3>
									<p class="card-description">更好的环境搭配更美的你!</p>
								</div>
								<div class="card-footer justify-content-center ">
									<a href="#" onclick="amtf_loginhead($('#userlogin_id'))" class="btn btn-round btn-rose">就是他了</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="card card-pricing card-plain">
								<h6 class="card-category">公司上班</h6>
								<div class="card-body">
									<div class="card-icon icon-white ">
										<i class="material-icons">business</i>
									</div>
									<h3 class="card-title">愉快</h3>
									<p class="card-description">我们的产品可以让你效率更快!</p>
								</div>
								<div class="card-footer justify-content-center ">
									<a href="#" onclick="amtf_loginhead($('#userlogin_id'))" class="btn btn-round btn-white">就是他了</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="card card-pricing card-plain">
								<h6 class="card-category"> 线上付款</h6>
								<div class="card-body">
									<div class="card-icon icon-white ">
										<i class="material-icons">account_balance</i>
									</div>
									<h3 class="card-title">省事</h3>
									<p class="card-description">让你的资金更安全!</p>
								</div>
								<div class="card-footer justify-content-center ">
									<a href="#" onclick="amtf_loginhead($('#userlogin_id'))" class="btn btn-round btn-white">就是他了</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container" data-toggle="collapse" id="userlogin">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
							<i-form class="" th:action="@{/f010001}" method="post" id="amtf_form">
							<input type="hidden" name="IViewId" value="f010001"/>
								<div class="card card-login card-hidden">
									<div class="card-header card-header-rose text-center">
										<h3 class="card-title">登录</h3>
										<div class="social-line">
											<a href="#pablo" class="btn btn-just-icon btn-link btn-white">
												<i class="fa fa-wechat"></i>
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-link btn-white">
												<i class="fa fa-qq">
												</i>
											</a>
											<a href="#pablo" class="btn btn-just-icon btn-link btn-white">
												<i class="fa fa-weibo"></i>
											</a>
										</div>
									</div>
									<div class="card-body ">
										<p class="card-description text-center">其他方式登录</p>
										<p class="card-description text-center" style="color:red;" id="errlist"></p>
										<span class="bmd-form-group">
											<div class="form-group col-md-12 d-flex">
												<div class="cl-1">
													<span class="input-group-text">
														<i class="material-icons">face</i>
													</span>
												</div>
												<div class="col-md-12">
													<input type="text" class="form-control" placeholder="请输入用户名..." required="true" name="user_account" autofocus="autofocus" id="username" th:value="${f010001Params.user_account}">
												</div>
											</div>
										</span>
										<!-- <span class="bmd-form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text">
														<i class="material-icons">email</i>
													</span>
												</div>
												<input type="email" class="form-control" placeholder="请输入邮箱地址...">
											</div>
										</span> -->
										<span class="bmd-form-group">
											<div class="form-group col-md-12 d-flex">
												<div class="cl-1">
													<span class="input-group-text">
														<i class="material-icons pointer" onclick="lookpwd(this)">lock_outline</i>
													</span>
												</div>
												<div class="col-md-12">
													<input type="password" class="form-control" placeholder="请输入密码..." equalTo="#userpassword" required="true" name="user_password" maxlength="8" id="userpassword" th:value="${f010001Params.user_password}">
												</div>
											</div>
										</span>
										<div class="form-check">
											<label class="form-check-label ml-4 mt-3" onclick="amtf_registerCheck()">
												<input class="form-check-input" type="checkbox" checked id="registercheck">
												<span class="form-check-sign">
													<span class="check"></span>
												</span>
												保存账户密码
											</label>
										</div>
									</div>
									<div class="card-footer justify-content-center">
										<button type="submit" class="btn btn-rose btn-link btn-lg" onclick="amtf_login()">登录</button>
									</div>
								</div>
							</i-form>
						</div>
					</div>
				</div>
				<div class="collapse" data-toggle="collapse" id="userregister">
					<i-form class="" th:action="@{/f010001}" method="post" id="amtf_form_register">
					<input type="hidden" name="IViewId" value="f010001"/>
						<div class="row">
							<div class="col-md-10 ml-auto mr-auto">
								<div class="card card-signup">
									<h2 class="card-title text-center">注册</h2>
									<div class="card-body">
										<div class="row">
											<div class="col-md-5 ml-auto">
												<div class="info info-horizontal padding-15">
													<div class="icon icon-rose">
														<i class="material-icons">timeline</i>
													</div>
													<div class="description">
														<h4 class="info-title">提升</h4>
														<p class="description">
															我们已经创建了该网站。希望有更多志同道合的朋友来合作。
														</p>
													</div>
												</div>
												<div class="info info-horizontal padding-15">
													<div class="icon icon-primary">
														<i class="material-icons">code</i>
													</div>
													<div class="description">
														<h4 class="info-title">通用页面</h4>
														<p class="description">
															我们完善了页面，用户可以在手机和电脑上访问。
														</p>
													</div>
												</div>
												<div class="info info-horizontal padding-15">
													<div class="icon icon-info">
														<i class="material-icons">group</i>
													</div>
													<div class="description">
														<h4 class="info-title">用户</h4>
														<p class="description">
															每一个用户都有不同的体验。
														</p>
													</div>
												</div>
											</div>
											<div class="col-md-5 mr-auto">
												<div class="social text-center">
													<a href="#pablo" class="btn btn-just-icon btn-round btn-twitter">
														<i class="fa fa-wechat"></i>
													</a>
													<a href="#pablo" class="btn btn-just-icon btn-round btn-facebook">
														<i class="fa fa-qq"></i>
													</a>
													<a href="#pablo" class="btn btn-just-icon btn-round btn-dribbble" >
														<i class="fa fa-weibo"></i>
													</a>
													<h4 class="mt-3"> 第三方登录 </h4>
												</div>
												<div class="form-group has-default">
													<div class="form-group col-12 d-flex" style="padding-left: 0px;">
														<div class="col-1">
															<span class="input-group-text">
																<i class="material-icons">face</i>
															</span>
														</div>
														<div class="col-md-12">
															<input type="text" class="form-control" placeholder="用户名..." name="regist_user_name" required="true" th:value="${f010001Params.regist_user_name}">
														</div>
													</div>
												</div>
												<div class="form-group has-default">
													<div class="form-group col-12 d-flex" style="padding-left: 0px;">
														<div class="col-1">
															<span class="input-group-text">
																<i class="material-icons">mail</i>
															</span>
														</div>
														<div class="col-md-12 d-flex">
															<div class="col-md-8" style="padding-left: 0px;padding-right: 0px;">
																<input type="text" class="form-control col-md-12" placeholder="邮箱..." id="email_id" name="regist_user_email" email="true" required="true" th:value="${f010001Params.regist_user_email}">
															</div>
															<div class="col-md-4" style="padding-left: 0px;padding-right: 0px;">
																<input type="button" class="btn btn-link form-control col-md-12" style="height:31px;" value="发送验证码" onclick="amtf_submitYFCode(this)">
															</div>
														</div>
													</div>
												</div>
												<div class="form-group has-default dispaly_none" id="yfcode">
													<div class="form-group col-12 d-flex" style="padding-left: 0px;">
														<div class="col-1">
															<span class="input-group-text">
																<i class="material-icons">mail</i>
															</span>
														</div>
														<div class="col-md-12">
															<input type="text" class="form-control" placeholder="验证码..." id="mailcode" name="verifyCode" number="true" required="true">
														</div>
													</div>
												</div>
												<div class="form-group has-default">
													<div class="form-group col-12 d-flex" style="padding-left: 0px;">
														<div class="col-1">
															<span class="input-group-text">
																<i class="material-icons">lock_outline</i>
															</span>
														</div>
														<div class="col-md-12">
															<input type="password" placeholder="密码..." class="form-control" name="regist_user_password" required="true" th:value="${f010001Params.regist_user_password}">
														</div>
													</div>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" value="" checked>
															<span class="form-check-sign">
																<span class="check"></span>
															</span>
															我同意
															<a href="#something">条款和条件</a>.
													</label>
												</div>
												<div class="text-center">
													<a href="#pablo" class="btn btn-primary btn-round mt-4" onclick="amtf_regist()">开始使用</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</i-form>
				</div>
				<div class="collapse" data-toggle="collapse" id="locking" th:if="${f010001Params.logInFo != null}">
					<i-form class="" th:action="@{/f010001}" method="post" id="amtf_formlock">
					<div class="row">
						<div class="col-md-4 ml-auto mr-auto">
							<div class="card card-profile text-center card-hidden">
								<div class="card-header ">
									<div class="card-avatar">
										<a href="#pablo">
											<img th:src="@{/imgs/userimg.jpg}" th:if="${f010001Params.logInFo.imgpath == ''}" id="img1"/>
											<img th:src="@{/istatic/{fileNmame}(fileNmame=${f010001Params.logInFo.imgpath})}" th:if="${f010001Params.logInFo.imgpath != ''}" id="img1"/>
										</a>
									</div>
								</div>
								<div class="card-body ">
									<h4 class="card-title">[[${f010001Params.logInFo.user_account}]]</h4>
									<input type="hidden" name="user_account" th:value="${f010001Params.logInFo.user_account}"/>
									<input type="hidden" name="locking" th:value="${f010001Params.locking}"/>
									<div class="form-group">
										<!-- <label for="exampleInput1" class="bmd-label-floating">输入 密码</label> -->
										<input type="password" class="form-control" id="exampleInput1" placeholder="输入 密码..." name="user_password">
									</div>
								</div>
								<div class="card-footer justify-content-center">
									<a href="#pablo" class="btn btn-rose btn-round" onclick="amtf_setlock()">解锁</a>
								</div>
							</div>
						</div>
					</div>
					</i-form>
				</div>
				<footer class="footer">
					<div class="container">
						<nav class="float-left">
							<ul>
								<li>
									<a href="#">
										加入我们
									</a>
								</li>
								<li>
									<a href="#">
										关于我们
									</a>
								</li>
								<li>
									<a href="#">
										博客
									</a>
								</li>
								<li>
									<a href="#">
										许可证
									</a>
								</li>
							</ul>
						</nav>
						<div class="copyright float-right">
							&copy;
							<script>
								document.write(new Date().getFullYear())
							</script>
							<a href="#" target="_blank">, 王意鑫</a>
							<i class="material-icons">制作</i>的网站
						</div>
					</div>
				</footer>
			</div>
		</div>
		<script>
			$(document).ready(function() {
				md.checkFullPageBackgroundImage();
				setTimeout(function() {
					// after 1000 ms we add the class animated to the login/register card
					$('.card').removeClass('card-hidden');
				}, 700);
			});
		</script>
	</body>
</html>