<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="mynavbar">
		<head>
		<meta charset="UTF-8">
		<style type="text/css">
			
		</style>
		<script type="text/javascript">
		// 导航栏页面跳转
		function amtf_skip(ulid, liid) {
			var path = $('#ul' + ulid + '_li' + liid).val();
			if (path == 'f020001') {
				loginshowdiv();
				amtf_submit(amtf_form, '/' + path);
			} else {

			}
		}
		// 相同class点击后颜色变化
		function amtf_setColor(_this) {
			$('.coloritme').each(function() {
				$(this).removeClass('active');
				$(this).find('a').eq(0).css('background-color', '');
			});
			$(_this).addClass('active');
			$(_this).find('a').eq(0).css('background-color', '#e91e63');
		}

	/* 	// 登陆页面head选中样式变换
		function amtf_loginhead(_this) {
			$('.dashboardclass').each(function() {
				$(this).css('display', 'none');
				$(this).removeClass('show');
				$(this).removeClass('collapse');
			});
			var _href = $(_this).attr('href');
			_href = _href.replace('#', '');
			$('#' + _href).css('display', 'block');
			$('#' + _href).removeClass('dispaly_none');
			$('#' + _href).removeClass('collapsing');
			$('#' + _href).removeClass('collapse');
			$('#' + _href).addClass('show');
		} */
		// 登陆页面head选中样式变换
		function amtf_loginhead(_this) {
			amtf_submit(amtf_formmain, '/f010003');
		}
		</script>
		</head>
		<body>
			<div class="sidebar" data-color="rose" data-background-color="black" th:data-image="@{/img/sidebar-1.jpg}">
				<div class="logo">
					<a href="#" class="simple-text logo-mini"> AM </a>
					<a href="#" class="simple-text logo-normal"> Alma life system </a>
				</div>
				<div class="sidebar-wrapper" id="wrapperid">
					<div class="user">
						<div class="photo">
							<img th:src="@{/imgs/userimg.jpg}" th:if="${main_params.logInFo.imgpath == ''}" id="img1" style="height:34px;"/>
							<img th:src="@{/istatic/{fileNmame}(fileNmame=${main_params.logInFo.imgpath})}" th:if="${main_params.logInFo.imgpath != ''}" id="img1" style="height:34px;"/>
						</div>
						<div class="user-info">
							<a data-toggle="collapse" href="#collapseExample" class="username" style="height:30px;">
								<span>
									[[${main_params.logInFo.user_name}]]
									<b class="caret"></b>
								</span>
							</a>
							<div class="collapse" id="collapseExample">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link" href="#f010003" onclick="amtf_loginhead(this)">
											<span class="sidebar-mini"> 个人 </span>
											<span class="sidebar-normal"> 个人资料 </span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">
											<span class="sidebar-mini"> 文件 </span>
											<span class="sidebar-normal"> 配置文件 </span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#usersetup" onclick="amtf_loginhead(this)">
											<span class="sidebar-mini"> 设置 </span>
											<span class="sidebar-normal"> 设置 </span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav">
						<li class="nav-item active coloritme" onclick="amtf_setColor(this)">
							<a class="nav-link" href="#main" onclick="amtf_loginhead(this)" title="主页面">
								<i class="material-icons">dashboard</i>
								<p>主页面</p>
							</a>
						</li>
						<li class="nav-item coloritme" onclick="amtf_setColor(this)" th:each="mapkey,idx:${main_params.navigation_bar}">
							<a class="nav-link" data-toggle="collapse" th:href="${'#pagesExamples' + idx.index}" th:title="${mapkey.key}">
								<i th:class="${'fa ' + mapkey.value.get(0).power_class}"></i>
								<p>
									[[${mapkey.key}]] <b class="caret"></b>
								</p>
							</a>
							<div class="collapse" th:id="${'pagesExamples' + idx.index}">
								<ul class="nav">
									<li th:each="fileInfo,idxs: ${mapkey.value}" class="nav-item" th:attr="onclick='amtf_skip('+ ${idx.index} + ',' + ${idxs.index} +');'" th:title="${fileInfo.power_name}">
										<input type="hidden" th:id="${'ul' + idx.index + '_li' + idxs.index}" th:value="${fileInfo.power_path}"/>
										<a class="nav-link" th:href="${'#' + fileInfo.power_path}" onclick="amtf_loginhead(this)">
											<span class="sidebar-mini"> [[${fileInfo.power_short}]] </span>
											<span class="sidebar-normal"> [[${fileInfo.power_name}]] </span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</body>
	</th:block>
</html>
