<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新闻画面</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	.wrapper{
	}
	.head{
		margin: 40px 40px;
		width: 80%;
		height: 20%;
		background-color:white;
		border: 1px solid #E0E0E0;
	}
	.a{
		position: relative;
		margin: 0px 40px;
		width: 90%;
		height: 50%;
		background-color:white;
	}

</style>
<script type="text/javascript">
	//是否有新闻
	// function(have){
	// 	if(have == 0){
	// 		setCodeSuccess('没有相关数据！');
	// 	}else{
	// 	}
	// }
</script>
</head>
<body>
	<div class="wrapper">
		<!--<th:block th:replace="navbar :: mynavbar"></th:block>-->
		<div class="">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!-- 新闻 -->
				<div class="container-fluid dashboardclass" id="f050001">
					<div class="head">
						<a style="margin-left:12px">新闻快讯</a><input style="margin-left:64%"></input><button class="btn btn-default">搜索</button>
						<table class="a">
							<tr id="01">
								<td class="text-left" id="11"></td>
								<td class="text-right" id="12"></td>
							</tr>
							<tr id="02">
								<td class="text-left" id="21"></td>
								<td class="text-right" id="22"></td>
							</tr>
							<tr id="03">
								<td class="text-left" id="31"></td>
								<td class="text-right" id="32"></td>
							</tr>
							<tr id="04">
								<td class="text-left" id="41"></td>
								<td class="text-right" id="42"></td>
							</tr>
							<tr id="05">
								<td class="text-left" id="51"></td>
								<td class="text-right" id="52"></td>
							</tr>
							<tr id="06">
								<td class="text-left" id="61"></td>
								<td class="text-right" id="62"></td>
							</tr>
							<tr id="07">
								<td class="text-left" id="71"></td>
								<td class="text-right" id="72"></td>
							</tr>
							<tr id="08">
								<td class="text-left" id="81"></td>
								<td class="text-right" id="82"></td>
							</tr>
							<tr id="09">
								<td class="text-left" id="91"></td>
								<td class="text-right" id="92"></td>
							</tr>
							<tr id="10">
								<td class="text-left" id="101"></td>
								<td class="text-right" id="102"></td>
							</tr>
						</table>
					</div>
					<div class="container-fluid">
						<i-form class="" th:action="@{/f050001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f050001"/>
						</i-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>