<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新闻画面</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	.wrapper{
	}
	.head{
		width: 80%;
		height: 20%;
		background-color:white;
		border: 1px solid #E0E0E0;
	}
	.a{
		margin: 40px 40px;
	}
	.wenben{
		position: absolute;
		right: 0px;
	}

</style>
<script type="text/javascript">
	 //搜索指定新闻
	function amtf_news_Search(){
	 	if(document.getElementById('news_title_name').value == "") {
			Message('error', '搜索条件不能为空！');
		}else{
			amtf_submit(amtf_form, '/f050001/T001');
		}
	}
	//打開模態框
	function amtf_news_add(){
		//更根據id名打開指定模態框
		$('#news_report').modal('show');
	}
	 var editor;
	 $(function(){
		 // 注册wangEditor插件
		 var wangEditor = window.wangEditor;
		 editor = new wangEditor('#news_editor');
		 editor.config.menus = [
			 'bold', // 加粗
			 'underline',  // 下划线
			 'justify',  // 对齐方式
			 'image',  // 插入图片
		 ]
		 //创建插件
		 editor.create();
	 });
	 //新闻发布
	 function amtf_news_EditorSubmit(){
	 	//新建一个数组来接收新闻标题和新闻内容
	 	var news_add ={};
	 	//获取新闻标题
		 news_add.head = $('#report_news_head').val();
		 //获取新闻内容
		 news_add.body = editor.txt.html();
		 //新闻内容是否为空
	 	if ($('#report_news_head').val() == ""){
			Message('error', '新闻标题不能为空！');
		}else{
			$.ajax({
				url : CONTEXT_PATH + '/f050001/T002',
				type : 'post',
				dateType : 'json',
				async : false,
				contentType : "application/json",
				data : JSON.stringify(news_add),
				success : function(result) {
					if (result.insert1 >= 1) {
						Message('success', '发布成功');
						reply_editor.txt.clear();
					}else{
						Message('error', '发布失败');
					}
				},
				error : function(res, textStaus) {
					setCodeErrList("错误！！！请和管理员联系。。。");
				},
			});
		}


	 }

</script>
</head>
<body>
	<div class="wrapper">
		<!--<th:block th:replace="navbar :: mynavbar"></th:block>-->
		<div class="">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!-- 新闻 -->
				<i-form class="" th:action="@{/f050001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
				<div class="card card-profile m-1 head" id="f050001">
					<div class="col-md-12 d-flex" >
						<a class="h5">新闻快讯</a>
						<div class="wenben">
						<input name="news_title_name" id="news_title_name"></input>
						<button class="btn btn-sm" onclick="amtf_news_Search()">搜索</button>
						<button class="btn btn-sm" onclick="amtf_news_add()">新闻编辑</button>
						</div>
					</div>
					<div class="col-md-12">
						<table class="table table-striped table-hover">
							<tr>
								<td class="text-left">新闻标题</td>
								<td class="text-left">发布时间</td>
								<td>操作</td>
							</tr>
							<tr id="01" th:each="newsentity,idx:${f050001Params.news_list}">
								<td class="text-left">[[${newsentity.news_name}]]</td>
								<td class="text-left">[[${newsentity.news_date}]]</td>
								<td><button class="btn btn-sm">查看</button></td>
							</tr>
						</table>
					</div>
					<div id="news_report" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" style="max-width: 100%">
							<div class="modal-content m-auto" style="width:1000px;">
								<div class="modal-header">
									<input class="input col-sm-11" id="report_news_head" name="news_title_name" placeholder="新聞標題" required="true"/>
									<button type="button" class="close col-sm-1" data-dismiss="modal" aria-hidden="true">
										<i class="material-icons">close</i>
									</button>
								</div>
								<div class="modal-body">
									<div class="instruction">
										<div class="row">
											<div class="col-md-12">
												<div id="news_editor"></div>
											</div>
										</div>
									</div>
									<div class="instruction">
										<div class="row">
											<div class="col-md-12">
												<div class="nav-item dropdown">
													<button type="button" class="btn btn-sm btn-white" data-toggle="dropdown" id="showclass">
														<span>十 添加标签（最多3个）</span>
													</button>
													<div class="dropdown-menu">
														<div class="col-sm-12">
															<a class="btn-white" th:each="entity,idx:${f050001Params.add_news_list}" th:onclick="amtf_news_SetClass([[${entity}]])">
																[[${entity.news_class_name}]]
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer justify-content-center col-sm-12 text-right">
									<button type="button" class="btn h5 col-sm-1 ml-auto" data-dismiss="modal" aria-hidden="true">
										取消
									</button>
									<button type="button" class="btn btn-reddit h5 col-sm-1 ml-4" onclick="amtf_news_EditorSubmit()">
										确定
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="container-fluid">
						<i-form class="" th:action="@{/f050001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f050001"/>
						</i-form>
					</div>
				</div>
				</i-form>
			</div>
		</div>
	</div>
</body>
</html>