<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${f040001Params.videoView.video_head}]]</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	.img_h{
		width: 66px;
		height:51px;
		border: 2px solid rgba(0, 0, 0, 0.07);
		border-radius:20px;
	}
	.history_name{
		font-size: initial;
	}
	.history_data{
		color: rgba(0, 0, 0, 0.62);
		font-size: smaller;
	}
	.history_data:hover{
		color: #ef861a;
		font-size: smaller;
	}
	.fa_hover{
		font-size: 15px;
		color: #898989;
	}
	.fa_hover_h{
		font-size: 15px;
		color: #ff9800;
	}
	.fa_hover:hover{
		font-size: 15px;
		color: #ff9800;
	}
	.video_btn_reply{
		width: 80px;
		height: 100%;
		background-color: #ff9800;
		border: 0px;
		color: white;
	}
	.comment_reply_open{
		background-color: rgba(0,0,0,.12);
		color: #6c757d;
		font-size: 13px;
	}
	.input_search_show{
		position: absolute;
		float: left;
		background-color: white;
		width: 100%;
		z-index: 999;
		margin-top: 39px;
		font-size: 15px;
		font-style: italic;
		font-family: none;
		text-align: left;
	}
	.input_search{
		border: 0px;
		font-size: 15px;
		width: 100%;
		font-style: italic;
		font-family: none;
		border-right: 0px;
		float: left;
	}
	.input_search_div{
		border-radius: 57px;
		background-color: white;
		padding-right: 0px;
		border-right-width:1px;
	}
	.input_search_btn{
		margin-top: 0px;
		margin-bottom: 0px;
		height: 100%;
		float: right;
		border-bottom-right-radius: 17px;
		border-top-right-radius: 17px;
		border: 0px;
		width: 100%;
		color: white;
		background-color: #ff4500;
		padding-left: 0px;
		padding-right: 0px;
		font-style: initial;
	}
	.input_search_btn:hover{
		margin-top: 0px;
		margin-bottom: 0px;
		height: 100%;
		float: right;
		border-bottom-right-radius: 17px;
		border-top-right-radius: 17px;
		border: 0px;
		width: 100%;
		color: white;
		background-color: #ff0000;
		padding-left: 0px;
		padding-right: 0px;
		font-style: initial;
	}
	.history-div:hover{
		background-color: rgba(212, 212, 212, 0.42);
	}
	.video_textarea{
		border-radius:14px;
		border:0;
		background-color:#e2e2e2;
	}
	.search_list:hover{
		background-color: rgba(212, 212, 212, 0.42);
	}
</style>
<script type="text/javascript" language="javascript">
	$(function(){
		// 观看历史
		$("#askfocus_show").hide();
		$(".showhistory").hover(function(){
			$("#askfocus_show").show();
		},function(){
			$("#askfocus_show").hide();
		})

		var myPlayer = videojs(document.getElementById('example_video_1'),{
			// 语言
			language: 'zh-CN',
			// 快进
			playbackRates: [0.5, 1, 1.5, 2],
			// 自动播放
			autoplay: false,
			// 播放总长
			controlBar:{
				durationDisplay:true
			}
		})
		var isObtain = true;
		myPlayer.ready(function () {
			var myPlayer = this;
			myPlayer.play();
			//设置弹幕属性
			$("#danmu").danmu({
				/*left: $('#example_video_1').offset().left + 8,*/
				left: 15,
				top: $('#example_video_1').offset().top,
				height: $('#example_video_1').height(),//$("#my-player").height(),
				width:  $('#example_video_1').width(),
				zindex: 100,
				speed: 7500,
				opacity: 1,
				font_size_small: 16,
				font_size_big: 24,
				top_botton_danmu_time: 6000
			});
		});
		//每次播放都会进入这个函数
		myPlayer.on("play", function () {
			//设置弹幕出发的起始位置
			$("#danmu").height($('#example_video_1').offset().top);
			/*$("#danmu").width(950);*/

			//从服务器获取弹幕信息
			if(isObtain){
				//这个data是json数据，由后端的 list集合(里面的元素是每条弹幕消息)转过来的json数据
				$.get(CONTEXT_PATH + '/f040001/T004' ,{
					video_id: [[${f040001Params.videoView.video_id}]]
				}, function (data) {
					$('#danmu').danmu("addDanmu", data.barrageList);
				}, "json");
				//保证只获取一次，不会应该视频的重新播放再次去获取数据，造成弹幕重复
				isObtain = false;
			}
			//设置弹幕与视频同步
			var whereYouAt = myPlayer.currentTime();
			console.log(whereYouAt);
			$('#danmu').danmu("setTime", Math.floor(whereYouAt * 10));
			// 开启弹幕
			$('#danmu').danmu('danmuResume');
		});
		myPlayer.on("pause", function () {
			//暂停播放时，停止弹幕
			$('#danmu').danmu('danmuPause');
		});
		myPlayer.on("ended", function () {
			// 视频结束,是否还有弹幕没有显示
			if($('#danmu').data("paused")){
				// 继续显示
				$('#danmu').danmu('danmuResume');
			}
		});
		myPlayer.on("progress", function () {
			console.log("progress");
		})
	});

	function amtf_video_SearchInput() {
		var _val = $('#ipt_search').val();
		if (_val != '') {
			$('#input_search_show').remove();
			$.ajax({
				url: CONTEXT_PATH + '/f040001/T010',
				type: 'post',
				dateType: 'html',
				async: true,
				data: {
					video_head: _val,
				},
				success: function (result) {
					if (result.searchlist != '') {
						if (!$(this).next().hasClass('show')) {
							let _val = $('#ipt_search').val();
							let str = "";
							str += "<div class='input_search_show' id='input_search_show'>";
							for (let i = 0; i < result.searchlist.length; i++) {
								let _head = result.searchlist[i].video_head;
								let _addval = '<div class="hand search_list" onclick="amtf_videoView_Search(' + result.searchlist[i].video_id + ')">' + _head.replace(_val, '<span style="color:red">' + _val + '</span>') + '</div>';
								str += _addval;
							}
							str += "</div>";
							$('#ipt_search').after(str);
						}
					}
				},
				error: function (res, textStaus) {
					setCodeErrList("错误！！！请和管理员联系。。。");
				},
			});
		} else {
			$('#input_search_show').remove();
		}
	}

	// 观看视频
	function amtf_videoView(_entity) {
		var newinput = getNewInput('video_id', _entity.video_id);
		amtf_form.appendChild(newinput);
		amtf_submitNew(amtf_form, '/f040001/T002');
		reomveNewInput('video_id');
	}

	// 观看视频
	function amtf_videoView_Search(_video_id) {
		var newinput = getNewInput('video_id', _video_id);
		amtf_form.appendChild(newinput);
		amtf_submit(amtf_form, '/f040001/T002');
		reomveNewInput('video_id');
	}

	// 弹幕发言
	function amtf_video_Send() {
		var text = document.getElementById('video_text').value;
		var time = $('#danmu').data("nowTime") + 1;
		var color = "red";
		var position = "0";
		var size = "1";
		if (text != "") {
			$('#danmu').danmu("addDanmu",
					{text: text, color: color, size: size, position: position, time: time, isnew: ""});
			//将弹幕消息发送到后端，存到数据库中
			$.post(CONTEXT_PATH + '/f040001/T003', {
				video_id: [[${f040001Params.videoView.video_id}]],
				video_barrage_text: text,
				video_barrage_color: 'while',
				video_barrage_size: size,
				video_barrage_position: position,
				video_barrage_time: time
			}, function (data) {
				if(data.isbarrage <= 0){
					Message('error', '发言失败');
				}
			}, "json");
		}
		document.getElementById('video_text').value = '';
	}

	function changehide() {
		// 通过透明度控制是否显示弹幕
		if (document.getElementById("ishide").checked) {
			jQuery('#danmu').data("opacity", 1);
			jQuery(".flying").css({
				"opacity": 1
			});
		} else {
			jQuery('#danmu').data("opacity", 0);
			jQuery(".flying").css({
				"opacity": 0
			});
		}
	}

	function settime() {
		var t = document.getElementById("set_time").value;
		t = parseInt(t);
		console.log(t);
		$('#danmu').data("nowtime", t);
	}

	// 发表评论
	function amtf_video_Comment() {
		$.ajax({
			url : CONTEXT_PATH + '/f040001/T005',
			type : 'post',
			dateType : 'html',
			async : true,
			cache: false,
			data : {
				video_id: [[${f040001Params.videoView.video_id}]],
				video_comment_text : $('#video_comment_text').val()
			},
			success : function(result) {
				if(result.iscomment > 0){
					Message('success', '发表成功');
					amtf_video_CommentPublish();
					$('#video_comment_text').val('');
				} else {
					Message('error', '发表失败');
				}
			},
			error : function(res, textStaus) {
				setCodeErrList("错误！！！请和管理员联系。。。");
			},
		});
	}
	// 刷新评论
	function amtf_video_CommentPublish() {
		$.ajax({
			url : CONTEXT_PATH + '/f040001/T006',
			type : 'post',
			dateType : 'html',
			async : true,
			data : {
				video_id: [[${f040001Params.videoView.video_id}]],
			},
			success : function(result) {
				if(result != ''){
					$('#commentList').replaceWith(result);
				}
			},
			error : function(res, textStaus) {
				setCodeErrList("错误！！！请和管理员联系。。。");
			},
		});
	}

	var comment_id;
	// 回复
	function amtf_video_Reply(_this, idx) {
		$('#video_reply_text').remove();
		$('#video_reply_btn').remove();
		if($(_this).text().indexOf('收起') != -1 ){
			$('.comment_reply').text('');
			$('.comment_reply').removeClass('fa_hover_h');
			$('.comment_reply').addClass('fa_hover');
			$('.comment_reply').append('<i class="fa fa-comment" aria-hidden="true"></i>回复');
		} else {
			$('.comment_reply').text('');
			$('.comment_reply').removeClass('fa_hover_h');
			$('.comment_reply').addClass('fa_hover');
			$('.comment_reply').append('<i class="fa fa-comment" aria-hidden="true"></i>回复');
			let str = '';
			str += '<div class="d-flex col-12 pl-0">' +
					'<div class="col-11 pl-0 pr-0">' +
					'<textarea id="video_reply_text" type="text" class="input-field w-100 h-100 video_textarea"></textarea>' +
					'</div>';
			str += '<div class="col-1 pl-0">' +
					'<button id="video_reply_btn" class="video_btn_reply text-center">回复</button>' +
					'</div>' +
					'</div>';
			$(_this).after(str);
			$(_this).text('');
			$(_this).removeClass('fa_hover');
			$(_this).addClass('fa_hover_h');
			$(_this).append('<i class="fa fa-comment" aria-hidden="true"></i>收起');
			$('#video_reply_text').focus();
			comment_id = idx;
			$('#video_reply_btn').click(function(){
				$.ajax({
					url : CONTEXT_PATH + '/f040001/T007',
					type : 'post',
					dateType : 'html',
					async : true,
					cache: false,
					data : {
						video_id: [[${f040001Params.videoView.video_id}]],
						video_comment_id: comment_id,
						video_comment_reply_text : $('#video_reply_text').val()
					},
					success : function(result) {
						if(result.isrcommentreply > 0){
							Message('success', '回复成功');
							$('#video_reply_text').remove();
							$('#video_reply_btn').remove();
							$('.comment_reply').text('');
							$('.comment_reply').removeClass('fa_hover_h');
							$('.comment_reply').addClass('fa_hover');
							$('.comment_reply').append('<i class="fa fa-comment" aria-hidden="true"></i>回复');
							amtf_video_CommentPublish();
						} else {
							Message('error', '回复失败');
						}
					},
					error : function(res, textStaus) {
						setCodeErrList("错误！！！请和管理员联系。。。");
					},
				});
			});
		}
	}

	// 展开回复
	function amtf_video_CommentOpen(_this, _id) {
		$.ajax({
			url : CONTEXT_PATH + '/f040001/T008',
			type : 'post',
			dateType : 'html',
			async : true,
			data : {
				video_id: [[${f040001Params.videoView.video_id}]],
				video_comment_id: _id,
			},
			success : function(result) {
				if(result.replylist != ''){
					$(_this).text('');
					let src = '<div id="comment_reply_id'+ _id +'">' +
								'<div class="comment_reply_open">';
							src += '<span>更多回复>>></span><br>';
							for (let i = 0;i < result.replylist.length; i++){
								src += '<div class="mt-1" style="border-bottom: 1px solid #898989">' +
											'<span>' + result.replylist[i].user_name + ':</span>' +
											'<span class="ml-2">' + result.replylist[i].video_comment_reply_text + '</span>' +
											'<br>' +
											'<span>赞-回复-' + result.replylist[i].nowtime + '</span>' +
										'</div>';
							}
					src += '</div>';
					src += '<div class="col-1 m-auto hand" onclick="amtf_video_CommentClose(' + _id + ')">收起回复</div></div>';
					$(_this).after(src);
				}
			},
			error : function(res, textStaus) {
				setCodeErrList("错误！！！请和管理员联系。。。");
			},
		});
	}

	// 关闭回复
	function amtf_video_CommentClose(_id) {
		$('#comment_reply_id' + _id).remove();
		$('#comment_reply_open' + _id).text('展开回复>');
	}

	// 点赞
	function amtf_comment_Praise(_commentid, _idx) {
		$.ajax({
			url : CONTEXT_PATH + '/f040001/T009',
			type : 'post',
			dateType : 'html',
			async : true,
			data : {
				video_id: [[${f040001Params.videoView.video_id}]],
				video_comment_id: _commentid,
			},
			success : function(result) {
				if(result.ispraise == 1){
					let sumpraise =  $('#comment_praise' + _idx).text() == 1 ? '' :parseInt($('#comment_praise' + _idx).text()) - 1
					$('#comment_praise' + _idx).text(sumpraise);
					$('#praise_click' + _idx).removeClass('fa_hover_h');
					$('#praise_click' + _idx).addClass('fa_hover');
				} else if(result.ispraise == 2) {
					let sumpraise = ($('#comment_praise' + _idx).text() == '' ? 0 : parseInt($('#comment_praise' + _idx).text())) + 1
					$('#comment_praise' + _idx).text(sumpraise);
					$('#praise_click' + _idx).removeClass('fa_hover');
					$('#praise_click' + _idx).addClass('fa_hover_h');
				}
			},
			error : function(res, textStaus) {
				setCodeErrList("错误！！！请和管理员联系。。。");
			},
		});
	}
</script>
</head>
<body id="main_body">
	<div class="wrapper">
		<!--<th:block th:replace="navbar :: mynavbar"></th:block>-->
		<div class="">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!--视频 -->
				<div class="container-fluid dashboardclass" id="f040001">
					<div class="container-fluid">
						<i-form class="" th:action="@{/f040001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f040001"/>
							<div class="row m-auto col-md-12">
								<div class="col-md-12 pl-0 pr-0">
									<div class="col-md-12">
										<div class="col-md-12 d-flex">
											<div class="text-center col-md-9 h3 mt-1 text-left font-weight-bold">
												<div class="input-group col-md-4 m-auto d-flex input_search_div">
													<div class="col-10 pr-0 pl-0">
														<input type="text" id="ipt_search" class="input_search" autocomplete="off" placeholder="搜索视频" oninput="amtf_video_SearchInput()">
													</div>
													<div class="col-2 pl-0 pr-0">
														<button class="btn-sm btn-reddit input_search_btn hand">
															搜索
														</button>
													</div>
												</div>
											</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="showhistory" id="askfocus">
														<button type="button" class="btn btn-sm btn-reddit">
															<i class="fa fa-history"></i>
															<span>观看历史</span>
														</button>
													</div>
													<div class="pt-0 hand showhistory" style="width: 310px;position: absolute;z-index: 999;margin-top:40px;background-color: white;box-shadow:rgba(108, 117, 125, 0.35) 0px 2px 0px;border-radius:3px" id="askfocus_show">
														<div class="ml-1 mb-1 mt-1 d-flex history-div" th:each="entity,idx:${f040001Params.videohistory}"  th:onclick="amtf_videoView([[${entity}]])">
															<div>
																<img th:src="@{/videoimg/{fileNmame}(fileNmame=${entity.video_img})}" class="hand" style="height: 80px;width: 140px;"/>
															</div>
															<div style="height: 80px;width: 160px;">
																<span class="h5 history_data" >[[${entity.video_head}]]</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="m-auto col-12">
												<!--显示弹幕-->
												<div id="danmu" class="flying" style="pointer-events:none;"></div>
												<video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered col-md-12" controls preload="none" style="height: 600px"
													   th:poster="@{/videoimg/{videoimg}(videoimg = ${f040001Params.videoView.video_img})}"
													   data-setup="{}">
													<source th:src="@{/videocommit/{videopath}(videopath = ${f040001Params.videoView.video_path})}"/>
												</video>
												<div class="d-flex col-md-12 mt-2 ml-0 mr-0 p-0">
													<div class="col-md-11 pr-0 mr-0 pl-0">
														<textarea id="video_text" type="text" class="input-field w-100 h-100 video_textarea" placeholder="发条弹幕。。。"></textarea>
													</div>
													<div class="col-md-1">
														<button class="btn btn-lg m-0 btn-info w-100" onclick="amtf_video_Send()">发表</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 pl-0 pr-0">
											<div class="card card-profile m-1">
												<div class="col-md-12 d-flex mt-3">
													<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
														<p class="text-left">[[${f040001Params.videoView.video_head}]]</p>
														<div class="col-12 pl-0 d-flex">
															<div>
																<img th:src="@{/imgs/userimg.jpg}" th:if="${f040001Params.videoAuthor.imgpath == ''}" id="img1" style="height:38px;"/>
																<img th:src="@{/istatic/{fileNmame}(fileNmame=${f040001Params.videoAuthor.imgpath})}" th:if="${f040001Params.videoAuthor.imgpath != ''}" id="img1" style="height:38px;"/>
																<span class="h5">[[${f040001Params.videoAuthor.user_name}]]</span>
															</div>
														</div>
														<div class="col-12 pl-0 d-flex">
															<span class="h4">简介：</span><p class="h5">[[${f040001Params.videoView.video_text}]]</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 pl-0 pr-0" >
											<div class="card card-profile m-1">
												<div class="col-md-12 d-flex mt-3">
													<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
														<p class="text-left">为你推荐</p>
														<div class="col-12 pl-0 d-flex">
															<div class="pl-0 pr-3" th:each="entity,idx:${f040001Params.videoSimilar}" style="width: 220px;">
																<img th:src="@{/videoimg/{fileNmame}(fileNmame=${entity.video_img})}" class="img-transform hand" style="height: 265px;width: 200px;" th:onclick="amtf_videoView([[${entity}]])"/>
																<span class="h5">[[${entity.video_head}]]</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 pl-0 pr-0" >
											<div class="card card-profile m-1">
												<div class="col-md-12 d-flex mt-3">
													<div class="col-md-12 h3 mt-1 text-left font-weight-bold">
														<p class="text-left">评论</p>
														<div class="col-12 pl-0 h5 d-flex">
															<div class="col-md-11 pr-0 mr-0">
																<textarea id="video_comment_text" type="text" class="input-field w-100 h-100 video_textarea" placeholder="请写下你的评论。。。"></textarea>
															</div>
															<div class="col-md-1">
																<button class="btn btn-lg m-0 btn-info" onclick="amtf_video_Comment()">发布评论</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 pl-0 pr-0" >
											<div class="card card-profile m-1">
												<div class="col-md-12 d-flex mt-3">
													<div class="col-md-12 h3 mt-1 text-left font-weight-bold">
														<p class="text-left">全部评论</p>
														<div class="col-12 pl-0 h5" id="commentList" th:fragment="commentList">
															<div class="mb-2 col-12" th:if="${#lists.isEmpty(f040001Params.commentList)}">
																暂无评论。。。
															</div>
															<div th:each="entity,idx:${f040001Params.commentList}" class="d-flex mb-2 col-12" style="border-bottom: 2px solid rgba(0, 0, 0, 0.08)">
																<div class="">
																	<img th:src="@{/imgs/userimg.jpg}" th:if="${entity.user_img == ''}" class="img_h"/>
																	<img th:src="@{/istatic/{fileNmame}(fileNmame=${entity.user_img})}" class="img_h" th:if="${entity.user_img != ''}"/>
																</div>
																<div class="col-10 mt-2">
																	<span class="history_name">[[${entity.user_name}]]</span>
																	<span class="ml-1 history_data">[[${entity.nowtime}]]</span>
																	<input type="hidden" th:value="${entity.video_comment_id}" th:id="${'video_comment_id' + idx.index}"/>
																	<div class="mt-2">
																		<span>[[${entity.video_comment_text}]]</span>
																	</div>
																	<div class="mt-2">
																		<span class="hand" th:id="${'comment_reply_open' + idx.index}" th:onclick="amtf_video_CommentOpen(this,[[${entity.video_comment_id}]])">
																			展开回复>
																		</span>
																	</div>
																	<div class="mt-2">
																		<span class="hand" th:classappend="${entity.ispraise == '1' ? 'fa_hover_h' : 'fa_hover'}" th:id="${'praise_click' + idx.index}" th:onclick="amtf_comment_Praise([[${entity.video_comment_id}]],[[${idx.index}]])">
																			<i class="fa fa-thumbs-up" aria-hidden="true"></i>
																			赞<span th:id="${'comment_praise' + idx.index}">[[${entity.sumpraise}]]</span>
																		</span>
																		<span class="ml-2 fa_hover hand comment_reply" th:onclick="amtf_video_Reply(this,[[${entity.video_comment_id}]])">
																			<i class="fa fa-comment" aria-hidden="true"></i>
																			回复
																		</span><br>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</i-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>