<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>观看视频</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	.swiper-container {
	//你可以在这里设置宽高
	width: 50%;
		height: 50%;
	}
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		/* Center slide text vertically */
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.video_class:hover{
		color: #ff4040c9;
	}
	.modal input[type=text],.video_textarea {
		border: 1px solid #afafaf26;
	}
	.modal input[type=text]:focus,.video_textarea:focus {
		border: 1px solid #ff4040c9;
	}
	#video_list img:hover{
		/*放大*/
		transform: scale(1.1);
	}
</style>
<script type="text/javascript" language="javascript">
	function amtf_fileVideo(_this) {
		$('#commitvideodiv').addClass('d-none');
		$('#lookvideodiv').removeClass('d-none');
		$('#modal_btn').removeClass('d-none');
		//获取视频途径
		let objUrl = getObjectURL($(_this)[0].files[0]);
		//判断是否存在
		if (objUrl) {
			$("#lookvideo").attr("src", objUrl);
			$("#lookvideo").show();
			$('#lookvideodiv').removeClass('d-none');
			$('#commitvideodiv').addClass('d-none');
			$('#video_head').val($(_this)[0].files[0].name.substring(0,$(_this)[0].files[0].name.indexOf('.')));
			$('#video_head').focus();
			$('#modal_btn').removeClass('d-none');
			getVideoBase64();
		}
	}
	$(function(){
		$('#upimgfile').change(function(){
			//获取视频途径
			let objUrl = getObjectURL(this.files[0]);
			if (objUrl) {
				$("#lookvideo").addClass('d-none');
				$('#video_upimg').removeClass('d-none');
				$("#video_upimg").attr("src", objUrl);
			}
		});
	})

	function getVideoBase64() {
		return new Promise(function (resolve, reject) {
			let dataURL = '';
			let video = document.getElementById('lookvideo');
			video.addEventListener('loadeddata', function () {
				let canvas = document.createElement("canvas"),
						width = video.videoWidth, //canvas的尺寸和图片一样
						height = video.videoHeight;
				canvas.width = width;
				canvas.height = height;
				//绘制canvas
				canvas.getContext("2d").drawImage(video, 0, 0, width, height);
				//转换为base64
				dataURL = canvas.toDataURL('image/jpeg');
				let img = document.createElement('img');
				img.src = dataURL;
				img.id = 'commit_video_img';
				img.style = 'display:none';
				document.getElementById('main_body').appendChild(img);
				resolve(dataURL);
			});
		})
	}
	// 上传
	function amtf_video_Commit () {
		let formData = new FormData($('#amtf_form')[0]);
		formData.append("commit_video", $('#file0')[0].files[0]);
		let duration = document.getElementById("lookvideo").duration;
		let hour = parseInt((duration)/3600) == 0 ? '' : parseInt((duration)/3600) + "小时" ;
		let minute = parseInt((duration%3600)/60) == 0 ? '' : parseInt((duration%3600)/60) + "分";
		let second = Math.ceil(duration%60)  == 0 ? '' : Math.ceil(duration%60) + "秒";
		formData.append("video_duration", hour  + minute  + second );
		formData.append('video_head',$('#video_head').val());
		formData.append('video_body',$('#video_body').val());
		if(!$('#video_upimg').hasClass('d-none')){
			let file2 = $('#upimgfile')[0].files[0];
			formData.append('video_upimg',file2);
		}
		let file1 = $('#commit_video_img').prop('src');
		formData.append('video_img',file1);
		$.ajax({
			url : CONTEXT_PATH + '/f040001/T001',
			type : 'post',
			dateType : 'html',
			async : true,
			cache: false,
			processData : false, // 用于对data参数进行序列化处理
			contentType : false, // 不要设置Content-Type请求头
			data : formData,
			success : function(result) {
				if(result.video_commit > 0){
					Message('success', '上传成功');
					$('#video_report').modal('hide');
					amtf_video_Return();
				} else {
					Message('error', '上传失败');
				}
			},
			error : function(res, textStaus) {
				setCodeErrList("错误！！！请和管理员联系。。。");
			},
		});
	}
	// 返回
	function amtf_video_Return(){
		$('#commitvideodiv').removeClass('d-none');
		$('#lookvideodiv').addClass('d-none');
		$('#modal_btn').addClass('d-none');
		$("#lookvideo").attr("src", '');
		$('#file0').val('');
		$('#file0')[0].files[0] = '';
		var test = document.getElementById('file0');
		if (test.outerHTML) {
			test.outerHTML = test.outerHTML;
		} else { // FF(包括3.5)
			test.value = "";
		}
	}
	// 打开模态框
	function amtf_video_Ask(){
		$('#video_report').modal('show');
	}
	// 选择上传标签
	function amtf_vider_GetClass(_this) {
		let _headval = $('#video_head').val();
		let _thisval = '#' + $(_this).text().replace(/(^\s*)|(\s*$)/g, "") + '#';
		if(_headval.indexOf(_thisval) == -1){
			$('#video_head').val(_headval + _thisval);
		}
	}
	$(function(){
		// 滑动图片
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			centeredSlides: true,
			autoplay: {
				delay: 2500,
				disableOnInteraction: false,
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});
	})
	// 修改封面
	function amtf_upVideoImg() {


	}
	// 观看视频
	function amtf_videoView(_entity) {
		var newinput = getNewInput('video_id', _entity.video_id);
		amtf_form.appendChild(newinput);
		amtf_submitNew(amtf_form, '/f040001/T002');
		reomveNewInput('video_id');
	}
</script>
</head>
<body id="main_body">
	<div class="wrapper">
		<!--<th:block th:replace="navbar :: mynavbar"></th:block>-->
		<div class="">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!--视频 -->
				<div class="container-fluid dashboardclass" id="f040001">
					<div class="container-fluid">
						<i-form class="" th:action="@{/f040001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f040001"/>
							<div class="row m-auto col-md-12">
								<div class="col-md-12 pl-0 pr-0">
									<div class="swiper-container col-md-12 h-30">
										<div class="col-md-12 d-flex">
											<div class="text-center col-md-9 h3 mt-1 text-left font-weight-bold">
												<div class="input-group col-md-4 m-auto">
													<input type="text" class="form-control input-field" placeholder="搜索视频">
													<button class="btn btn-sm btn-info">
														<i class="fa fa-search"></i>
														搜索
													</button>
												</div>
											</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="nav-item dropdown">
														<button type="button" class="btn btn-sm btn-reddit" onclick="amtf_video_Ask()">
															<i class="fa fa-history"></i>
															<span>观看历史</span>
														</button>
													</div>
												</div>
											</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="nav-item dropdown">
														<button type="button" class="btn btn-sm btn-reddit" onclick="amtf_video_Ask()">
															<i class="fa fa-cloud-upload"></i>
															<span>快速上传</span>
														</button>
													</div>
												</div>
											</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="nav-item dropdown">
														<button type="button" class="btn btn-sm btn-reddit" onclick="amtf_video_Ask()">
															<i class="fa fa-cloud-download"></i>
															<span>我的下载</span>
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-wrapper col-md-12 h-100">
											<div class="swiper-slide col-md-12 h-100"><img class="col-md-12 h-100" th:src="@{/img/login.jpg}" alt=""></div>
											<div class="swiper-slide col-md-12 h-100"><img class="col-md-12 h-100" th:src="@{/img/lock.jpg}" alt=""></div>
											<div class="swiper-slide col-md-12 h-100"><img class="col-md-12 h-100" th:src="@{/img/register.jpg}" alt=""></div>
										</div>
										<!-- 分页 -->
										<div class="swiper-pagination"></div>
										<!-- 切换 -->
										<!--<div class="swiper-button-next"></div>
										<div class="swiper-button-prev"></div>-->
									</div>
									<div class="col-md-12 pl-0 pr-0" id="video_list">
										<div class="card card-profile m-1">
											<div class="col-md-12 d-flex">
												<div class="col-md-5 h4 mt-1 text-left font-weight-bold">
													<span th:each="entity,idx:${f040001Params.select1}" class="col-sm-4 hand video_class" onclick="">
														<i th:class="${'fa ' + entity.video_class_img}" style="color: #ff4040c9"></i>
														[[${entity.video_class_name}]]
													</span>
												</div>
											</div>
											<div class="col-md-12 d-flex mt-3">
												<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
													<p class="text-left">今日热门</p>
												</div>
											</div>
											<div class="col-md-12 d-flex mt-3">
												<div class="col-md-12 h3 mt-1 mb-0 text-left font-weight-bold">
													<p class="text-left">原创专辑</p>
													<div class="d-flex col-md-12 h5 ml-0 mb-0 pl-0 pr-0" th:if="${not #lists.isEmpty(f040001Params.albumList)}">
														<div th:each="entity,idx:${f040001Params.albumList}" class="pr-2" style="height: 150px;width: 230px">
															<img th:src="@{/videoimg/{fileNmame}(fileNmame=${entity.video_img})}" class="w-100 h-75 hand" th:onclick="amtf_videoView([[${entity}]])"/>
															<span class="d-flex" style="margin-top: -23px;color: white;font-size: 2px">[[${entity.video_duration}]]</span>
															<span>[[${entity.video_head}]]</span>
														</div>
													</div>
													<div class="d-flex col-md-12 h5 ml-0 mb-0 pl-0 pr-0" th:if="${#lists.isEmpty(f040001Params.albumList)}">
														<div class="col-md-12 m-auto" style="color: #42423f4d">
															<!--<i class="fa fa-file-video-o"></i>-->找不到相关视频。。。
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-12 d-flex mt-3">
												<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
													<p class="text-left">热点小视频</p>
												</div>
											</div>
											<div class="col-md-12 d-flex mt-3">
												<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
													<p class="text-left">电视剧场</p>
												</div>
											</div>
											<div class="col-md-12 d-flex mt-3">
												<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
													<p class="text-left">电影</p>
												</div>
											</div>
											<div class="col-md-12 d-flex mt-3">
												<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
													<p class="text-left">少儿</p>
												</div>
											</div>
											<div class="col-md-12 d-flex mt-3">
												<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
													<p class="text-left">纪录片</p>
												</div>
											</div>
											<div class="col-md-12 d-flex mt-3">
												<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
													<p class="text-left">为您精选</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 上传视频modal -->
							<div class="modal fade" id="video_report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog" style="max-width: 100%">
									<div class="modal-content m-auto" style="width:1000px;">
										<div class="modal-body">
											<div class="instruction">
												<div class="row d-none" id="lookvideodiv" style="height: 300px">
													<div class="col-sm-10">
														<div class="col-sm-12 h-100">
															<span>标题*</span>
															<div class="h-20">
																<input id="video_head" type="text" class="input-field w-100 h-100" style="150px"/>
															</div>
															<div class="h-20">
																<span th:each="entity,idx:${f040001Params.select1}" class="col-sm-4 hand video_class" onclick="amtf_vider_GetClass(this)">
																	<i th:class="${'fa ' + entity.video_class_img}" style="color: #ff4040c9"></i>
																	[[${entity.video_class_name}]]
																</span>
															</div>
															<span>简介</span>
															<div class="h-75">
																<textarea id="video_body" type="text" class="input-field w-100 h-100 video_textarea" style="150px"></textarea>
															</div>
														</div>
													</div>
													<div class="col-sm-2">
														<video src="" class="ml-auto w-100" id="lookvideo" style="height: 100%"></video>
														<img src="" class="ml-auto w-100 d-none" id="video_upimg" style="height: 100%"/>
														<div class="text-center col-w hand" style="background-color: black" onclick="$('#upimgfile').click();">修改封面</div>
													</div>
												</div>
												<div class="row" id="commitvideodiv">
													<div class='box' style='position:relative;width: 100%;height: 300px;border:1px dotted #000'>
														<div class='box_txt' style='position:absolute;z-index:1;width: 100%;height: 100%;text-align:center;line-height: 50px;color:gray' onclick="$('#file0').click();">视频拖到此处或点击上传</div>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer justify-content-center col-sm-12 text-right mt-4 d-none" id="modal_btn">
											<button type="button" id="i-check" value="" class="btn h5 col-sm-1 ml-auto btn-sm" onclick="amtf_video_Return()" width="30px" height="20px">
												返回
											</button>
											<input type="file" name="commit_video" id="file0" multiple="multiple" style="display:none;" onChange="amtf_fileVideo(this)"/>
											<input type="file" name="commit_video_up" id="upimgfile" multiple="multiple" style="display:none;"/>
											<button class="btn btn-reddit h5 col-sm-1 ml-4 mr-auto btn-sm" onclick="amtf_video_Commit()">
												上传
											</button>
										</div>
									</div>
								</div>
							</div>
						</i-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>