<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>观看视频</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">
	.swiper-container {
	//你可以在这里设置宽高
	width: 50%;
		height: 50%;
	}
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		/* Center slide text vertically */
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.video_class:hover{

		color: #ff4040c9;
	}
</style>
<script type="text/javascript" language="javascript">
	$(function() {
		$('#file0').change(function() {
			//获取视频途径
			var objUrl = getObjectURL(this.files[0]);
			//判断是否存在
			if (objUrl) {
				$("#lookvideo").attr("src", objUrl);
				$("#lookvideo").show();
				$('#lookvideodiv').removeClass('d-none');
				$('#commitvideodiv').addClass('d-none');
			}
		});
	})
	// 上传
	function amtf_video_Commit () {
		amtf_submit(amtf_form, '/f040001/T001');
	}

	// 打开模态框
	function amtf_video_Ask(){
		$('#video_report').modal('show');
	}
$(function(){
	var swiper = new Swiper('.swiper-container', {
		spaceBetween: 30,
		centeredSlides: true,
		autoplay: {
			delay: 2500,
			disableOnInteraction: false,
		},
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
})
</script>
</head>
<body>
	<div class="wrapper">
		<!--<th:block th:replace="navbar :: mynavbar"></th:block>-->
		<div class="">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!--视频 -->
				<div class="container-fluid dashboardclass" id="f040001">
					<div class="container-fluid">
						<i-form class="" th:action="@{/f040001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f040001"/>
							<div class="row m-auto col-md-12">
								<div class="col-md-12 pl-0 pr-0">
									<div class="swiper-container col-md-12 h-40">
										<div class="col-md-12 d-flex">
											<div class="text-center col-md-9 h3 mt-1 text-left font-weight-bold">
												<div class="input-group col-md-4 m-auto">
													<input type="text" class="form-control input-field" placeholder="搜索视频">
													<button class="btn btn-sm btn-info">
														<i class="fa fa-search"></i>
														搜索
													</button>
												</div>
											</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="nav-item dropdown">
														<button type="button" class="btn btn-sm btn-reddit" onclick="amtf_video_Ask()">
															<i class="fa fa-history"></i>
															<span>观看历史</span>
														</button>
													</div>
												</div>
											</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="nav-item dropdown">
														<button type="button" class="btn btn-sm btn-reddit" onclick="amtf_video_Ask()">
															<i class="fa fa-youtube-play"></i>
															<span>我要上传</span>
														</button>
													</div>
												</div>
											</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="nav-item dropdown">
														<button type="button" class="btn btn-sm btn-reddit" onclick="amtf_video_Ask()">
															<i class="fa fa-cloud-download"></i>
															<span>我的下载</span>
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-wrapper col-md-12 h-100">
											<div class="swiper-slide col-md-12 h-100"><img class="col-md-12 h-100" th:src="@{/img/login.jpg}" alt=""></div>
											<div class="swiper-slide col-md-12 h-100"><img class="col-md-12 h-100" th:src="@{/img/lock.jpg}" alt=""></div>
											<div class="swiper-slide col-md-12 h-100"><img class="col-md-12 h-100" th:src="@{/img/register.jpg}" alt=""></div>
										</div>
										<!-- 分页 -->
										<div class="swiper-pagination"></div>
										<!-- 切换 -->
										<!--<div class="swiper-button-next"></div>
										<div class="swiper-button-prev"></div>-->
									</div>
									<div class="col-md-12 pl-0 pr-0">
										<div class="card card-profile m-1">
											<div class="col-md-12 d-flex">
												<div class="col-md-5 h4 mt-1 text-left font-weight-bold">
													<span th:each="entity,idx:${f040001Params.select1}" class="col-sm-4 hand video_class" onclick="">
														<i th:class="${'fa ' + entity.video_class_img}" style="color: #ff4040c9"></i>
														[[${entity.video_class_name}]]
													</span>
												</div>
											</div>
											<div class="col-md-12 d-flex">
												<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
													<p class="text-left">今日热门</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 上传视频modal -->
							<div class="modal fade" id="video_report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog" style="max-width: 100%">
									<div class="modal-content m-auto" style="width:1000px;">
										<div class="modal-body">
											<div class="instruction">
												<div class="row d-none" id="lookvideodiv" style="height: 300px">
													<div class="col-sm-10">
														<div class="col-sm-12">
															<span>标题*</span>
															<div>
																<input type="text" class="input-field w-100" style="150px"/>
															</div>
															<div>
																标签

															</div>
														</div>
													</div>
													<div class="col-sm-2">
														<video src="" class="ml-auto w-100" id="lookvideo" style="height: 100%"></video>
														<div class="text-center col-w" style="background-color: black">修改封面</div>
													</div>
												</div>
												<div class="row" id="commitvideodiv">
													<div class='box' style='position:relative;width: 100%;height: 300px;border:1px dotted #000'>
														<div class='box_txt' style='position:absolute;z-index:1;width: 100%;height: 100%;text-align:center;line-height: 50px;color:gray' onclick="$('#file0').click();">视频拖到此处或点击上传</div>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer justify-content-center col-sm-12 text-right">
											<!--<button type="button" id="i-check" value="" class="btn h5 col-sm-1 ml-auto" onclick="$('#file0').click();" width="30px" height="20px">
												选择
											</button>-->
											<input type="file" name="commit_video" id="file0" multiple="multiple" style="display:none;"/>
											<button class="btn btn-reddit h5 col-sm-1 ml-4" onclick="amtf_video_Commit()">
												上传
											</button>
										</div>
									</div>
								</div>
							</div>
						</i-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>