<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${f040001Params.videoView.video_head}]]</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">

</style>
<script type="text/javascript" language="javascript">
	$(function(){
		var myPlayer = videojs(document.getElementById('example_video_1'),{
			// 语言
			language: 'zh-CN',
			playbackRates: [0.5, 1, 1.5, 2],
			controlBar:{
				durationDisplay:true
			}
		})
		var isObtain = true;
		myPlayer.ready(function () {
			var myPlayer = this;
			myPlayer.play();
			//设置弹幕属性
			$("#danmu").danmu({
				/*left: $('#example_video_1').offset().left + 8,*/
				top: $('#example_video_1').offset().top,
				height: $('#example_video_1').height(),//$("#my-player").height(),
				width:  $('#example_video_1').width(),
				zindex: 100,
				speed: 7500,
				opacity: 1,
				font_size_small: 16,
				font_size_big: 24,
				top_botton_danmu_time: 6000
			});
			var myPlayer = this;
			//每次播放都会进入这个函数
			myPlayer.on("play", function () {
				//设置弹幕出发的起始位置
				$("#danmu").height($('#example_video_1').offset().top);
				/*$("#danmu").width(950);*/

				//从服务器获取弹幕信息
				if(isObtain){
					//这个data是json数据，由后端的 list集合(里面的元素是每条弹幕消息)转过来的json数据
					$.get(CONTEXT_PATH + '/f040001/T004' ,{
						video_id: [[${f040001Params.videoView.video_id}]]
					}, function (data) {
						$('#danmu').danmu("addDanmu", data.barrageList);
					}, "json");
					//保证只获取一次，不会应该视频的重新播放再次去获取数据，造成弹幕重复
					isObtain = false;
				}
				//设置弹幕与视频同步
				var whereYouAt = myPlayer.currentTime();
				console.log(whereYouAt);
				$('#danmu').danmu("setTime", Math.floor(whereYouAt * 10));
				// 开启弹幕
				$('#danmu').danmu('danmuResume');
			});

			myPlayer.on("pause", function () {
				//暂停播放时，停止弹幕
				$('#danmu').danmu('danmuPause');
			});
			myPlayer.on("progress", function () {
				console.log("progress");
			})
		});
	});

	// 观看视频
	function amtf_videoView(_entity) {
		var newinput = getNewInput('video_id', _entity.video_id);
		amtf_form.appendChild(newinput);
		amtf_submitNew(amtf_form, '/f040001/T002');
		reomveNewInput('video_id');
	}

	// 弹幕发言
	function amtf_video_Send() {
		var text = document.getElementById('video_text').value;
		var time = $('#danmu').data("nowTime") + 1;
		var color = "red";
		var position = "0";
		var size = "1";
		if (text != "") {

			$('#danmu').danmu("addDanmu",
					{text: text, color: color, size: size, position: position, time: time, isnew: ""});
			//将弹幕消息发送到后端，存到数据库中
			$.post(CONTEXT_PATH + '/f040001/T003', {
				video_id: [[${f040001Params.videoView.video_id}]],
				video_barrage_text: text,
				video_barrage_color: 'while',
				video_barrage_size: size,
				video_barrage_position: position,
				video_barrage_time: time
			}, function (data) {
				if(data.isbarrage <= 0){
					Message('error', '发言失败');
				}
			}, "json");
		}
		document.getElementById('video_text').value = '';
	}

	function changehide() {
		// 通过透明度控制是否显示弹幕
		if (document.getElementById("ishide").checked) {
			jQuery('#danmu').data("opacity", 1);
			jQuery(".flying").css({
				"opacity": 1
			});
		} else {
			jQuery('#danmu').data("opacity", 0);
			jQuery(".flying").css({
				"opacity": 0
			});
		}
	}

	function settime() {
		var t = document.getElementById("set_time").value;
		t = parseInt(t);
		console.log(t);
		$('#danmu').data("nowtime", t);
	}
</script>
</head>
<body id="main_body">
	<div class="wrapper">
		<!--<th:block th:replace="navbar :: mynavbar"></th:block>-->
		<div class="">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!--视频 -->
				<div class="container-fluid dashboardclass" id="f040001">
					<div class="container-fluid">
						<i-form class="" th:action="@{/f040001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f040001"/>
							<div class="row m-auto col-md-12">
								<div class="col-md-12 pl-0 pr-0">
									<div class="col-md-12">
										<div class="col-md-12 d-flex">
											<div class="text-center col-md-9 h3 mt-1 text-left font-weight-bold">
												<div class="input-group col-md-4 m-auto">
													<input type="text" class="form-control input-field" placeholder="搜索视频">
													<button class="btn btn-sm btn-info">
														<i class="fa fa-search"></i>
														搜索
													</button>
												</div>
											</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="nav-item dropdown">
														<button type="button" class="btn btn-sm btn-reddit" onclick="amtf_video_Ask()">
															<i class="fa fa-history"></i>
															<span>观看历史</span>
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="m-auto col-12">
												<!--显示弹幕-->
												<div id="danmu" class="flying" style="pointer-events:none;"></div>
												<video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered col-md-12" controls preload="none" style="height: 600px"
													   th:poster="@{/videoimg/{videoimg}(videoimg = ${f040001Params.videoView.video_img})}"
													   data-setup="{}">
													<source th:src="@{/videocommit/{videopath}(videopath = ${f040001Params.videoView.video_path})}"/>
												</video>
												<div class="d-flex col-md-12">
													<div class="col-md-11 pr-0 mr-0">
														<textarea id="video_text" type="text" class="input-field w-100 h-100 video_textarea" placeholder="请写下你的评论。。。"></textarea>
													</div>
													<div class="col-md-1 pl-0 ml-0">
														<button class="btn btn-lg m-0 btn-info" onclick="amtf_video_Send()">发言</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 pl-0 pr-0">
											<div class="card card-profile m-1">
												<div class="col-md-12 d-flex mt-3">
													<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
														<p class="text-left">作者</p>
														<div class="col-12 pl-0 d-flex">
															<div>
																<img th:src="@{/imgs/userimg.jpg}" th:if="${f040001Params.videoAuthor.imgpath == ''}" id="img1" style="height:38px;"/>
																<img th:src="@{/istatic/{fileNmame}(fileNmame=${f040001Params.videoAuthor.imgpath})}" th:if="${f040001Params.videoAuthor.imgpath != ''}" id="img1" style="height:38px;"/>
																<span class="h5">[[${f040001Params.videoAuthor.user_name}]]</span>
															</div>
														</div>
														<div class="col-12 pl-0 d-flex">
															<span class="h4">简介：</span><p class="h5">[[${f040001Params.videoView.video_text}]]</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 pl-0 pr-0" >
											<div class="card card-profile m-1">
												<div class="col-md-12 d-flex mt-3">
													<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
														<p class="text-left">为你推荐</p>
														<div class="col-12 pl-0 d-flex">
															<div class="pl-0 pr-3" th:each="entity,idx:${f040001Params.videoSimilar}" style="width: 220px;">
																<img th:src="@{/videoimg/{fileNmame}(fileNmame=${entity.video_img})}" class="img-transform hand" style="height: 265px;width: 200px;" th:onclick="amtf_videoView([[${entity}]])"/>
																<span class="h5">[[${entity.video_head}]]</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 pl-0 pr-0" >
											<div class="card card-profile m-1">
												<div class="col-md-12 d-flex mt-3">
													<div class="col-md-5 h3 mt-1 text-left font-weight-bold">
														<p class="text-left">评论</p>
														<div class="col-12 pl-0 d-flex">

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</i-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>