<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>观看视频</title>
<th:block th:replace="import :: myimport"></th:block>
<style type="text/css">

</style>
<script type="text/javascript">
	$(function() {
		$('#file0').change(function() {
			//获取视频途径
			var objUrl = getObjectURL(this.files[0]);
			//判断是否存在
			if (objUrl) {
				$("#lookvideo").attr("src", objUrl);
				$("#lookvideo").show();
				$('#lookvideodiv').removeClass('d-none');
				$('#commitvideodiv').addClass('d-none');
			}
		});
	})
	// 上传
	function amtf_video_Commit () {
		amtf_submit(amtf_form, '/f040001/T001');
	}

	// 打开模态框
	function amtf_video_Ask(){
		$('#video_report').modal('show');
	}
</script>
</head>
<body>
	<div class="wrapper">
		<!--<th:block th:replace="navbar :: mynavbar"></th:block>-->
		<div class="">
			<th:block th:replace="head :: myhead"></th:block>
			<div class="content">
				<!--视频 -->
				<div class="container-fluid dashboardclass" id="f040001">
					<div class="container-fluid">
						<i-form class="" th:action="@{/f040001}" method="post" style="height:100%;" id="amtf_form" enctype="multipart/form-data">
						<input type="hidden" name="IViewId" value="f040001"/>
							<div class="row m-auto col-md-11">
								<div class="col-md-9 pl-0 pr-0">
									<div class="card card-profile m-1">
										<div class="col-md-12 d-flex">
											<div class="text-center col-md-10 h3 mt-1 text-left font-weight-bold">最新视频</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="nav-item dropdown">
														<button typ e="button" class="btn btn-sm" data-toggle="dropdown">
															<span>选择视频类型</span>
														</button>
														<div class="dropdown-menu">
														</div>
													</div>
												</div>
											</div>
											<div class="input-group no-border col-sm-1">
												<div class="m-auto d-flex">
													<div class="nav-item dropdown">
														<button type="button" class="btn btn-sm btn-reddit" onclick="amtf_video_Ask()">
															<span>我要上传</span>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 上传视频modal -->
							<div class="modal fade" id="video_report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog" style="max-width: 100%">
									<div class="modal-content m-auto" style="width:1000px;">
										<div class="modal-body">
											<div class="instruction">
												<div class="row d-none" id="lookvideodiv" style="height: 300px">
													<video src="" class="ml-auto" id="lookvideo" style="height: 100%"></video>
												</div>
												<div class="row" id="commitvideodiv">
													<div class='box' style='position:relative;width: 100%;height: 300px;border:1px solid #000'>
														<div class='box_txt' style='position:absolute;z-index:1;width: 100%;height: 100%;text-align:center;line-height: 50px;color:gray' onclick="$('#file0').click();">视频拖到此处或点击上传</div>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer justify-content-center col-sm-12 text-right">
											<!--<button type="button" id="i-check" value="" class="btn h5 col-sm-1 ml-auto" onclick="$('#file0').click();" width="30px" height="20px">
												选择
											</button>-->
											<input type="file" name="commit_video" id="file0" multiple="multiple" style="display:none;"/>
											<button class="btn btn-reddit h5 col-sm-1 ml-4" onclick="amtf_video_Commit()">
												上传
											</button>
										</div>
									</div>
								</div>
							</div>
						</i-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>