<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="vue-import">
		<head>
			<meta charset="UTF-8">
			<!-- vue.js引入 -->
			<script th:src="@{/js/vue.js}"></script>
			<!-- axios引入 -->
			<script th:src="@{/js/axios.min.js}"></script>
			<!-- Element引入样式 -->
			<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
			<!-- Element引入组件库 -->
			<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		</head>
		<body>

		</body>
		<script type="text/javascript">

		</script>
	</th:block>
</html>
