<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"></meta>
<th:block th:fragment="wait">
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal_wait" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="z-index: 111111;" data-backdrop="static">
		<div class="mod1class">
			<div class="" style="padding-left:40%;" id="modthis">
				<div class="modal-content text-center" style="width: 300px;height:50px;">
					等待中。。。。。。
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>